
<p>
<a  href='/handbook/doku.php?id=intro'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;position:absolute;top:0;left:0;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrowp.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

<p>
<a  href='/handbook/doku.php?id=install'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;position:absolute;top:0;margin-left:2.5em;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrown.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

<h1 class="sectionedit1" id="pre-installation">Pre-Installation</h1>
<div class="level1">

<p>
The first step in creating Slackermedia is to install Slackware and configure it for your machine. It is strongly advised that a user be familiar with GNU, Linux, BSD, or UNIX before attempting to build a Slackermedia system. However,
it is hardly unheard of (and in fact, arguably best) for someone to start their Linux journey with Slackware. This chapter will guide you through the install process and it will attempt to flag potential points of confusion.
</p>

<p>
There is no way for this book to anticipate every problem possible, but there are many resources online to help a new Linux or new Slackware user through the installation process, not the least of which is the official Slackware documentation at docs.slackware.com. Some support for installation is available via <a href="http://linuxquestions.org" class="urlextern" title="http://linuxquestions.org"  rel="nofollow">http://linuxquestions.org</a>, which is a forum run by volunteers, so be patient,
friendly, and do as much research as possible before asking questions so that the answers that you do get are not redundant to your efforts.
</p>

<p>
If you are looking into using Slackermedia for a large user base and you require paid support, <a href="http://slackermedia.info/support" class="urlextern" title="http://slackermedia.info/support"  rel="nofollow">contact the author</a> to discuss options.
</p>

</div>
<!-- EDIT1 SECTION "Pre-Installation" [234-1436] -->
<h2 class="sectionedit2" id="off-the-shelf_linux_systems">Off-the-Shelf Linux Systems</h2>
<div class="level2">

<p>
Computers are mostly sold with an operating system already installed and configured by the OEM vendor. If that is the experience that you seek, then you
should purchase computers from <a href="http://zareason.com" class="urlextern" title="http://zareason.com"  rel="nofollow">http://zareason.com</a> or <a href="/handbook/doku.php?id=http:system76.com" class="wikilink2" title="http:system76.com" rel="nofollow">//system76.com</a>, or any vendor offering any kind of pre-installed Linux. With Zareason, you can even request a
Slackware install, but even if the vendor will not pre-install Slackware, at least when you purchase from a Linux-oriented vendor, you know that the
hardware is tested for compatibility, which makes the install process nearly trivial.
</p>

</div>
<!-- EDIT2 SECTION "Off-the-Shelf Linux Systems" [1437-2044] -->
<h2 class="sectionedit3" id="hardware_selection">Hardware Selection</h2>
<div class="level2">

<p>
If you do not have the money or inclination to purchase a pre-approved Linux computer, you can install Slackware yourself. You can even build your own workstation from parts, if you are looking for higher-than-usual performance, or you just happen to enjoy building your own PC.
</p>

<p>
If you are a starving artist with strong technical tendencies, then you can even rescue a computer from a dumpster (either figuratively or literally), fix it up as needed, and then install Linux.
</p>

<p>
If you have never installed an operating system, you will probably find it far easier than you might imagine, as long as you choose the right hardware. Most problems in a Linux install occur due to closed source drivers, so choosing hardware that is designed to make a user&#039;s life easy will save you time and effort.
</p>

<p>
The Linux kernel has become famous for its hardware support, but it never hurts to research what you are about to purchase with real-world case-studies. There are a handful of sites on the internet dedicated to analyzing how different
hardware works with Linux, which works best as a boolean determination of compatibility; it can accurately be measured whether something does or does not work with Linux. Degrees, however, are harder to ascertain, since one person&#039;s
requirements for performance might be drastically different than another person&#039;s.
</p>

<p>
The best way to make sure hardware works to the degree needed from a multimedia artist is to test the hardware. Burning a liveCD of a multimedia distribution and taking that disc to a computer store and rebooting the target machine into
Linux is a very good way to judge hardware Linux compatibility and performance.
</p>

<p>
While liveCDs will run slower than running an <abbr title="Operating System">OS</abbr> from the harddrive, it should still give the user a good idea of severe problems, and the user should make some allowances for the fact that the test is being performed on a liveCD.
</p>

<p>
If specific multimedia peripherals are required to work as well, they can be judged separate from the workstation itself. Regardless of what computer is
purchased, the Linux kernel either does or does not have support for a peripheral. An online search or tests at home on any computer available should
reveal whether or not an interface or peripheral is recognized and usable on Linux.
</p>

<p>
The computer market can be confusing and it is often difficult to know what actually has a pragmatic significance in multimedia. In other words, all things being equal, where in a computer system should a buyer spend money? Some general things to keep in mind:
</p>

</div>
<!-- EDIT3 SECTION "Hardware Selection" [2045-4623] -->
<h3 class="sectionedit4" id="cpu">CPU</h3>
<div class="level3">

<p>
There was a time when every last megahertz really did matter to the end user, but lately most CPUs have reached a mostly-equal plateau in speed. Brands and model names will advertise different features but generally speaking any
general-purpose computer AMD or Intel 64-bit CPU will do as well with
multimedia as another. “General purpose” excludes chips designed specifically
for netbooks and other ultra-portable or low-power devices.
</p>

<p>
CPUs process data, so the jobs that benefit most from multiple CPUs or very
fast CPUs are processing-heavy activities such as video compression,
non-realtime special effect rendering, realtime audio effect generation, audio
effect rendering (sometimes called “freezing” in a DAW), large image
conversion, audio file conversion or compression, and so on. Very broadly
speaking, it could be said that the CPU matters most on jobs that involve
pressing a button and then getting up and going for a cup of coffee in
anticipation of having to wait for the job to be complete. Some of these jobs
will literally last for days, others may only be a few seconds past the point
at which a typical user becomes bored with waiting.
</p>

<p>
If you are going to do to do graphically-intensive work such as 3d modeling,
digital painting, or video editing, then go with a mid-range CPU and spend more
money on a good graphics processor.
</p>

<p>
If you are going to do audio work, put your money into CPU and RAM, and spend
less on the graphics card.
</p>

<p>
Finally, do not be confused by branding. Intel and AMD are basically the same
in function and performance from a practical standpoint. The brand should never
be a deciding factor.
</p>

</div>
<!-- EDIT4 SECTION "CPU" [4624-6278] -->
<h3 class="sectionedit5" id="ram">RAM</h3>
<div class="level3">

<p>
How much RAM you have dictates, largely, what size projects your system can
comfortably handle. Audacity. for instance, will be responsive with a 30-second
spot but will feel sluggish with longer projects, or projects with a great many
tracks. GIMP will do well on web graphics but struggle with for-print graphics.
This is simply because information is moving in and out of RAM; upgrade the
amount of RAM, and the applications will function more consistently.
</p>

<p>
The speed of RAM is less talked about in consumer electronics, but the overall
responsiveness of the system is greatly dependent upon it. The faster the RAM,
the faster the information can be moved from RAM to CPU for processing, so
given the choice, purchase the faster RAM. On the other hand, if money is an
issue, try to find a happy medium between storage space and speed.
</p>

<p>
The old adage that “you can never have too much RAM” has not held up all that
well with time, at least not on a normal desktop or laptop (render farms and
RAM disks are notable exceptions). Realistically, you can only be doing so many
things at once, so unless you just open up every large project simply to spite
your computer, some RAM will end up net being used. So get a lot of RAM, but if
price is an issue, only get a little more than you anticipate needing. If you
have money to spend, get some extra RAM for comfort, but don&#039;t go overboard
unless you are actively building a render farm.
</p>

</div>
<!-- EDIT5 SECTION "RAM" [6279-7730] -->
<h3 class="sectionedit6" id="hard_drive">Hard drive</h3>
<div class="level3">

<p>
Hard drives are quite reasonably priced, so more is probably better, and
financially possible for all but the most severest of budgets. Less affordable
are Solid State Drives (SSD), but the performance increase is so remarkable
that it is strongly suggested that you purchase an SSD drive for at least part
of your system; since it only needs to house the applications, it can be a
small drive (16gb or 32gb will do, considering that the entire Slackware
distribution, uncompressed, is only about 10gb).
</p>

<p>
An ideal, but still affordable, setup would be one SSD drive to hold the
binary, executable applications that run your computer (and the multimedia
applications which you will run on a daily basis), one standard hard drive to
house all of your data as well as the system data, and a third standard hard
drive to perform constant backups.
</p>

</div>
<!-- EDIT6 SECTION "Hard drive" [7731-8597] -->
<h3 class="sectionedit7" id="graphics_card">Graphics Card</h3>
<div class="level3">

<p>
A powerful graphics card is quite important if you will be doing video and
graphics work. For serious visual multimedia, it is very likely that you will
need to install a proprietary graphics card driver since the companies do not
release their driver code as free software. This is unfortunate and taints an
otherwise open source system, but the performance increase can be measured in
orders of magnitude.
</p>

<p>
If you are not doing intensive video or graphics work, then probably your only
concern with a graphics card is whether it will work and handle the basic
visual needs of your system. For these low-end to mid-range cards, the drivers
can come from Nvidia, ATI, or Intel, or from the Linux (actually Xorg)
developers. Performance can usually be gauged in tests at any computer store.
</p>

<p>
Whether you&#039;re looking for a high-performance card or a mid-range card, you can
always determine the official support by going to the chipset manufacturer&#039;s
website and finding a download (or lack thereof) for the card. If the download
is there, you are at least guaranteed performance for that chipset, on the
kernel or kernels for which the code was released.
</p>

<p>
Otherwise, look on the X.org website to see if they have a driver for the card
you are looking to buy (or buy along with a laptop or pre-built system), and
take note of what kind of performance results are being seen with those drivers
on that card.
</p>

<p>
Not out of allegiance for a particular brand, the best bet for graphics are
pragmatically Intel for light graphic work (photos, still image compositing,
some 3d titling, light video editing) and Nvidia for moderate-to-high graphic
work (serious 3d modeling, complex video editing, animation, video compositing,
large-format photo work). Nvidia is infamously proprietary and secretive, but
they do actively maintain their code, and it performs well. Developers hate them, but in
terms of results, they are the high-end graphics to use.
</p>

<p>
Currently, it is recommended that you avoid AMD (formerly ATI) graphic cards.
</p>

</div>

<h4 id="gpu_tests">GPU Tests</h4>
<div class="level4">

<p>
Buying a GPU is nearly as complicated as buying a computer. GPU cards have processor clock speeds, RAM, RAM speed, bus speed, fans, a variety of possible monitor outputs, and may even require additional power to run.
</p>

<p>
Actually using a GPU notwithstanding, the best way to get a feel for GPU performance is to keep a finger on the pulse of the GPU market, especially within either the visual effects or the gamer community. The VFX community would presumably be the most apropos group to follow, but they tend to be less verbose about the gear they use than the gamer community. Since so much of gaming depends on realtime GPU performance, and gamers are some of the most demanding computer geeks alive, and they tend to take pride in their computer builds. Consequently, when gamers rave about a GPU, you know that the GPU is worth the money.
</p>

<p>
The general-purpose multimedia community is usually less reliable, since so many of the users in that space don&#039;t actually know what a GPU or a
CPU does. They generally know a lot about video editing or 3d modeling, but not much about the technical side of what makes it all happen.
</p>

<p>
A GPU&#039;s performance is defined primarily by how much video memory it has, and how fast its processor is. Look at a card&#039;s specs, and find out the clock speed and the amount of memory, and use these numbers to determine what to expect
from the card.
</p>

<p>
A few unscientific tests to determine the real-world performance of a graphics
card, should you have the opportunity to test it in a computer store before buying, is to go burn an image of <a href="http://slax.org" class="urlextern" title="http://slax.org"  rel="nofollow">Slax</a>, a portable live Linux distribution based on Slackware. Take the CD (or USB drive, if you&#039;re savvy) to a computer store and put it into any display computer and reboot. 
</p>
<!-- EDIT8 PLUGIN_WRAP_START [0-] --><div class="wrap_tip plugin_wrap">
<p>
For a full explanation of how to use Slax, see the website <a href="http://straightedgelinux.com/slax" class="urlextern" title="http://straightedgelinux.com/slax"  rel="nofollow">http://straightedgelinux.com/slax</a>.
</p>
</div><!-- EDIT9 PLUGIN_WRAP_END [0-] --><ol>
<li class="level1"><div class="li">Launch KDE&#039;s System Settings and turn on Desktop Effects in the Desktop pane.</div>
</li>
<li class="level1"><div class="li">Navigate to the All Effects tab and turn them all on.</div>
</li>
<li class="level1"><div class="li">Close System Settings (saving your changes). If any of the effects are not able to be activated, then that GPU is obviously limited (or its driver is).</div>
</li>
<li class="level1"><div class="li">Assuming all the effects can be enabled, open a few windows (Dolphin, Konsole, konqueror, and so on) and play a video in Dragon; while the video is playing, use <code>alt-tab</code> to switch between the windows.</div>
</li>
<li class="level1"><div class="li">If the video and its reflection continues to play smoothly through the animated switching, the card will more than likely be a suitable card for at least moderate to heavy video work and other multimedia creation.</div>
</li>
<li class="level1"><div class="li">Continue to add more videos, and continue to <code>alt-tab</code> to test the limits of the card. Take note of flickering, stuttering, and other distortion.<br/>
</div>
</li>
</ol>

<p>
<br/>

If you have time and the skill for Blender, test it out on the computer. If Blender performs well, then the card is probably well-suited for any other
visual work you have in mind for it.
</p>

</div>
<!-- EDIT7 SECTION "Graphics Card" [8598-13607] -->
<h3 class="sectionedit10" id="sound_card">Sound card</h3>
<div class="level3">

<p>
Play sound to ensure that the speakers are being recognized and are supported
by the Linux kernel. Assuming that the computer does provide sound, try playing
multiple sources of sound and test how the audio card handles multiple tasks.
Obviously, the more robust the card, the better, but in most computers the real
test is simply whether or not the sound card is recognized. For multiple inputs
and outputs, an additional, more professional sound card or interface will need
to be added.
</p>

<p>
Audio difficulties usually arise from either HDMI (the computer might see HDMI
as the primary output, but most speakers plug into the 3.5mm jack), or from dual-purpose audio jacks (a horrendous invention that combines the output for
headphones with the input for a microphone, meaning that you can never have both plugged into your computer at once).
</p>

<p>
If audio does not appear to work during your tests, chances are that it will either never work, or it will work only after much re-configuration. Consider
that before you purchase.
</p>

<p>
If you are having problems in your sound tests, find out the specs of the audio card with the command <code>aplay -l</code> and then research the model online.
</p>

</div>
<!-- EDIT10 SECTION "Sound card" [13608-14806] -->
<h3 class="sectionedit11" id="wireless_card">Wireless card</h3>
<div class="level3">

<p>
Although this is less of a problem now than it has been historically, there are wireless network cards that simply do not have Linux drivers. Recently more
drivers have been developed and hacks around the lack of drivers have been implemented, but a cursory test of the wireless card is worth while. If it is not recognized, issue the command <code>lspci</code> on the command line and look through the listing to find the card&#039;s chipset. Perform an online search to find out how well supported the chipset is and review the necessary steps that will need to be taken for the card to function.
</p>
<!-- EDIT12 PLUGIN_WRAP_START [0-] --><div class="wrap_tip plugin_wrap">
<p>
The go-to site for wireless information on Linux is <a href="https://wireless.wiki.kernel.org" class="urlextern" title="https://wireless.wiki.kernel.org"  rel="nofollow">https://wireless.wiki.kernel.org</a>.
</p>
</div><!-- EDIT13 PLUGIN_WRAP_END [0-] -->
</div>
<!-- EDIT11 SECTION "Wireless card" [14807-15527] -->
<h3 class="sectionedit14" id="webcam">Webcam</h3>
<div class="level3">

<p>
Webcams are generally well-supported in Linux, even if they are not recognized out of the box. If the webcam is vital, launch <code>vlc</code> to test whether the webcam is recognized.
</p>
<ol>
<li class="level1"><div class="li">Launch <code>vlc</code>; install if it is not already on the liveCD </div>
</li>
<li class="level1"><div class="li">Navigate to the File menu and choose Open Capture Device</div>
</li>
<li class="level1"><div class="li">How the webcam will be seen is difficult to predict; it might be listed as <code>/dev/video0</code> or it may be some other name, and it may use the video4linux (<code>v4l2</code>) driver or the UVC driver.</div>
</li>
<li class="level1"><div class="li">Play around with the settings, look at the <code>/dev</code> listing in a terminal as needed, and see if you can get an image from the webcam when you press the Play button in the capture device window.</div>
</li>
</ol>

</div>
<!-- EDIT14 SECTION "Webcam" [15528-16236] -->
<h3 class="sectionedit15" id="miscellaneous_considerations">Miscellaneous Considerations</h3>
<div class="level3">

<p>
Anticipate what might be required of the multimedia system and take this into consideration whilst considering the purchase. The outward appearance of a computer matters not at all compared to its capabilities. Proprietary connection types and a lack of common features like an optical drive or SD card reader will only complicate the always complex task of importing media.
</p>

<p>
If it is not a new computer being purchased, but a used computer, the same tests should be performed, in addition to common physical tests, such as
ensuring all of the ports are functioning, the optical drive functions as expected, the harddrive is healthy, and so on.
</p>

<p>
In all cases, the commands 
</p>
<pre class="code">lspci &gt;&gt; lspci_computerModel.txt</pre>

<p>
and 
</p>
<pre class="code">aplay -l &gt;&gt; aplay_computerModel.txt</pre>

<p>
should be performed, and the resulting files
(<code>lspci<em>computerModel.txt<code> and </code>aplay</em>computerModel.txt</code>) should be saved to a
thumbdrive for later review. The <code>lspci</code> command lists all internal components such as the graphics card, amount of RAM, wireless card, and so on. Some
commands to bear in mind in general:
</p>
<ul>
<li class="level1"><div class="li"><code>lspci</code> lists all major internal components including revision numbers and much more</div>
</li>
<li class="level1"><div class="li"><code>cat /proc/cpuinfo</code> lists all details on the CPU(s)</div>
</li>
<li class="level1"><div class="li"><code>free -g</code> reveals how much RAM is in the system in gigabytes, and <code>free -m</code> reveals the RAM in megabytes</div>
</li>
<li class="level1"><div class="li"><code>df -h</code> reveals free disk space in human readable format; useful for checking the size of the harddrive</div>
</li>
</ul>

</div>
<!-- EDIT15 SECTION "Miscellaneous Considerations" [16237-17752] -->
<h2 class="sectionedit16" id="desktop_or_laptop">Desktop or Laptop?</h2>
<div class="level2">

<p>
It&#039;s financially advantageous for computer manufacturers to claim that their laptops are as powerful as traditional desktop computers; it encourages people to buy laptops, which feature lower-specs for higher prices. These claims seem
true at first glance. After all, if someone is editing a video clip on a laptop
then the marketing must have been right.
</p>

<p>
The truth, of course, is that laptops have lower-specs than a desktop that is
even a fraction of its price, so for the same amount of money as one might
spend on a good laptop, a downright amazing desktop could be purchased. And for
every professional artist you see working on their masterpiece on a laptop in
either a glossy magazine ad or in a trendy cafe, there are ten real artists
working on actual productions at their desktops.
</p>

<p>
If it is horsepower you seek, then you should invest in a desktop machine. If
you are more flexible with how much raw power you have at your immediate disposal and value mobility, then obviously a laptop is probably a better
choice.
</p>

</div>
<!-- EDIT16 SECTION "Desktop or Laptop?" [17753-18812] -->
<h2 class="sectionedit17" id="building_your_own_system">Building Your Own System</h2>
<div class="level2">

<p>
Building your own system from parts is the best possible option you have in terms of finances and control. Useless parts are not forced upon you, you can achieve a perfect balance of all the different features and capabilities you need, and there always room for expansion.
</p>

<p>
A computer consists of a few main parts that can be bought individually from any good computer store. You must ensure that all of the parts fit together
properly, which can be tricky for beginners, but if you read the descriptions of the items carefully and match all of the part numbers and types together, then you will be able to assemble it with success.
</p>

<p>
If you are unsure about what you&#039;ve chosen, find an <abbr title="Internet Relay Chat">IRC</abbr> server where you can chat with Linux geeks, and ask them about the parts you&#039;ve chosen. Slackermedia
itself maintains an open <abbr title="Internet Relay Chat">IRC</abbr> channel on the <a href="http://irc.freenode.net" class="urlextern" title="http://irc.freenode.net"  rel="nofollow">http://irc.freenode.net</a> network.
</p>

<p>
Balancing cost with performance is obviously an eternal struggle. Keep in mind what you really want from your computer, and spend your money accordingly. For graphics and video, concentrate on the graphics card; for audio, lean toward
the CPU and RAM, and possibly an extra audio card or interface, and for writing, well, buy a second-hand netbook and save your money for coffee.
</p>

<p>
In any case, consider purchasing an SSD drive (solid state harddrive) for your system. The performance increase is mind-boggling and a small 16gb or 32gb SSD drive can easily hold the system partitions for Slackware (that sounds small, but consider that Slackware itself is distributed on a 4.7 disc).
</p>

<p>
In every case, try to re-use parts from other computers; if you can recycle an optical drive, save yourself the expense. Find an old keyboard you can use, pull a network card from a neighbour&#039;s discarded computer. Offer to rescue a
helpless Windows user&#039;s data in exchange for the parts of their dead computer.
Building your own box makes re-directing cashflow quite easy.
</p>

<p>
Slackware&#039;s installation is menu-based and provides all the information needed to understand the process. This is not necessarily true with all operating system installers, or even with all Linux installers, but with Slackware, reading the screen makes the installation fairly self-explanatory.
</p>

<p>
The following walk-through will explain how to do a normal, general-purpose Slackware install. If you require something more complex (hint: you probably
don&#039;t), then refer to <a href="http://docs.slackware.com" class="urlextern" title="http://docs.slackware.com"  rel="nofollow">http://docs.slackware.com</a>.
</p>

<p>
Installation of Slackware begins with obtaining a Slackware installation disc. Since an installation disc is a handy thing to have around, and since you&#039;ll likely find Slackware a priceless addition to your studio, purchase a disc from
the Slackware Store. If you cannot afford an install disc, it is also available
for free from <a href="http://slackware.com" class="urlextern" title="http://slackware.com"  rel="nofollow">http://slackware.com</a> or via bit torrent.
</p>

<p>
&lt;WARP alert&gt;
Slackermedia officially advises against “dual booting”, a somewhat popular method of having more than one operating system or versions of operating
systems on a single computer. Dual booting is fine for bug testing or trying out various versions of Linux, or for enabling a user to have both a
proprietary <abbr title="Operating System">OS</abbr> needed for work and one free <abbr title="Operating System">OS</abbr> for real life, but it tends to add confusion to the installation process as well as to the stability of the system since one <abbr title="Operating System">OS</abbr> may attempt to change the master boot record unexpectedly, or a user of the other <abbr title="Operating System">OS</abbr> may accidentally erase or corrupt another partition, and so on.
</p>

<p>
Slackware works best when you simply <a href="/handbook/doku.php?id=ref:mantra" class="wikilink1" title="ref:mantra">have faith in it</a>. Dual-booting provides a false sense of unnecessary security, and helps subconciously reinforce the idea that Slackware is too complex or too independent or not popular enough, or whatever subconscious fear you happen to have about it.
</p>

<p>
Install Slackware and use it. Or don&#039;t. But don&#039;t hedge your bets and dilute your commitment.
&lt;/WARP&gt;
</p>

<p>
At $50, a complete operating system and a complete set of applications is not a bad price, and all the money goes to Slackware, so do consider paying if you can.
</p>

<p>
After the Slackware install disc has been obtained, begin installation as with any other <abbr title="Operating System">OS</abbr> or distribution: place the disc into your optical drive, and reboot the computer with BIOS or EFI settings such that the optical drive
precedes the harddrive in boot order.
</p>

</div>
<!-- EDIT17 SECTION "Building Your Own System" [18813-23132] -->
<h2 class="sectionedit18" id="motherboard_settings">Motherboard Settings</h2>
<div class="level2">

<p>
There are dozens of motherboards on the market, and there is no way to cover
them all, but there are some general things to know about motherboard settings.
First of all, the settings of a motherboard can be modified by an embedded
firmware interface. By modifying the motherboard settings, you can activate or
deactivate features that will help your install go much smoother, and possibly
enable your computer to have better performance.
</p>

<p>
&lt;WARP alert&gt;
Apple hardware locks down the motherboard firmware interface, making it inaccessible to the user. They have some snag keys that perform basic actions
(such as activating a verbose boot, or selecting a boot device) but mostly the user is locked out.
&lt;/WARP&gt;
</p>

<p>
To enter the firmware interface of a motherboard, there is a “snag key” that you must press just after powering up the computer. The snag key will probably be different depending on what motherboard your computer uses, but it&#039;s usually
<code>Del</code> or <code>F2</code> or <code>Esc</code>. Refer to onscreen instructions if there are any, or to the
motherboard&#039;s documentation, if you are not sure.
</p>

<p>
Available options vary from motherboard to motherboard, but these are important ones to look for:
</p>
<ul>
<li class="level1"><div class="li">Motherboard Settings</div>
<ul>
<li class="level2"><div class="li">Secure Boot: motherboards made around the time of Windows 8 may have the option of using “Secure Boot” (on some boards, the option is rather to <em>not</em> use “Secure Boot”). “Secure Boot” should be deactivated, as it will treat any non-Microsoft <abbr title="Operating System">OS</abbr> as, more or less, a virus.</div>
</li>
<li class="level2"><div class="li">Boot Order: this controls which drive gets priority when the computer gets powered on. Set it to look to the optical media first, then whatever drive you will be installing Linux to.<br/>

<br/>

You can usually override this setting manually, as well, with some other snag key at boot time (<code>F8</code> or <code>F9</code> seem to be popular choices).</div>
</li>
<li class="level2"><div class="li">Partition support: every motherboard seems to label this differently, so look for CSM Mode, IDE Mode, BIOS Legacy, or anything with options differentiating BIOS and UEFI.<br/>

<br/>

There are, basically, two types of motherboards: those that use BIOS and those that use UEFI.<br/>

<br/>

If your motherboard uses BIOS, then you will use MBR partition headers, and will not be able to use any single drive that is larger than 2TB in size (you can RAID several drives together into an array greater than 2TB, but no single drive can be over 2TB due to limitations of MBR) UEFI motherboards can use the GPT (GUID) partition type, free of any pragmatic limit on drive size.<br/>

<br/>

UEFI motherboards usually have the option to also support MBR partitions (usually labelled “legacy mode”).<br/>

<br/>

If you do not have a drive that is greater than 2TB, then you can use this mode. If you have a drive greater than 2TB then you must use the GPT partition type.</div>
</li>
<li class="level2"><div class="li">Date and Time: take note of the date and time settings on your motherboard. If they are incorrect, set them to either local time or to GMT (also called UTC).
<p>
 <a  href='/handbook/doku.php?id=install'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;float:right;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrown.png' /></span><span class='plugin_button_text wikilink1'></span></span></a><a  href='/handbook/doku.php?id=intro'><span class='plugin_button' style='border:0;background:none;width:0;float:right;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrowp.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>
</div>
</li>
</ul>
</li>
</ul>

</div>
<!-- EDIT18 SECTION "Motherboard Settings" [23133-] -->