
<p>
Chapter 1.  Digikam
</p>

<p>
Strengths
</p>

<p>
Photo Management
</p>
<pre class="code">Digital photography has left most people with thousands of photos that they
never look at because they cannot begin to organise them all. Digikam is a
sensible organisational environment. Yes, you could just organise photos in
your file manager, but Digikam makes more sense.</pre>

<p>
Configurable
</p>
<pre class="code">The KDE family is know for configurability, and Digikam is no exception.
They&#039;re your photographs, so you deal with them anyway you want; Digikam
will help, but never get in your way.</pre>

<p>
Weaknesses
</p>

<p>
Complex
</p>
<pre class="code">This is an application filled with features and configuration options, so
it takes time to learn it entirely, and then more time to decide which
features you want to use and which ones you want to ignore.</pre>

<p>
No Non-Destructive Editing
</p>
<pre class="code">Compared to Darktable, which configures non-linear filters through which
you may view and export those images, Digikam modifies the pixels of the
image linearly.</pre>

<p>
See Also
</p>

<p>
Darktable
GIMP
Shotwell
</p>

<p>
Digikam is a direct competitor to powerful digital darkroom applications as
well as to photo managers. It is fully featured, powerful, and has a rich
plugin structure which enables the addition of even more features as the need
arises (such as quick uploaders to popular online photo shares, new filters,
and so on). Even if a graphic artist or photographer is happy using GIMP, 
digikam is a useful tool for its workflow and image manipulation ability.
</p>

<p>
An ebook with Digikam “recipes” is available from one of the developers:
dmpop.dhcp.io%#!digikamrecipes.md
</p>

<p>
While GIMP concentrates on enabling an artist to open an image for re-touching,
compositing, and general manipulation, Digikam&#039;s goal is to organize
photographs, making them easy to see as an overview of a photoshoot or life
events and to choose the best “take” out of multiple images. It can also do
image correction and even has a robust set of plugins and filters such that it
approaches some of more interesting features of GIMP. However, it does not try
to emulate or replace GIMP and is not meant for serious compositing, such as
combining parts of two almost-perfect photographs to make one perfect shot, or
adding text or elaborate lighting effecs.
</p>

<p>
Digikam is installable from slackbuilds.org.
</p>
