
<p>
Chapter 1. Blender
</p>

<p>
Table of Contents
</p>

<p>
Binary Installation
Compiling from Source
Blender Plugins
Renderers
Blender as a Video Editor
</p>

<p>
Strengths
</p>

<p>
Powerful
</p>
<pre class="code">Full-featured and mature, capable of nearly anything.</pre>

<p>
Stable
</p>
<pre class="code">Quality code that takes reliability seriously.</pre>

<p>
Efficient
</p>
<pre class="code">A finely-tuned user interface for fast and fluid control.</pre>

<p>
Flexible
</p>
<pre class="code">Rich Python API allows for user customisation.</pre>

<p>
Weaknesses
</p>

<p>
Complex
</p>
<pre class="code">There is a learning curve that some people consider steep.</pre>

<p>
Misunderstood
</p>
<pre class="code">Because it is powerful, people often praise it for things that it can
technically do, even though it may not be the best application for that
task. Alternately, people do not understand what it does.</pre>

<p>
See Also
</p>

<p>
MakeHuman
K3d
Kdenlive
Natron
Synfig Studio
Mitsuba
Luxrender
Yafaray
povray
</p>

<p>
Blender is a powerful application that can be used for 3d modeling, graphics,
motion graphics, compositing, special effects, game design, and quite a lot
more. It is very actively developed, with new features arriving often. Blender
is not just in use by movie studios, tv stations, and independent artists
around the world, but by the Blender Foundation itself, which produces short
films on a regular basis, adding features to the application based directly
upon artist needs. Blender is by no means an academic exercise; it is a serious
tool for serious production.
</p>

<p>
Binary Installation
</p>

<p>
There are pre-compiled binaries available on the blender.org site (with easy
installation possible from SlackBuilds.org) for 32-bit and 64-bit systems. 
Blender is rapidly developed, and yet the releases are quite stable, so there
is probably no harm in checking the site before installing to ensure that you
are getting the latest version.
</p>

<p>
The precompiled binaries from blender.org force you to use the bundled version
of ffmpeg, which may or may not be the best version of ffmpeg for your needs.
For most people, the pre-compiled version of Blender is suitable, but if you
want to use your own custom compiled version of ffmpeg, you must compile 
Blender from source code. It is sensible to start with a pre-compiled version
of Blender and then “upgrade” to a custom version only if you find the need to
do so.
</p>

<p>
Note
</p>

<p>
When installing from slackbuilds.org, Blender is installed to /opt, a standard
non-standard location. This will not effect how Blender works or even how you
interact with it, but it could effect how you install plugins (if you are
maintaining a system for multiple users).
</p>

<p>
Compiling from Source
</p>

<p>
The compilation process of Blender is not as complex as it might seem at first
glance over its developer documentation. On a default Slackware system, most of
Blender&#039;s dependencies are already installed and there is no need for
“development” versions of libraries as the dev docs list for distributions like
Fedora or Ubuntu. As long as you install (or already have installed, in many
cases) the dependencies, Blender will compile. The process is relatively
simple:
</p>
<ol>
<li class="level1"><div class="li">Install Python3 from slackbuilds.org. It is safe to have both the default 
    Python2.x and Python3 installed on your Slackware system.
</div>
</li>
<li class="level0"><div class="li">Download the source code from blender.org. The development team offers a
    stable release tarball as well as the development code from svn; a true
    Slackware multimediatician will use the stable release.
</div>
</li>
<li class="level0"><div class="li">Untar the downloaded archive and cd into it.
<p>
      $ tar -xzf blender-2.<em>.tar.gz
      $ cd blender-2.</em>
</p>
</div>
</li>
<li class="level0"><div class="li">Create an isolated destination directory so that a Slackware package can be
    created:
<p>
        $ mkdir /tmp/blender
</p>
</div>
</li>
<li class="level0"><div class="li">Invoke the build script, redirecting the output to the temporary build
    location:
<p>
      $ scons install destdir=/tmp/blender
</p>
</div>
</li>
<li class="level0"><div class="li">Create a Slackware package and install:
<p>
      $ cd /tmp/blender
      $ su -c &#039;makepkg -l y -c n /tmp/blender-2.xx-$(uname -m)-1<em>SMi.tgz&#039;
      $ su -c &#039;installpkg /tmp/blender*1</em>SMi.tgz&#039;
</p>
</div>
</li>
</ol>

<p>
Unexpected errors are common enough to warrant a note about them. Blender is
frequently developed, and building it from source will sometimes render a
puzzling error. Chances are, of course, that someone before you has experienced
the same error, so simply do an internet search on the error in order to find a
solution or work-around.
</p>

<p>
For best results, search the internet for the exact error that you receive,
such as:
</p>
<pre class="code">yasm: FATAL: unable to open include file `nasm.inc&#039;</pre>

<p>
Searching for very specific errors often return existing issues and their
solutions. Whether it&#039;s a bug or simply something that you overlooked when
preparing for the compile, the answers are often a simple matter of installing
another dependency or commenting out a bad line of code. Errors do happen, but
they needn&#039;t dissuade you from compiling important applications from source.
</p>

<p>
Blender Plugins
</p>

<p>
No small part of Blender&#039;s power comes from the wealth of plugins available for
it, both for free and for sale. Sites like cgcookiemarkets.com/blender and
blendernpr.org/store provide amazing tools at reasonable rates, and the site
blenderaddonlist.blogspot.com tracks as many independent and free addons it
possibly can.
</p>

<p>
There are plugin sets that turn Blender into a nearly full-featured (and
certainly very capable) video editor, adds Maya-style “pie menus”, provides
sculpting brushes, a quick-access asset library, and much more. You have only
to identify your need and then search for a plugin that resolves it.
</p>

<p>
Read a plugin&#039;s documentation to find out how to install it, but usually the
steps are these:
</p>
<ol>
<li class="level1"><div class="li">Download the plugin and unzip or untar it.
</div>
</li>
<li class="level0"><div class="li">Read the plugin documentation for install and usage instructions.
</div>
</li>
<li class="level0"><div class="li">Unless otherwise instructed, place the plugin in /home/$USER/.config/
    blender/x.xx/scripts/addons/
</div>
</li>
<li class="level0"><div class="li">In Blender, navigate to the User Preferences panel.
</div>
</li>
<li class="level0"><div class="li">In the User Preferences window, click the Addons tab. Search for the addon
    you have installed either by keyword or category.
</div>
</li>
<li class="level0"><div class="li">Click to place a tick mark in the Enable an addon box. The plugin is no
    active.</div>
</li>
</ol>

<p>
Some plugins only appear in certain Screen layouts, and many of them are quite
complex because they add so much functionality, so you may need to research how
to use the plugin. Do some tutorials or read the docs, and then get to work.
</p>

<p>
Renderers
</p>

<p>
Blender ships with two renderers: the aptly named Blender Render and the newer 
Cycles. Both of these render engines are production quality, but the exciting
new features are going into Cycles. The best way to get to know a renderer,
from a user and artist perspective, is to spend time with it; render as often
as you can,experimenting with settings, lighting, and time. Find out how the
renderer works, what its strengths are, where it is slow or rough, and become
fluent with it.
</p>

<p>
Blender, ever flexible, is not constrained to only its two bundled renderers.
There are many more renderers out there, and as long as they are
Linux-compatible and have a Blender plugin, they are trivial to install and
use.
</p>

<p>
At least four 3drender engines are available, along with Blender plugins,
straight from slackbuilds.org:
</p>
<ul>
<li class="level1"><div class="li">luxrender
</div>
</li>
<li class="level1"><div class="li">yafaray
</div>
</li>
<li class="level1"><div class="li">povray
<p>
    Blender includes an exporter plugin for POVray, but it requires activation
    in the User Preferences &gt; Addons panel.
</p>
</div>
</li>
<li class="level1"><div class="li">mitsuba</div>
</li>
</ul>

<p>
In each case, whether you had to install the Blender plugin separately or
whether it was bundled with Blender, you must go to User Preferences &gt; Addons
and activate the rederer just as you would any other plugin.
</p>

<p>
Once intalled and activated, chonge which render engine you are using from the 
Render Engine menu located in the Info panel.
</p>

<p>
Blender as a Video Editor
</p>

<p>
Blender as a 3d modeling application and as an animation tool is,
unsurprisingly, commonplace, but there are those who use Blender primarily as a
video editing tool. This use case appears to be more popular among Linux users,
and so it does not get the same amount of attention in either the user manual
or online in general, so it warrants some special attention here.
</p>

<p>
There are several reasons to turn to Blender for non-linear video editing:
</p>
<ul>
<li class="level1"><div class="li">Blender is a carefully-written stable application designed to handle
    complex matrices and simulated physics. It makes sense that it can handle
    video gracefully.
</div>
</li>
<li class="level1"><div class="li">The Blender user interface is ultra-efficient, and if you know how to use
    it then you will find its trademark hybrid of keyboard and mouse
    interaction just as efficient for moving video around a timeline as it is
    with 3d sculpting.
</div>
</li>
<li class="level1"><div class="li">If you are working in a mixed-platform environment, Blender&#039;s ability to
    run on all of them could prove to be a major advantage. In terms of video
    editing, it is one of the few cross-platform solutions available.</div>
</li>
</ul>

<p>
Allowing for the fact that one editor&#039;s advantage is another editor&#039;s
disadvantage, Blender does have some drawbacks as an NLE, as well:
</p>
<ul>
<li class="level1"><div class="li">Since Blender started life as a 3d modeling application, it is not quite as
    finely tuned toward video editing as a longtime video editor might desire. 
    Blender devs are adding native features and users are creating plugins to
    help create a more NLE-centric environment within Blender, so the situation
    is only improving.
</div>
</li>
<li class="level1"><div class="li">It&#039;s not a carbon copy of any editing environment and probably never will
    be. It&#039;s never a good idea to expect or even, arguably, request for an open
    source clone of a closed source application that you just so happen to be
    very good at, but it&#039;s common for people moving to open source to desire
    just that: familiarity. Blender is probably never going to be a traditional
    video editor, so adapting to it and the way it does edit video is a must,
    if you intend to edit video on it. For those editors who started editing on
    Blender before even understanding what “open source” was, and chose to edit
    in Blender because it was different, this point is not a disadvantage but
    the raison d&#039;etre.
</div>
</li>
<li class="level1"><div class="li">The workflow tends to be marvelously efficient when an action has a direct
    analogy to a 3d process (moving clips, deleting clips), but when there are
    totally unique functions introduced by a plugin, they are frequently menu-
    or button-oriented, with no keyboard shortcuts. Compared to the rest of 
    Blender, this feels out of place and can bring your editing pace to an
    almost grinding halt.
<p>
    The features and plugins are all open source, however, so you can add the
    functionality yourself, or wait for someone else to add it; as more people
    start to use Blender for everyday video editing, the more fluid it will
    become.
</p>
</div>
</li>
</ul>

<p>
Some pertinent video editing addons are these:
</p>
<ul>
<li class="level1"><div class="li">Easy Logging creates a workspace that uses the File Browser window as a
    video bin, and adds buttons to allow editing of clips prior to importing
    them into the video sequence editor. This plugin, more or less, provides
    three-point editing.
</div>
</li>
<li class="level1"><div class="li">Audition adds the ability to preview a clip from the File Browser before
    importing it into your project. It is intended as an extension of Easy
    Logging.
</div>
</li>
<li class="level1"><div class="li">Jump to Cut enables the playhead to jump from a strip&#039;s in- or out- points,
    and also adds in some convenience trimming functions. This plugin provides,
    more or less, the most common and basic timeline features of an NLE.
</div>
</li>
<li class="level1"><div class="li">VSE Quick Functions provides all the little convenience functions for
    timeline editing that any NLE would normally have (snapping, muting,
    locking, parenting or grouping, quick fades, quick titles) plus a few that
    others do not have (sorting by position in timeline or clip title or clip
    length).
</div>
</li>
<li class="level1"><div class="li">Extra<em>Sequencer</em>Actions adds advanced trimming functions to the VSE,
    including ripple deletes, ripple cuts, insert edits, slides, and more.
</div>
</li>
<li class="level1"><div class="li">VSE Transform Tools adds basic motion graphic capabilities to the VSE.
    Using this tool set, you are able to grab onto the video display itself and
    resize and re-position it within the frame. With it, you can achieve common
    effects such as picture-in-picture, split screen, and basic tween-based
    animation.</div>
</li>
</ul>

<p>
Install these plugins, and any other that appeals to your needs, and you will
have a surprisingly robust and flexible video editing environment.
</p>
