
<p>
<a  href='/handbook/doku.php?id=slackbuilds'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;position:absolute;top:0;left:0;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrowp.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

<p>
<a  href='/handbook/doku.php?id=kernel'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;position:absolute;top:0;margin-left:2.5em;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrown.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

<h1 class="sectionedit1" id="building_slackermedia">Building Slackermedia</h1>
<div class="level1">

<p>
You should have at this point a fully functional Slackware system. You can use this system as you would any computer for any other task, but the goal for this handbook is to build upon the base install to create a multimedia studio.
</p>

<p>
There are a number of small programmes, libraries, and applications that a typical multimedia system, regardless of what you intend to do on it, should
have installed, simply because they are so ubiquitous that the major media apps you install probably require them anyway.
</p>

<p>
These dependencies and libraries are usually small pieces of software that you will not use directly, but that are important for the larger applications to be able to function properly. In some cases, these dependencies are also fully-featured applications in themselves, and are also used by other applications. In any case, they are good to have as a common base from which you can build upon; think of it as the missing “base install” components that you didn&#039;t get with stock Slackware.
</p>

<p>
Determining what your system will need in order to process all the different kinds of media that a multimedia artist typically encounters can be confusing and overwhelming. This burden is alleviated in this chapter.
</p>

</div>
<!-- EDIT1 SECTION "Building Slackermedia" [240-1494] -->
<h2 class="sectionedit2" id="which_dependencies_should_you_install">Which Dependencies Should You Install?</h2>
<div class="level2">

<p>
Slackware is a nice all-purpose distribution, so many of the dependencies, libraries, and backend apps required for a Slackermedia system are already
installed by default, and many others can be obtained easily and quickly via slackbuilds.org and other resources outlined in <a href="/handbook/doku.php?id=slackbuilds" class="wikilink1" title="slackbuilds">slackbuilds</a>.
</p>

<p>
As such, Slackermedia offers a list of the common multimedia-related libraries that you should install so that time spent manually installing dependencies is minimised. This list of Slackermedia dependencies can be installed manually, or you can pipe it into <code>sport</code> or loaded into <code>sbopkg</code> for automated processing.
</p>

<p>
The Slackermedia dependency list is not literally all-inclusive. You may have to install more than those listed here, depending on what you
intend to install for your multimedia work. But if you performed the default, full Slackware install and do a complete Slackermedia dependency install, then most everything you&#039;ll need will be ready for you when you need it.
</p>

</div>
<!-- EDIT2 SECTION "Which Dependencies Should You Install?" [1495-2527] -->
<h3 class="sectionedit3" id="on_building_and_installing">On Building and Installing</h3>
<div class="level3">
<!-- EDIT4 PLUGIN_WRAP_START [0-] --><div class="wrap_info plugin_wrap">
<p>
<strong><abbr title="Too long; didn&#039;t read">TL;DR</abbr></strong>
Be sure to build applications in order; if you try to build one before building a library it uses, then it will fail!
</p>
</div><!-- EDIT5 PLUGIN_WRAP_END [0-] -->
<p>
Mind the order in which you build libraries and dependencies; if you attempt to compile, for instance, <code>Inkscape</code> before you compile <code>libsigc++</code> then the build will certainly fail since Inkscape depends on <code>libsig++</code> to compile from source code. The sequence of building <em>is important</em>.
</p>

<p>
You can think of building and installing software like a puzzle. Building the dependencies are like gathering up all the puzzle pieces, and installing them is like putting the puzzle together. Without all the pieces, you would not want to try to assemble the puzzle, but as long as all of them are present, the puzzle works as expected.
</p>

<p>
So the order of <em>installing</em> is unimportant. For example, a system admin managing several systems can build the software in the requisite order, place the packages on a hard drive, and take those packages round to each computer and install them in bulk. As long as all the pieces are present, everything will work as expected.
</p>

</div>
<!-- EDIT3 SECTION "On Building and Installing" [2528-3680] -->
<h2 class="sectionedit6" id="structure_of_slackermedia_queue_files">Structure of Slackermedia Queue Files</h2>
<div class="level2">
<!-- EDIT7 PLUGIN_WRAP_START [0-] --><div class="wrap_info plugin_wrap">
<p>
<strong><abbr title="Too long; didn&#039;t read">TL;DR</abbr></strong>
Download the Slackermedia queue file and install everything listed in it with <code>sport</code>.
</p>
</div><!-- EDIT8 PLUGIN_WRAP_END [0-] -->
<p>
To use the Slackermedia lists of dependencies and libraries, you may download queue files from <a href="http://slackermedia.info/downloads" class="urlextern" title="http://slackermedia.info/downloads"  rel="nofollow">http://slackermedia.info/downloads</a>.
</p>

<p>
To use the queue file with <code>sport</code>:
</p>
<pre class="code">$su - 
#sport install $( &lt; /path/to/slackermedia-huge.sqf )</pre>

<p>
To use it with sbopkg:
</p>
<pre class="code">$su -
#sbopkg -i /path/to/slackermedia-huge.sqf</pre>

<p>
Slackermedia originally provided four queue files, dividing installable libraries into groups like <code>av</code> for audio and video producers, <code>vg</code> for video and graphic artists, and so on, plus a <code>huge</code> queue file containing everything from all of those groups. This proved to be confusing and arbitrary, and most people just used the <code>-huge</code> file anyway.
</p>

<p>
As of 2015, Slackermedia provides four queue files: the huge file, plus three discipline-specific files in the interest of letting the user opt for a potentially faster install by excluding some large
programmes that are probably only useful within a different discipline.
</p>

<p>
It is strongly recommended that you install the <code>slackermedia-huge.sqf</code> file. Chances are that as an artist, you do not only do one artistic thing, so
the <code>-huge</code> support will almost certainly be useful either as an artist or simply just as a modern computer user (the added codecs, for example, will impact you every time you attempt to play non-open media types).
</p>
<!-- EDIT9 PLUGIN_WRAP_START [0-] --><div class="wrap_tip plugin_wrap">
<p>
The directory on the Slackermedia server also contains the master file from which the other queue files are generated, as well as the shell script that generates them. You are free to download these resources, but they will not work as a queue file, since they are not queue files.
</p>
</div><!-- EDIT10 PLUGIN_WRAP_END [0-] -->
<p>
Download the queue files from <a href="http://slackermedia.info/downloads/queues" class="urlextern" title="http://slackermedia.info/downloads/queues"  rel="nofollow">http://slackermedia.info/downloads/queues</a> and
process with <code>sport</code> or the installer of your choice.
</p>

</div>
<!-- EDIT6 SECTION "Structure of Slackermedia Queue Files" [3681-5632] -->
<h3 class="sectionedit11" id="combining_queues">Combining Queues</h3>
<div class="level3">

<p>
If you are unable or unwilling to to install the <code>-huge</code> set for whatever reason, but you do wish to combine two queue files, you should prune out duplicate entries. For instance, to combine the audio set with the video set:
</p>
<pre class="code"># sport -i $( &lt; sort slackermedia-a.sqf \
slackermedia-v.sqf | uniq )</pre>

<p>
Of course, by the time you have combined two sets, you are probably only
excluding one or two packages from being installed, so it would be easier to do
the recommended <code>-huge</code> install.
</p>

</div>
<!-- EDIT11 SECTION "Combining Queues" [5633-6163] -->
<h3 class="sectionedit12" id="troubleshooting">Troubleshooting</h3>
<div class="level3">

<p>
Sometimes an automated install fails due to the loss of network connectivity, or a source code package having been moved from its known location on the internet, or an md5 checksum failure, or some other error.
</p>

<p>
Should this happen, take note of what package caused the failure. <strong>Attempt a manual install</strong> (using the Slackbuild script, but with a manual download of the source code from the location listed in the <code>.info</code> file in the SlackBuild tree. If that install works (it usually does), then you can resume the automated install by skipping all installed packages:
</p>
<pre class="code"># for i in $( &lt; slackermedia-huge.sqf ); \ 
do if [ ! -e /var/log/packages/&quot;$i&quot;* ]; \
then sport install $i &quot;hello&quot; ; \
fi ; \
done</pre>

<p>
Or open the queue file in a text editor and manually delete the entries leading up to and including the failed package.
</p>

<p>
Do not proceed with more installs without resolving any issue that prevents an install. At best, some of the following installs will fail because they relied upon the package that you skipped. At worst, everything will appear to have succeeded, and then you will experience failures later because the package that got skipped is being requested by some other application during runtime and is not being found.
</p>

<p>
If something fails to install and you do not know why, post a question about it in the Slackware forums at <a href="http://linuxquestions.org" class="urlextern" title="http://linuxquestions.org"  rel="nofollow">http://linuxquestions.org</a> (you may send a private message to user <code>notklaatu</code> if you wish) detailing what happened during your manual attempt to install the SlackBuild. It is vital that you make an attempt to install the SlackBuild manually before asking for help! Slackbuilds.org itself does not support frontends like <code>sport</code> or <code>sbopkg</code>, nor does Slackware; and they
shouldn&#039;t, because the SlackBuild system is well-designed and mostly flawless.
It&#039;s usually the assistance of an automated frontend that tempts a user to forego reading how to install something correctly and thereby introduces a problem (or a change in the source code location). An attempt at a manual
install will most likely reveal the exact stage at which the install process fails, and that&#039;s vital information.
</p>

</div>
<!-- EDIT12 SECTION "Troubleshooting" [6164-8349] -->
<h3 class="sectionedit13" id="queue_file_manifest">Queue File Manifest</h3>
<div class="level3">

<p>
<strong>huge set</strong>
</p>
<!-- EDIT14 PLUGIN_WRAP_START [0-] --><div class="wrap_indent plugin_wrap">
<p>
<code>huge</code> installs all Slackermedia deps and libs, and a few important applications for good measure. Highly recommended.
</p>

<p>
Without going into specifics due to additions and subtractions and other
changes that the list is inevitably subject to, this set contains:
</p>
<ul>
<li class="level1"><div class="li"><abbr title="Graphical User Interface">GUI</abbr> frontends like <code>fltk</code> and <code>wxGTK</code>, which are the <abbr title="Graphical User Interface">GUI</abbr> basis for many other applications.
</div>
</li>
<li class="level1"><div class="li">Over 20 freely-available codecs and graphic libraries so that no matter what kind of file a client delivers to you, your system will most likely be able to play (decode) it.</div>
</li>
</ul>

<p>
Many of these codecs support an “everything and the kitchen sink” build of <code>ffmpeg</code>, which is a video and audio encoding and decoding engine, and tends to be important to serious multimedia work.
</p>
<ul>
<li class="level1"><div class="li">Essential multimedia tools like the system-wide sound server <code>JACK</code>, some of the most versatile soft synths available, the video effect library <code>frei0r</code>, audio effects plugins, several <code>GIMP</code> plugins, <code>Inkscape</code> (the entire application, which is not included with Slackware), the <code>MediaInfo</code> analytic tool so that you can get specs on video and audio files, and much more.
</div>
</li>
<li class="level1"><div class="li">System-level tools and libraries that you may or may not use directly but which will be needed by one or more of the applications that you will, as a
 multimedia artist, certainly install at some point in the future. This includes XML parsers, <code>libdvdcss</code> for commercial DVD playback, <code>SDL</code>, <code>GNOME</code>
    components that many <code>GTK</code> multimedia applications need, EXIF tools, ID3
    libraries, <code>Cython</code>, and more.</div>
</li>
</ul>

<p>
Slackermedia recommends that you install this one, no matter what your artistic discipline.
</p>
</div><!-- EDIT15 PLUGIN_WRAP_END [0-] -->
<p>
<strong>a Set</strong>
</p>
<!-- EDIT16 PLUGIN_WRAP_START [0-] --><div class="wrap_indent plugin_wrap">
<p>
Set a installs the Slackermedia dependencies and libraries that primarily
relate to audio work, but also those that support ffmpeg, which is primarily a
video tool but is also useful for audio conversion.
</p>
<!-- EDIT18 PLUGIN_WRAP_START [0-] --><div class="wrap_alert plugin_wrap">
<p>
If you install the <code>huge</code> set, then you get everything in this set plus a lot
more. It is recommended that you install the <code>huge</code> set.
</p>
</div><!-- EDIT19 PLUGIN_WRAP_END [0-] -->
<p>
Without going into specifics due to additions and subtractions and other changes that the list is inevitably subject to, this set contains:
</p>
<ul>
<li class="level1"><div class="li"><abbr title="Graphical User Interface">GUI</abbr> frontends like <code>fltk</code> and <code>wxGTK</code>, which are the <abbr title="Graphical User Interface">GUI</abbr> basis for many other applications.
</div>
</li>
<li class="level1"><div class="li">Over 20 freely-available codecs and graphic libraries so that no matter what kind of file a client delivers to you, your system will most likely be able to play (decode) it.
</div>
</li>
<li class="level1"><div class="li">Essential multimedia tools like the system-wide patchbay JACK, some of the most versatile soft synths available, including <code>Zyn</code>, <code>Alsa Modular</code>, <code>AmSynth</code>, and <code>Fluidsynth</code>, audio effects plugin sets such as <code>Steve Harris</code>, <code>CALF</code>, <code>TAP</code>, and <code>Invada</code>, <code>Rakarrack</code>, the <code>MediaInfo</code> analytic tool so that you can get specs on video and audio files, and much more.
</div>
</li>
<li class="level1"><div class="li">System-level tools and libraries that you may or may not use directly but which will be needed by one or more of the applications that you will, as a
    multimedia artist, certainly install at some point in the future. This includes XML parsers, <code>libdvdcss</code> for commercial DVD playback, <code>SDL</code>, <code>GNOME</code> components that many GTK multimedia applications need, EXIF tools, ID3 libraries, <code>Cython</code>, and more.</div>
</li>
</ul>

<p>
Do not install this if you have already installed the <code>huge</code> set, and you should not combine this with another set (if you want to do that, just install <code>huge</code>.
</p>
</div><!-- EDIT17 PLUGIN_WRAP_END [0-] -->
<p>
<strong>v Set</strong>
</p>
<!-- EDIT20 PLUGIN_WRAP_START [0-] --><div class="wrap_indent plugin_wrap">
<p>
Set v installs the Slackermedia dependencies and libraries that primarily relate to motion and stop-motion (animated) visual work, including those that support <code>ffmpeg</code> (the most ubiquitous video engine on Linux) but not <code>ffmpeg</code> itself. Since there are so many ways to build <code>ffmpeg</code>, Slackermedia offers a custom-built <code>ffmpeg</code> package that includes nearly all available codecs listed as the <code>ffmpeg</code> config options, which you will install later.
</p>
<!-- EDIT22 PLUGIN_WRAP_START [0-] --><div class="wrap_alert plugin_wrap">
<p>
If you install the <code>huge</code> set, then you get everything in this set plus a lot
more. It is recommended that you install the <code>huge</code> set.
</p>
</div><!-- EDIT23 PLUGIN_WRAP_END [0-] -->
<p>
Without going into specifics due to additions and subtractions and other changes that the list is inevitably subject to, this set contains:
</p>
<ul>
<li class="level1"><div class="li"><abbr title="Graphical User Interface">GUI</abbr> frontends like <code>fltk</code> and <code>wxGTK</code>, which are the <abbr title="Graphical User Interface">GUI</abbr> basis for many other applications.
</div>
</li>
<li class="level1"><div class="li">Over 20 freely-available codecs and graphic libraries so that no matter what kind of file a client delivers to you, your system will most likely be able to play (decode) it.
</div>
</li>
<li class="level1"><div class="li">Essential multimedia tools like the system-wide sound mixer <code>JACK</code>, the <code>frei0r</code> video effect set some basic audio effects, <code>Inkscape</code> and a number of <code>GIMP</code> plugins (meant for titling and animation), the <code>POVray</code> renderer, the <code>MediaInfo</code> analytic tool so that you can get specs on video and audio files, and much more.
</div>
</li>
<li class="level1"><div class="li">System-level tools and libraries that you may or may not use directly but which will be needed by one or more of the applications that you will, as a
    multimedia artist, certainly install at some point in the future. This includes XML parsers, <code>libdvdcss</code> for commercial DVD playback, <code>SDL</code>, <code>GNOME</code> components that many GTK multimedia applications need, EXIF tools, ID3 libraries, <code>Cython</code>, and more.</div>
</li>
</ul>

<p>
Do not install this if you have already installed the <code>huge</code> set, and you should
not combine this with another set (if you want to do that, just install <code>huge</code>.
</p>
</div><!-- EDIT21 PLUGIN_WRAP_END [0-] -->
<p>
<strong>g Set</strong>
</p>
<!-- EDIT24 PLUGIN_WRAP_START [0-] --><div class="wrap_indent plugin_wrap">
<p>
Set g installs the Slackermedia dependencies and libraries that primarily
relate to graphic and non-motion visual work, including those that support 
ffmpeg (the most ubiquitous video engine on Linux) but not ffmpeg itself. Since
there are so many ways to build <code>ffmpeg</code>, Slackermedia offers a custom-built 
ffmpeg package that includes nearly all available codecs listed as the ffmpeg
config option, which you will install later.
</p>
<!-- EDIT26 PLUGIN_WRAP_START [0-] --><div class="wrap_alert plugin_wrap">
<p>
If you install the <code>huge</code> set, then you get everything in this set plus a lot more. It is recommended that you install the <code>huge</code> set.
</p>
</div><!-- EDIT27 PLUGIN_WRAP_END [0-] -->
<p>
Without going into specifics due to additions and subtractions and other changes that the list is inevitably subject to, this set contains:
</p>
<ul>
<li class="level1"><div class="li">RAW image tools, including <code>raw-thumbnailer</code>, <code>dcraw</code>, and the <code>luminanceHDR</code> application. It does not install flagship applications like <code>Darktable</code>, <code>Lightzone</code>, or <code>DigiKam</code>, but these can be installed later.
foobaz</div>
</li>
<li class="level1"><div class="li">Over 20 freely-available codecs and graphic libraries so that no matter what kind of file a client delivers to you, your system will most likely be able to play [decode] it.
</div>
</li>
<li class="level1"><div class="li">SDL tools, used in video games and other works of art that may involve
    non-traditional use of graphical elements.
</div>
</li>
<li class="level1"><div class="li">System-level tools and libraries that you may or may not use directly but
    which will be needed by one or more of the applications that you will, as a
    multimedia artist, certainly install at some point in the future. This
    includes XML parsers, libdvdcss for commercial DVD playback, the POVray
    renderer, some GNOME components that many GTK multimedia applications need,
    EXIF tools, ID3 libraries, Cython, and more.</div>
</li>
</ul>

<p>
Do not install this if you have already installed the Huge set, and you should
not combine this with another set (if you want to do that, just install Huge.
</p>
</div><!-- EDIT25 PLUGIN_WRAP_END [0-] -->
</div>
<!-- EDIT13 SECTION "Queue File Manifest" [8350-15760] -->
<h3 class="sectionedit28" id="coffee_break">Coffee Break</h3>
<div class="level3">

<p>
A very robust Slackermedia install will involve over 100 packages from slackbuilds.org . The huge queue file can be downloaded at <a href="http://slackermedia.info/downloads/queues/slackermedia-huge.sqf" class="urlextern" title="http://slackermedia.info/downloads/queues/slackermedia-huge.sqf"  rel="nofollow">http://slackermedia.info/downloads/queues/slackermedia-huge.sqf</a>. This gives you a solid foundation for a wide variety of more discipline-specific applications. Feel free to customise and maintain your own base install list as you see fit; you may not need so many video codecs, or you may opt for a different id3 tag editor, and so on. 
</p>

<p>
However, installing the <code>huge</code> set of
dependencies and libraries prepares your system quite well for a more discipline-specific set of applications.
</p>

<p>
The full <code>huge</code> install will take some time, so you may find this to be a good time for a coffee break. Next, we will look at a number of important multimedia components that you can install to get your artwork done, different options you have while installing them, as well as how many of them work together.
</p>

<p>
<a  href='/handbook/doku.php?id=kernel'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;float:right;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrown.png' /></span><span class='plugin_button_text wikilink1'></span></span></a><a  href='/handbook/doku.php?id=slackbuilds'><span class='plugin_button' style='border:0;background:none;width:0;float:right;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrowp.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

</div>
<!-- EDIT28 SECTION "Coffee Break" [15761-] -->