
<p>
Chapter 1. Kdenlive
</p>

<p>
Strengths
</p>

<p>
Powerful
</p>
<pre class="code">All the essential video editing funtions are present, in a professional
environment; in and out points, a clip monitor and separate timeline
monitor, copious effects, clip bin, blade/razor tool, proxy system, plain
text project files, and much more.</pre>

<p>
Timeline-Oriented
</p>
<pre class="code">Allows you to work mostly in the timeline, if that is how you prefer to
work.</pre>

<p>
Flexible
</p>
<pre class="code">It is flexible in many senses of the term; it allows you to work in a
variety of work styles, and also can import and export a variety of
formats, load image sequences as clips, manage basic titling, perform basic
compositing, has stackable effects, and a non-linear composite structure..</pre>

<p>
Intuitive
</p>
<pre class="code">On the surface, at least, the basic workflow is familiar to anyone having
used popular commercial &quot;prosumer&quot; video editing systems. Lots of
drag-and-drop, click, and drag funtionality that will render a cleanly
edited sequence quickly and without too many surprises.</pre>

<p>
Weaknesses
</p>

<p>
Skips in Playback
</p>
<pre class="code">With no GPU acceleration, playback of certain codecs or of any clip with an
effect on it can stutter and skip so severely that it becomes funtionally
useless unless the effects are removed or the clip is transcoded. A
work-around is to render the effected clips to a temporary directory and
drop them in on a &quot;rendered&quot; video track, switching the rendered track off
before export.</pre>

<p>
Missing Features
</p>
<pre class="code">Partly because it otherwise resembles closed source editors, there are
particularly glaring gaps in the timeline-oriented toolset (no region
select, no roll-edits, no slips or slides, inability to group-delete
clips), and oversights in general functionality (no way to duplicate and
edit a title or lower-third, inability to have more than one timeline per
project, no insert edit function).</pre>

<p>
No Guard Rails
</p>
<pre class="code">Kdenlive uses a set of very powerful libraries to accomplish the amazing
things that it does, but sometimes it over-estimates its own power. It will
permit you to import any variety of codec, and it will allow you to attempt
to edit the footage. However, there is no guarantee that it will not then
crash, corrupt your project file, or just skip and stutter its way through
your work, and it will never warn you or give you any sign that you are
using a non-optimal format (because it has not been programmed to check for
errors in playback or to recommend optimised format settings).</pre>

<p>
See Also
</p>

<p>
Lightworks
Blender
</p>

<p>
Kdenlive is a video editing application aimed at the professional video editor.
It can ingest, edit, affect, correct, and render motion pictures.
</p>

<p>
Kdenlive has many dependencies, some of which are not strictly necessary for it
to work but the absence of which may restrict certain features from working.
Depending on whether you care about the features depends on how you intend to
use Kdenlive; if you do not intend to ever import DV footage from tape, or use 
Kdenlive as a frontend for screencasting, then installing dependencies for
those features are not important. If you aren&#039;t sure, then install everything.
</p>

<p>
Once all the dependencies are installed, the Slackbuild for Kdenlive is simple.
</p>

<p>
Important
</p>

<p>
Kdenlive builds directly upon the mlt framework. If you are attempting to
compile Kdenlive shortly after a new release of mlt, then you might find a
sudden incompatibility. If this happens, then you have three options;
</p>
<ol>
<li class="level1"><div class="li">Regress one version for both Kdenlive and mlt, bringing the two codebases
    back into sync.
</div>
</li>
<li class="level0"><div class="li">Investigate to find out what the developers have used to compile their own
    versions, and follow their example by compiling either mlt or Kdenlive from
    svn to bring in any fixes or modifications that have been developed to
    account for the breakage.
</div>
</li>
<li class="level0"><div class="li">Wait for a new release which fixes the breakage from either mlt or kdenlive
    . Chances are the breakage is a known issue and a release that fixes the
    error is only a week or two away.
</div>
</li>
<li class="level0"><div class="li">Check with Slackermedia to see what is currently being run on our
    production machines.</div>
</li>
</ol>
