
<p>
Chapter 1. Fonts
</p>

<p>
Table of Contents
</p>

<p>
Installing Fonts
</p>
<pre class="code">Manually Installing Fonts as User
Manually Installing Fonts for All Users
Installing Fonts via KDE</pre>

<p>
Font Previews
Font Management
</p>
<pre class="code">Tagging Fonts with Font Matrix
Activating and Deactivating Fonts
Integrating Font Matrix</pre>

<p>
Fonts are vital to creativity and good design, plus they look pretty. Slackware
comes packaged with the Red Hat set of Liberation Fonts, which are drop-in
replacements for fonts like Helvetica and Times, which is useful but a little
bland. There are a number of sources for more fanciful free fonts available;
all you have to do is install them.
</p>

<p>
First, look on Slackbuilds.org. Do a search for “font” and you will find a
number of installable packages of free fonts, including the Ubuntu set, Droid
sans, Courier Prime, and some others. These are nice and complete fonts, not
the most exciting, but they do at least deviate a little from the 5 or 6 core
font faces that we are all used to.
</p>

<p>
Next, the League of Moveable Type features open source, glyph complete, free
fonts. Most of the fonts here are quite pleasant to look at, and sleek enough
to be identified as artistic but still maintain a professional veneer.
</p>

<p>
You will also find quite a few font packages available from the Fedora Linux
repositories. Fedora has long been considered to have on of the finest graphic
design teams of all Linux distributions, and also dedicated to freely licensed
content, so pillaging their repositories for .rpm files is useful. With rpm2tgz
it&#039;s easy to do; take any .rpm from an official Fedora repository and turn it
into a Slackware package and then use installpkg to install.
</p>
<pre class="code"># rpm2tgz ttf-foo-font-1.0.rpm
  # installpkg ttf-foo-font-1.0.t?z</pre>

<p>
If it&#039;s quantity and variety that you seek, the Great Linux Multimedia Sprints
feature over 2455 free fonts to use and re-distribute. Some of these fonts are
not entirely glyph-complete, so you may not want to use them as your system
font, but for artistic use this is a must-have collection. The sprint
collections contain all the kinds of fonts you would expect from a major
purchase, including gothic, script, calligraphy, distorted, graffiti, and so
on. All are royalty-free and most are very creative.
</p>

<p>
Last but not least, you can use any font you already own. There is nothing
prohibitng you from installing your existing collection (or fonts you find on
the internet) of ttf and otf fonts.
</p>

<p>
Installing Fonts
</p>

<p>
Generally speaking, there are two different philosophies on installing fonts:
</p>
<ol>
<li class="level1"><div class="li">Install fonts on a systemwide basis so that all users of a computer has
    access to them
</div>
</li>
<li class="level0"><div class="li">Install fonts on a per-user basis</div>
</li>
</ol>

<p>
Traditionally, installing fonts systemwide made most sense. It was economical
on disk space and made sure all users had access to the same fonts for design
work. This is still true if you actually manage a multi-user system but if you
are an independent artist with no other users to consider, the multi-user
aspect is unimportant. In fact, there is a distinct advantage to installing
fonts on a per-user basis, since it makes keeping track of those fonts and
porting them or syncing them over to another computer a lot easier.
</p>

<p>
Manually Installing Fonts as User
</p>

<p>
To install fonts into a user&#039;s home folder, place a font file into a directory
(it may or may not yet exist) ~/.fonts.
</p>

<p>
Traditionally, you would also run this command:
</p>

<p>
$ fc-cache -f
</p>

<p>
Although in practise, most modern <abbr title="Graphical User Interface">GUI</abbr> applications auto-detect new fonts when
they are launched and the font cache updates when you reboot, so the command is
not strictly necessary for most things you will be doing with fonts.
</p>

<p>
To install a font that has been packaged up by someone else (from Fedora or
Slackbuilds.org, for instance) then the package&#039;s default behaviour will be to
install the font to the system. To override that behaviour, treat the package
as exactly what it is: a tarball (archive). Instead of installing the package,
just un-tar it and move the ttf or otf files to your .fonts folder. You can do
this in the <abbr title="Graphical User Interface">GUI</abbr> or in the shell.
</p>

<p>
Since the .fonts is a hidden directory, it can be difficult to access from 
Dolphin. There are several ways to access a hidden directory from Dolphin but
the easiest is to press alt . (that&#039;s the Alt key and a dot) to reveal all
hidden folders, and then navigate to .fonts.
</p>

<p>
In the shell, you can extract just the ttf files and move them to the
appropriate font directory:
</p>
<pre class="code">$ tar tvf ttf-foo-font-1.0.tgz | egrep .tf$ | rev | cut -f -d&#039; &#039; | rev</pre>
<pre class="code">  ttf-foo-font-1.0
  ttf-foo-font-1.0/README
  ttf-foo-font-1.0/LICENSE
  ttf-foo-font-1.0/otf
  ttf-foo-font-1.0/otf/foo.otf
  ttf-foo-font-1.0/otf/foo bold.otf
  ttf-foo-font-1.0/ttf
  ttf-foo-font-1.0/ttf/foo bold.ttf
  ttf-foo-font-1.0/ttf/foo.ttf</pre>
<pre class="code">$ tar xf ttf*foo*tgz foo.ttf &gt; ~/.fonts/f/foo.ttf
  $ tar xf ttf*foo*tgz foo\ bold.ttf &gt; ~/.fonts/f/foo_bold.ttf</pre>

<p>
The advantage to this is that .fonts is located in your home directory, which
is, presumably, the directory you most often backup, and it is certainly the
directory you will take with you if you get a new computer. In both cases, your
font collection is sure to go with you.
</p>

<p>
You can take your fonts with you if you install them to the system, too, but in
that case you do have to remember to take them, since they don&#039;t just get
pulled along with the rest of your personal data. It&#039;s not impossible, it just
has the potential of being forgotten.
</p>

<p>
Manually Installing Fonts for All Users
</p>

<p>
To install fonts on a system-wide basis, the font files should be copied to /
usr/share/fonts/foo where foo is the type of font )usually TTF or OTF. Since it
affects all users on the system, it must be done as root or with reoot
privileges:
</p>

<p>
$ su -c &#039;cp foo.ttf /usr/share/fonts/TTF/&#039; 
$ cd /usr/share/fonts/TTF
$ su
</p>

<h1 class="sectionedit1" id="enter_root_password">enter root password</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "enter root password" [5822-5843] -->
<h1 class="sectionedit2" id="mkfontscale">mkfontscale .</h1>
<div class="level1">

</div>
<!-- EDIT2 SECTION "mkfontscale ." [5844-5859] -->
<h1 class="sectionedit3" id="mkfontdir">mkfontdir .</h1>
<div class="level1">

</div>
<!-- EDIT3 SECTION "mkfontdir ." [5860-5873] -->
<h1 class="sectionedit4" id="usr_bin_fc-cache_-f">/usr/bin/fc-cache -f</h1>
<div class="level1">

<p>
Installing Fonts via KDE
</p>

<p>
If you are running KDE, you may use KDE&#039;s Font Viewer (which automatically
launches when you click a font file in Dolphin). Font Viewer shows a preview of
all the glyphs in the font set and even allows you to enter your own preview
text. To install the font, click the Install button in the lower right corner
of the window. Enter the root password to install the font system-wide, or
choose to install it for only the current user.
</p>

<p>
Font Previews
</p>

<p>
Font files by default have a unified, generic icon. To instead set the cion to
a two-letter sample of what the font looks like:
</p>
<ol>
<li class="level1"><div class="li">Click the Configure (a gear or a spanner, depending on your icon theme),
    and selecte Configure Dolphin.
</div>
</li>
<li class="level0"><div class="li">Click the General tab in the left column.
</div>
</li>
<li class="level0"><div class="li">Click the Preview tab.
</div>
</li>
<li class="level0"><div class="li">Activate previews for font files in the Preview list and click OK.</div>
</li>
</ol>

<p>
Font Management
</p>

<p>
Most applications scan the font directories every time they launch, so keeping
hundreds of fonts in your font directory may make applications slow to load. It
may, therefore, behoove you to familiarize yourself with the fonts you own, and
only install fonts you actually want on your system.
</p>

<p>
Font Matrix, a font manager for your Desktop
</p>

<p>
Of course with 2455+ fonts available on your system, familiarizing yourself
with your fonts is a tall order. Font Matrix is a font browser and font manager
available from slackbuilds.org, that lets you preview your fonts, tag and
classify fonts, search through them by various attributes including by
submitting a screenshot sample of a font you want to match, and activate or
de-activate fonts so that applications will either load or ignore them upon
launch.
</p>

<p>
Tagging Fonts with Font Matrix
</p>
<ul>
<li class="level1"><div class="li">To tag fonts with custom identifiers, first select the font or fonts you
    want to tag in the Browse Font panel.
</div>
</li>
<li class="level1"><div class="li">With the font or fonts selected, click the Tags tab on the lower left of
    the Browse Font panel.
</div>
</li>
<li class="level1"><div class="li">Type a new tag into the text field and click the Add Tag button.</div>
</li>
</ul>

<p>
You can now filter all fonts on your computer with these tags by selecting a
tag in the Tags menu (by default set to All activated) at the top of the Browse
Fonts panel.
</p>

<p>
Activating and Deactivating Fonts
</p>

<p>
Deactivate a font by toggling the tick mark in the check block next to the
font&#039;s name.
</p>

<p>
Deactivating a font or a group of fonts prevents the applications you launch
from scanning those fonts as a part of its startup process. This can increase
the launch time of applications like GIMP, Scribus, Inkscape, and so on.
</p>

<p>
Integrating Font Matrix
</p>

<p>
Font Matrix only dictates whether a font is active or not while it runs. If you
are a graphic artist, you will probably want Font Matrix to idle in the
background as part of your <abbr title="Operating System">OS</abbr>.
</p>
<ol>
<li class="level1"><div class="li">Click on the Edit menu &gt; Preferences.
</div>
</li>
<li class="level0"><div class="li">Select System Tray from the left column of the Preferences window.
</div>
</li>
<li class="level0"><div class="li">Place a tick mark in the Show Font Matrix in the System Tray check box to
    give Font Matrix the ability to be put into the background as it runs.
</div>
</li>
<li class="level0"><div class="li">Place a tick mark in the Close to System Tray check box to prevent yourself
    from accidentally quitting Font Matrix. Optionally, have Font Matrix start
    as a System Tray item; you&#039;ll still be able to click the System Tray icon
    to bring up the full <abbr title="Graphical User Interface">GUI</abbr>.
</div>
</li>
<li class="level0"><div class="li">In KDE, once you&#039;ve launched Font Matrix as a System Tray icon, it will
    launch the next time KDE is restarted. If you have customized Session
    settings, you can force Font Matrix to start upon KDE startup by placing a
    shell script in ~/.kde/Autostart or by opening System Settings and
    selecting Startup and Shutdown; add Font Matrix to the Autostart group.</div>
</li>
</ol>

</div>
<!-- EDIT4 SECTION "/usr/bin/fc-cache -f" [5874-] -->