
<p>
Chapter 1. Audacity
</p>

<p>
Table of Contents
</p>

<p>
Install
Stability
Slackermedia Audacity Keyboard Shortcuts
Using Audacity
</p>
<pre class="code">Importing Sound
Recording Sound
Editing Sound
Track Management
Effects in Audacity
Saving
Exporting</pre>

<p>
Strengths
</p>

<p>
Intuitive
</p>
<pre class="code">If you can use a text editor, you can edit sound with Audacity.</pre>

<p>
No Setup
</p>
<pre class="code">No need to use Audacity with JACK, or configure plugin, or deal with
routing. Audacity is basically self-contained.</pre>

<p>
Powerful
</p>
<pre class="code">For its simplicity, Audacity can be made to produce amazing results.</pre>

<p>
Weaknesses
</p>

<p>
Not a DAW
</p>
<pre class="code">Audacity is not a sequencer, it does not have plugin soft syths, and it has
no concept of auxiliary sends and returns for effects.</pre>

<p>
Not Non-Destructive
</p>
<pre class="code">Digital audio workstations render sound in regions or containers, so the
user only edits an instance of the sound. Regions can be cut and restored
at any time, effects are applied to tracks rather than the sound itself,
and so on. This is called non-destructive editing, and Audacity does not
have it. This does not mean that your sound files are destroyed when edited
in Audacity, but it does mean that Audacity&#039;s workflow is less flexible
than a full-featured DAW.</pre>

<p>
See Also
</p>

<p>
Sox
mhWaveEdit
soundkonverter
Sweep
</p>

<p>
Audacity is a time-honoured and widely used free software audio editor, used by
a staggering number of audio hobbyists and professionals alike. Whether you are
primarily an audio artist or not, you probably should have Audacity installed
on your computer; it&#039;s just that useful.
</p>

<p>
Install
</p>

<p>
There is a Slackbuild for Audacity on slackbuilds.org, but it has two options,
which you probably want for maximum flexibility (in fact, the only reason that
Audacity is not included in the default Slackermedia-huge queue file is that
these options require manual activation). To activate the optional soundtouch
and twolame features, first ensure that soundtouch and twolame are installed.
If you used the Slackermedia-huge queue file, they are, but to verify:
</p>
<pre class="code">$ ls
/var/log/packages/ | grep -E -r &#039;soundtouch|twolame&#039;</pre>

<p>
If you need to install either library, do so through slackbuilds.org.
</p>

<p>
Assuming both are installed, install Audacity, prepending the install command
with these variable settings:
</p>
<pre class="code">SOUNDTOUCH=yes TWOLAME=yes</pre>

<p>
Installing directly from slackbuilds.org:
</p>
<pre class="code"># SOUNDTOUCH=yes TWOLAME=yes ./audacity.SlackBuild</pre>

<p>
Or with a front-end like sport:
</p>
<pre class="code"># SOUNDTOUCH=yes TWOLAMD=yes sport i audacity</pre>

<p>
Stability
</p>

<p>
The version of Audacity, as with any application, is extremely important.
Releases can be frequent with Audacity, but not all releases are equal. Find a
good release and stay with it for as long as it continues to meet your needs.
There are official “stable” releases, so consider using one of these.
</p>

<p>
In other words, steer clear of using the latest release just because it&#039;s the
latest release. Use the application for its features and stability, not because
it has a higher version number.
</p>

<p>
Sometimes the SlackBuild available might exceed your differ from your desired
version. If this happens, you can still use the SlackBuild; you just need to
change the version number that the SlackBuild script looks for when it attempts
to build the application.
</p>

<p>
If you find the need to change the version that you are compiling with
Slackbuilds:
</p>
<ol>
<li class="level1"><div class="li">Modify the VERSION line in the SlackBuild script to the desired version.
</div>
</li>
<li class="level0"><div class="li">Manually download that version of the source code into the SlackBuild
    directory. If you don&#039;t know how to locate the source code, look at the
    .info file for a hint.
</div>
</li>
<li class="level0"><div class="li">Execute the SlackBuild script to build it, and then install with either 
    installpkg or upgradepkg as appropriate.</div>
</li>
</ol>

<p>
For instance, to change the version number from 2.0.5 down to 2.0.3, you may
use sed:
</p>
<pre class="code"># sed -i
&#039;s/VERSION:-2.0.5/2.0.3/&#039;
audacity.SlackBuild</pre>

<p>
Alternately, just open the script in a text editor, if that is more familiar to
you.
</p>

<p>
Slackermedia Audacity Keyboard Shortcuts
</p>

<p>
It is common for “pro” applications to use this paradigm: one hand on the mouse
for cursor control, one hand on the keyboard for quick tool or function
changes. This model works best when tools and functions are mapped to single
key strokes (as opposed to requiring the control or alt key plus another key).
By default, Audacity uses few or no single-key shortcuts, but, it being open
source, this can be changed easily if you consider yourself a “pro” (or
impatient) user. If you love Audacity&#039;s shortcut layout, then don&#039;t feel like
changing it is going to give you special powers; this is simply a different
shortcut scheme that you may use if you find it useful.
</p>

<p>
Download the official Slackermedia Audacity power-user config file and place
the audacity.cfg file in your ~/.audacity-data directory for a better UI layout
and keyboard shortcut settings.
</p>

<p>
The UI layout of Audacity on a Slackermedia system is minimal, removing excess
toolbars such that only audio input and ouput settings, sample rate, VU Meter,
and the tools remain.
</p>

<p>
The keyboard shortcuts are simplified and are aimed for more efficient work.
</p>

<p>
Table 1.1. Slackermedia Audacity Cheat Sheet
</p>

<p>
+——————————–+
</p>
<div class="table sectionedit1"><table class="inline">
	<tr class="row0">
		<td class="col0 leftalign">Function           </td><td class="col1">Key Sequence</td>
	</tr>
	<tr class="row1">
		<td class="col0">——————————–</td><td class="col1"></td>
	</tr>
	<tr class="row2">
		<td class="col0 centeralign">             Tools              </td><td class="col1"></td>
	</tr>
	<tr class="row3">
		<td class="col0">——————————–</td><td class="col1"></td>
	</tr>
	<tr class="row4">
		<td class="col0">Selection (I-Beam) </td><td class="col1 leftalign">i           </td>
	</tr>
	<tr class="row5">
		<td class="col0">——————-+————</td><td class="col1"></td>
	</tr>
	<tr class="row6">
		<td class="col0 leftalign">Envelope           </td><td class="col1 leftalign">e           </td>
	</tr>
	<tr class="row7">
		<td class="col0">——————-+————</td><td class="col1"></td>
	</tr>
	<tr class="row8">
		<td class="col0 leftalign">Draw (Pen)         </td><td class="col1 leftalign">p           </td>
	</tr>
	<tr class="row9">
		<td class="col0">——————-+————</td><td class="col1"></td>
	</tr>
	<tr class="row10">
		<td class="col0 leftalign">Time Shift         </td><td class="col1 leftalign">t           </td>
	</tr>
	<tr class="row11">
		<td class="col0">——————-+————</td><td class="col1"></td>
	</tr>
	<tr class="row12">
		<td class="col0 leftalign">Record             </td><td class="col1 leftalign">r           </td>
	</tr>
	<tr class="row13">
		<td class="col0">——————-+————</td><td class="col1"></td>
	</tr>
	<tr class="row14">
		<td class="col0">Selection Commands </td><td class="col1 leftalign">            </td>
	</tr>
	<tr class="row15">
		<td class="col0">——————-+————</td><td class="col1"></td>
	</tr>
	<tr class="row16">
		<td class="col0 leftalign">Lift Delete        </td><td class="col1 leftalign">d           </td>
	</tr>
	<tr class="row17">
		<td class="col0">——————-+————</td><td class="col1"></td>
	</tr>
	<tr class="row18">
		<td class="col0 leftalign">Ripple Delete      </td><td class="col1 leftalign">x           </td>
	</tr>
	<tr class="row19">
		<td class="col0">——————-+————</td><td class="col1"></td>
	</tr>
	<tr class="row20">
		<td class="col0 leftalign">Silence Audio      </td><td class="col1 leftalign">s           </td>
	</tr>
	<tr class="row21">
		<td class="col0">——————-+————</td><td class="col1"></td>
	</tr>
	<tr class="row22">
		<td class="col0 leftalign">Split              </td><td class="col1 leftalign">k           </td>
	</tr>
	<tr class="row23">
		<td class="col0">——————-+————</td><td class="col1"></td>
	</tr>
	<tr class="row24">
		<td class="col0 leftalign">Join               </td><td class="col1 leftalign">j           </td>
	</tr>
	<tr class="row25">
		<td class="col0">——————-+————</td><td class="col1"></td>
	</tr>
	<tr class="row26">
		<td class="col0 leftalign">Trim               </td><td class="col1 leftalign">h           </td>
	</tr>
	<tr class="row27">
		<td class="col0">——————-+————</td><td class="col1"></td>
	</tr>
	<tr class="row28">
		<td class="col0">Find Zero Crossings</td><td class="col1 leftalign">z           </td>
	</tr>
	<tr class="row29">
		<td class="col0">——————-+————</td><td class="col1"></td>
	</tr>
	<tr class="row30">
		<td class="col0">Navigation Commands</td><td class="col1 leftalign">            </td>
	</tr>
	<tr class="row31">
		<td class="col0">——————-+————</td><td class="col1"></td>
	</tr>
	<tr class="row32">
		<td class="col0 leftalign">Play 1 Second      </td><td class="col1 leftalign">1           </td>
	</tr>
	<tr class="row33">
		<td class="col0">——————-+————</td><td class="col1"></td>
	</tr>
	<tr class="row34">
		<td class="col0 leftalign">Play to Selection  </td><td class="col1 leftalign">b           </td>
	</tr>
	<tr class="row35">
		<td class="col0">——————-+————</td><td class="col1"></td>
	</tr>
	<tr class="row36">
		<td class="col0 leftalign">Play Cut Preview   </td><td class="col1 leftalign">c           </td>
	</tr>
	<tr class="row37">
		<td class="col0">——————-+————</td><td class="col1"></td>
	</tr>
	<tr class="row38">
		<td class="col0 leftalign">Transport Left     </td><td class="col1 leftalign">]           </td>
	</tr>
	<tr class="row39">
		<td class="col0">——————-+————</td><td class="col1"></td>
	</tr>
	<tr class="row40">
		<td class="col0 leftalign">Transport Right    </td><td class="col1 leftalign">[           </td>
	</tr>
	<tr class="row41">
		<td class="col0">——————-+————</td><td class="col1"></td>
	</tr>
	<tr class="row42">
		<td class="col0">Transport to Start </td><td class="col1 leftalign">Home        </td>
	</tr>
	<tr class="row43">
		<td class="col0">——————-+————</td><td class="col1"></td>
	</tr>
	<tr class="row44">
		<td class="col0 leftalign">Transport to End   </td><td class="col1 leftalign">End         </td>
	</tr>
</table></div>
<!-- EDIT1 TABLE [5196-6772] -->
<p>
+——————————–+
</p>

<p>
Using Audacity
</p>

<p>
The basics of Audacity are surprisingly intuitive. If you have used a word
processor, then you already know most of the basic functions of Audacity. Even
the workflow is similar; import or input content, style and arrange it, export
for delivery.
</p>

<p>
If you have no little or no experience with editing audio, this may be a great
all-round tool for you, but if you are used to full-featured digital audio
workstations then you should regard Audacity as a feature-rich multi-track
recorder. It is not a DAW, and even though it is extremely powerful and
flexible, that doesn&#039;t mean that its underlying technology is anything but a
fancy multi-track recorder.
</p>

<p>
Warning
</p>

<p>
If you are not an experienced DAW user, this will mean nothing to you, but for
those who are used to a DAW: tracks in Audacity are not like tracks on a mixing
desk, because there are no busses in Audacity but the master bus. A track here
is more like an immovable audio clip in a DAW. You can move audio into and out
of the tracks, but you cannot move the tracks in time nor can you alter a
track&#039;s length because every track is always as long as the project itself. You
do not apply effects to tracks in Audacity, you apply effects to the actual
audio file itself.
</p>

<p>
The structure of Audacity begins with an empty work area. Within this space,
you can create audio tracks and into these tracks you can import audio files.
</p>

<p>
Importing Sound
</p>

<p>
If you have sound files that have already been recorded, import them from the 
File menu &gt; Import &gt; Audio. There are few formats that Audacity cannot use, as
long as you have done a full install.
</p>

<p>
In the event that a certain filetype cannot be imported, you probably have an
application that can convert it into a suitable format. The Slackermedia build
of Ffmpeg includes nearly every codec that can be included, so it is the best
bet:
</p>

<p>
$ ffmpeg -i input.foo -vn output.flac
</p>

<p>
ffmpeg             -vn
invokes the ffmpeg Disables video (think “video=null”)
application
-i                 output.flac
Path to the input  Saves the converted file to the current directory as
file               output.flac, a losslessly compressed audio format.
</p>

<p>
Import the converted file and get to work.
</p>

<p>
Recording Sound
</p>

<p>
Audacity can also be used as a recording platform. To record into Audacity, set
the input source in the Device toolbar, or set the default device in Edit &gt; 
Preferences &gt; Devices.
</p>

<p>
Given the extreme diversity of computers that Linux manages to support, the
audio menus on Linux may sometimes (depending on your hardware) provide more
options than seemingly necessary (until, that is, you need them). Do not be
alarmed by a long list of audio inputs when you yourself can only think of one
or two on your computer; instead, learn how to manage your audio in ???.
</p>

<p>
Once you have selected the correct audio input device, start recording: if you
are using the Slackermedia config, press r. Otherwise, click the Record on the 
Transport toolbar.
</p>

<p>
Editing Sound
</p>

<p>
Selecting, moving, and targeting audio clips is done with the Select Tool (the
I-beam). It is essentially the same process as with word processing; select the
target area that you want to affect, and then perform some action on the area.
The obvious difference is that you can read text in a word processor but you
need to listen in Audacity. Play audio with the Spacebar or the Play button on
the Transport toolbar.
</p>

<p>
Deleting and Cutting Sound
</p>

<p>
If you hear sound that you want to remove:
</p>
<ol>
<li class="level1"><div class="li">Switch to the Select Tool (the i key if you are using Slackermedia
    shortcuts). Select the part of the sound that you no longer want. It&#039;s
    normal for you to have to play a section of the file over and over again
    until you find just the right place to begin and finish your selection. For
    this reason, in fact, one you make a selection, the default action for 
    SpaceBar is to play just the contents of the selection. This way, you can
    adjust the selection until it&#039;s encompassing exactly what you want.
</div>
</li>
<li class="level0"><div class="li">Usually you will also want to find Zero Crossings. This snaps your
    selection to the closest crest or trough of the selected waveform, meaning
    that after you make your splice, the waveforms on either side of your
    selection will be able to meet at a common point rather than having to
    distort and warp to form a complete waveform again.
<p>
    To conform your selection to zero-crossings, click on the Edit menu and
    select Find Zero Crossings (or press z if you are using the Slackermedia
    config).
</p>
</div>
</li>
<li class="level0"><div class="li">There are two types of removing audio in Audacity:
<p>
      + Split: a split delete or split cut removes the selected audio, leaving
        all audio occuring afterwards uneffected. In video editing, this would
        be called a Lift. To perform a split delete, press Ctrl-Alt-k (or k if
        you are using the Slackermedia config). For a lift cut, use Ctrl-Alt-x.
</p>

<p>
      + Delete or cut: removes the selected audio, and moves all audio after it
        backward (screen Left) in time. In video editing, this would be called
        a Ripple delete. Press Del (also x, on the Slackermedia config) for
        deletes. For cuts, use Ctrl-x.
</p>

<p>
        A standard cut (but not a standard delete) leaves behind a visual scar,
        of sorts, marking where you have just cut out audio. This is actually a
        convenience Undo feature; click the marker, and the cut audio will be
        returned in place (but you will also still have a copy in your
        clip-board). In other words, it converts a cut to a copy.
</p>

<p>
        Right-click the marker to heal the audio region; the audio remains cut,
        but the marker disappears. There is no harm in leaving the marker,
        except that sometimes it might get in the way and restore audio that
        you did not mean to restore, or just be visually distracting.
</p>
</div>
</li>
</ol>

<p>
Copy Paste
</p>

<p>
Copying and Pasting audio back in is as straight-forward as you would suspect:
select audio, find the zero crossing as needed, copy or cut; find a new
location for the audio, place the Transport there, and paste.
</p>

<p>
Every paste is an insert paste; in other words, if you paste audio onto a track
already containing audio on it, then any audio to the right of your paste will
be pushed forward (screen Right) on the timeline. There are no overwrite edits
in Audacity.
</p>

<p>
Splicing
</p>

<p>
Split deletes and split cuts leave a visual splice marker, showing where you
have just removed audio. This is actually a convenience Undo feature; click the
marker, and the removed audio will be returned in place (but you will also
still have a copy in your clip-board). In other words, it converts a cut to a
copy.
</p>

<p>
Right-click the marker to heal the audio region; the audio remains cut, but the
marker disappears. There is no harm in leaving the marker, except that
sometimes it might get in the way and restore audio that you did not mean to
restore, or just be visually distracting.
</p>

<p>
Adding and Removing Silence
</p>

<p>
If for any reason, you want to silence a region of audio without deleting or
cutting, you can overwrite a region with silence. This avoids a break in the
sound file that you have loaded.
</p>

<p>
Generate silence by selecting an area of your sound file and clicking the 
Generate menu and selecting Silence. By default, the start and end point of
silence matches your current selection, so press Return to continue.
</p>

<p>
Conversely, remove silence from a region with the Truncate Silence effect:
select a region of audio and click on the Effect menu and select Truncate
Silence. In the Truncate Silence window that appers, provide the minimum
contiguous duration of silence you want removed, the maximum duration, the
ratio of sound-to-noise that you want considered to be valid silence, and the
decibel level under which any silence must fall in order to qualify for
removal. Click the OK button to execute.
</p>

<p>
Moving
</p>

<p>
Move clips of imported audio forward or backward in time with the Timeshigt
tool in the toolbar (Slackermedia: t). Audio clips can be moved within a track
or to another track entirely. There is not necessarily any harm in leaving
empty space between clips of audio, but be aware that effects in Audacity do
not carry over into empty space, so if you apply a reverb effect to an audio
clip of someone saying “Hello World”, but leave a space between the “hello” and
the “world”, then the reverb itsely will abruptly end at the gap, and resume
(assuming you had it selected when applying the effect) for the “world”. The
fix for this is easy; just fill the gap with silence, but if you find yourself
hindered by this design, then consider using a DAW.
</p>

<p>
Split deletes and split cuts leave a visual splice marker, showing where you
have just removed audio. This is actually a convenience Undo feature; click the
marker, and the removed audio will be returned in place (but you will also
still have a copy in your clip-board). In other words, it converts a cut to a
copy.
</p>

<p>
Right-click the marker to heal the audio region; the audio remains cut, but the
marker disappears. There is no harm in leaving the marker, except that
sometimes it might get in the way and restore audio that you did not mean to
restore, or just be visually distracting.
</p>

<p>
Adding and Removing Silence
</p>

<p>
If for any reason, you want to silence a region of audio without deleting or
cutting, you can overwrite a region with silence. This avoids a break in the
sound file that you have loaded.
</p>

<p>
Generate silence by selecting an area of your sound file and clicking the 
Generate menu and selecting Silence. By default, the start and end point of
silence matches your current selection, so press Return to continue.
</p>

<p>
Conversely, remove silence from a region with the Truncate Silence effect:
select a region of audio and click on the Effect menu and select Truncate
Silence. In the Truncate Silence window that appers, provide the minimum
contiguous duration of silence you want removed, the maximum duration, the
ratio of sound-to-noise that you want considered to be valid silence, and the
decibel level under which any silence must fall in order to qualify for
removal. Click the OK button to execute.
</p>

<p>
Moving
</p>

<p>
Move clips of imported audio forward or backward in time with the Timeshigt
tool in the toolbar (Slackermedia: t). Audio clips can be moved within a track
or to another track entirely. There is not necessarily any harm in leaving
empty space between clips of audio, but be aware that effects in Audacity do
not carry over into empty space, so if you apply a reverb effect to an audio
clip of someone saying “Hello World”, but leave a space between the “hello” and
the “world”, then the reverb itsely will abruptly end at the gap, and resume
(assuming you had it selected when applying the effect) for the “world”. The
fix for this is easy; just fill the gap with silence, but if you find yourself
hindered by this design, then consider using a DAW.
</p>

<p>
You can also align the contents of tracks relative to one another, to your
cursor, or to selection bounds, from the Tracks &gt; Align Tracks. Try it by
importing a few tracks, selecting them, and then running Tracks &gt; Align Tracks
</p>
<blockquote><div class="no">
Align Tracks Together.</div></blockquote>

<p>
Mixing
</p>

<p>
Audacity has mixing capabilities in two senses: you can adjust the volume and
stepeo position of sounds, and you can automate the mix so that volume and
position change over the course of a project.
</p>

<p>
However, Audacity alone has no inbuilt Master Out track, so an experienced
audio engineer seeking the main out track upon which to place a limiter or
compressor will be disappointed. You have to monitor the levels manually, but
since everything is baked in to the tracks, one run through the project is a
reliable reading on what levels the project reaches.
</p>

<p>
Sound monitoring, to the inexperienced, might feel a little upside-down; the
loudest safe level for speakers to output is marked as 0dB. Levels less than
0dB are logarithmically quieter. Related to that are these two things to keep
in mind about sound: loudness is relative, and sound is cumulative.
</p>

<p>
Loudness is relative in part because you can never be sure whether your
audience has their speakers turned up very loudly or turned down. So it does
not suffice to blindly insist that a sound effect of an airplane is definitely
louder than chirping crickets, or that a cymbal crash is louder than a bass
flute, because you can mix them such that they exist at the same level of
loudness, or you can mix them such that they are nearly at the same level. If
you want some sound to be definitively louder than others, then you must mix it
that way.
</p>

<p>
The way to mix one sound louder than others is to make sure that softer sounds
are hitting lower dB marks than loud ones. Seems obvious, but it can be
surprisingly easy to get hold of, for instance, some chirping birds that is
naturally loud, because the sound recordist&#039;s goal is to get clear and audible
samples of birds. You as the mixer, then, must mix them down to some level that
is, relative to your main dialogue, soft and distant.
</p>

<p>
The traditional level for a “normal” speaking voice is -15dB (for movies, or
media with a high bandwidth for dynamic range) or -12dB (for television, or
media with lower bandwidth for dynamic range). All other sounds should be
“loud” or “quiet” in relation to this establishing level.
</p>

<p>
The upper limit for the final output of Audacity should be 0dB, or to be
slightly conservative, -3dB or thereabouts. Anything in excess of 0dB will
probably distort on the final output at best, or cause damage to a user&#039;s
speakers at worst.
</p>

<p>
Keep in mind that when sounds are played together, their cumulative output is
louder than either of the two played separately. Expect a drum mixed to peak at
0db and backing guitar mixed at -6db to push the volume meter over the 0dB
mark. You don&#039;t necessarily need to calculate these things in your head; mix
sensibly, knowing the ebbs and flows of your soundtrack, and then listen to the
project and fix the spots where the sound is too loud or too quiet.
</p>

<p>
There are three tools that help you mix in Audacity:
</p>
<ul>
<li class="level1"><div class="li">Set initial values for volume and stereo panning in the track sidebar with
    the volume and panning sliders. Monitor Audacity&#039;s output levels in the 
    Monitor Toolbar. Red is bad.
<p>
    A more traditional view of these controls is available from the View
    guimenu&gt; menu &gt; Mixer Board.
</p>
</div>
</li>
<li class="level1"><div class="li">Make on-the-fly changes to volume with the Envelope tool, available from
    the Tools Toolbar (Slackermedia config: e). With the Envelope tool, click
    on the border of the imported audio region and drag; with the click, a node
    or keyframe has been created, and by pulling it lower into the track, you
    reduce the volume. Click and drag to create more nodes. Use this technique
    to create selective volume control. This is a very effective method of
    automating the mixing process, and can even be used, at times, in lieu of
    more traditional tools of the trade, like a like limiters.
</div>
</li>
<li class="level1"><div class="li">Use the Effect &gt; Amplify effect to lower volumes of tracks. It&#039;s usually
    better to adjust the track&#039;s volume slider but there may be times when a
    sound is just too quiet or too loud and it just makes sense for you to
    change the sound level.</div>
</li>
</ul>

<p>
itemizedlist&gt;
</p>

<p>
After mixing, be sure to listen to the final project carefully, and keep your
eye on the volume level, as shown in the Meter Toolbar.
</p>

<p>
Track Management
</p>

<p>
The Tracks provides most (but not all) functions for managing tracks. Tracks &gt; 
Add New &gt; Audio Track defaults to a mono track, so use Stereo Track if you need
a stereo container for stereo-coupled audio. Mono audio cannot be moved to a
stereo track, and stereo cannot be moved into a mono track.
</p>

<p>
To mix a track down to a single mono audio stream, click on the track to make
it active, and choose Tracks &gt; Stereo Track to Mono.
</p>

<p>
To convert a stereo track into two separate tracks, click the track name (the
label at the upper left corner of the track) and select Split Stereo Track or 
Split Stereo Track to Mono. The former keeps one track as Left and the other as
Right, while the latter marks both of the resulting tracks as Mono.
</p>

<p>
Effects in Audacity
</p>

<p>
The model for mixing that has been established for sound engineering is one of
busses, and it has been ever since hardware mixing desks. The idea is that a
sound source (a musical instrument or a voice, for example) is captured with a
microphone, which sends the sound into a mixing desk, which might then send the
sound over to, for example, a reverb unit (essentially a sub-mixer) and then
the sound, plus whatever amount of reverb is added, back to the track, and to
the monitor (speakers). It&#039;s a pipeline, with flexible structure and optional
outboard diversions.
</p>

<p>
Since Audacity does not seek to emulate that pipeline, this is not how Audacity
processes audio signals. Audacity calculates effects based on the audio stream
contained in a track and then applies the results back to the audio stream. The
only way to change the effect then is to Undo, recalculate and re-apply. This
means that an audio stream must be present in order for an effect to be heard,
so if you apply reverb or an echo delay with a 2 second decay to a piece of
audio one second in duration, you will only hear one second (probably less,
depending upon the response time and tail level) of reverb. To hear all two
seconds, generate a second or two of silence and attach it to the audio clip,
then apply the reverb.
</p>

<p>
Audacity ships with several common effects, but since it is compatible with
LADSPA, it has full access to any LADSPA effect you have installed, including
the Steve Harris LADSPA pack installed by slackermedia-huge.sqf.
</p>

<p>
Saving
</p>

<p>
Saving your work in Audacity can be done in two ways; you can export to an
audio file or you can create a project file to save all of your changes in a
format that Audacity can continue to edit later on. With few exceptions, it is
rocommended to save your project, and export your work for your final product.
</p>

<p>
Creating an Audacity project is as simple as choosing File &gt; Save Project. An 
Audacity project is not self-contained by default, so it behooves you to create
a new folder to hold your project files, or else use Slackermedia&#039;s Planter
application&gt; application to manage your projects. If you use a Planter
directory structure, place the Audacity project file (the .aup file) within the
sound/session directory.
</p>

<p>
A project folder is created by Audacity and placed alongside of your .aup file;
it contains edits of audio clips used in your project and is meant to be used
by Audacity rather than by humans, so it&#039;s best left alone. To that end, 
Audacity will prompt you whenever you import audio to either make a copy of the
audio into its project folder or to just use the file as-is. This boils down to
linking or embedding (or dynamic versus static linking, to use a software
analogy); if you feel that you are managing your audio files carefully (Planter
helps with this) then there is no need to copy files to Audacity&#039;s directory,
but if you have no structure for keeping dependent audio sources along with the
Audacity edit, then you should allow it to manage audio for you, at the cost of
larger Audacity project folders.
</p>

<p>
Exporting
</p>

<p>
At some point, you will want to export your project as a self-contained,
distributable audio file. Since there is no Master Out channel in Audacity, you
should listen to your entire project carefully before exporting, monitoring the
output levels for distortion. You may not hear distortion in Audacity but if
the volume meter exceeds 0dB then there will likely be distortion in the final
output. Either go back to the problem areas and manually adjust the volume.
</p>

<p>
When ready to export, set the sample rate for your exported file in the 
Selection toolbar.
</p>

<p>
To export, select File &gt; Export.
</p>

<p>
In the Export window, set the audio codec that you want to use with the
dropdown menu in the lower right corner. This menu is populated according to
the codecs that you have available on your system, so on a full Slackermedia
install, you should have access to every major audio codec, even if only by
using an external export engine.
</p>

<p>
Inbuilt Codecs
</p>

<p>
For all of the inbuilt codecs:
</p>
<ol>
<li class="level1"><div class="li">Type in a name for your exported file in the Name field at the top of the
    window.
</div>
</li>
<li class="level0"><div class="li">Choose where you would want to place the exported file in your filesystem.
</div>
</li>
<li class="level0"><div class="li">Optionally, set options for the codec (such as quality or bitrate) using
    the Options….
</div>
</li>
<li class="level0"><div class="li">Click the Save button in the lower right corner.
</div>
</li>
<li class="level0"><div class="li">For some codecs, you may be prompted to fill in optional ID3 tags.</div>
</li>
</ol>

<p>
Exporting Using External Programmes
</p>

<p>
To use an external programme for exporting:
</p>
<ol>
<li class="level1"><div class="li">Select External Program from the codec dropdown menu.
</div>
</li>
<li class="level0"><div class="li">Click the Options button at the bottom of the window.
</div>
</li>
<li class="level0"><div class="li">Enter the command you want to run in the Command field. The synax of the
    command will depend upon the command; for example, to pipe audio through 
    speexenc:
<p>
<br/>
              speexenc –quality 5 –comp 5 –vbr –denoise –author “Slackermedia” - “%”
<br/>

</p>

<p>
    But to send it through lame:
</p>

<p>
<br/>
              lame - “%f”
<br/>

</p>

<p>
    In both cases, the - represents a path to standard in and %f is a
    place-holder for the ouput filename placed in the Name field. In other
    words, the application (lame or speexenc or whatever) opens a tunnel to
    standard in as its source of input data, and Audacity sends its output data
    to standard in, and thus a connection is made. Not all applications accept
    data from standard in, but many encoders do, so generally this should work.
    The place-holder of %f makes your external command non-specific to the
    project, so that you can use it later on.
</p>

<p>
    What command you use and how you use it is dictated by the command syntax
    itself; if you are not a regular user of the encoder that you want to
    invoke, look up the syntax and do a few tests in a Unix shell first.
    Running it as an external command from within Audacity is not the way to
    learn an encoder, so get familiar with it first, and then try invoking it
    from within Audacity.
</p>
</div>
</li>
<li class="level0"><div class="li">Place a tick mark next to Show output to be notified when the external
    command has finished running.</div>
</li>
</ol>
