
<p>
Chapter 1.  GIMP Brushes
</p>

<p>
Table of Contents
</p>

<p>
Gimp Paint Studio
</p>

<p>
See Also
</p>

<p>
MyPaint
Krita
Inkscape
</p>

<p>
Ever since version 2.4, GIMP can use Photoshop ABR brushes, so almost any
website offering free brushes for image manipulation programs will have
something to offer an artist in need of new brushes.
</p>

<p>
These sites seem to come and go at random, but the Great Linux Multimedia
Sprints has plenty for you to freely install, use, and re-distribute. Be aware
that not all brush sets are create equal; some are fine at low resolutions but
degrade when increased in size, so audition the brushes that you install and
judge them based on your own requirements. Installing too many will cause the
brush menu in GIMP to respond slower, so don&#039;t go overboard.
</p>

<p>
Installing GIMP brushes is simple:
</p>
<ul>
<li class="level1"><div class="li">To install brushes on a system-wide basis, move the brush files (*.gbr<ul>
<li class="level1"><div class="li">.arb *.vbr etc) to the /usr/share/gimp/2.0/brushes/ directory</div>
</li>
</ul>
</div>
</li>
<li class="level1"><div class="li">To install them on a per-user basis, copy the files to that user&#039;s ~
    /.gimp-2.x/brushes directory</div>
</li>
</ul>

<p>
Launch GIMP (or quit and then launch, if it was already running) and the
brushes will in the brush palette. Notice that GIMP scans the brushes directory
every time it launches, so keeping hundreds or brushes in the the brushes
directory will make GIMP slower to launch. It may behoove you to familiarize
yourself with the brushes you own, and only keep your favourite brushes in the
brush directory, until GIMP developers come up with a more dynamic way to load
brushes.
</p>

<p>
Gimp Paint Studio
</p>

<p>
GIMP Paint Studio (“GPS” for short) is a sort of project-within-a-project; it
is an add-on pack for GIMP itself and brings with it a whole new personality by
adding sets of brushes, color swatches, and presets so that you can achieve
everything from realistic materials and brush emulation, airbrushing, inking,
and any variety of special effects.
</p>

<p>
GPS is available from code.google.com/p/gps-gimp-paint-studio as a zip file. It
releases as a traditional software would, so make sure to download the latest
version corresponding to your version of GIMP.
</p>

<p>
Slackermedia&#039;s maintainers currently also maintains a SlackBuild for GPS on
slackbuilds.org.
</p>

<p>
If you choose to manually install it, the install is simple; unzip the file and
then copy the brushes into your GIMP brushes directory.
</p>

<p>
Warning
</p>

<p>
If you have custom GIMP *rc files, GPS will overwrite them during installation.
Backup your GIMP *rc files before proceeding.
</p>
<pre class="code">$

   curl
   http://gps-gimp-paint-studio.googlecode.com/files/GPS%201_5_final%20release.zip
   -O GPS1_5_finalrelease.zip; mkdir GPS_source

$

  unzip GPS*zip -d GPS_source ; cd ./GPS_source

$

  for gps in $(find ./* -type d) ; do cp $gps/*
  ~/.gimp*/$gps ; done

$

    cp ./GPS_source/*rc ~/.gimp*/</pre>

<p>
Once the files are copied, launch or re-launch GIMP and explore the new
options.
</p>

<p>
Warning
</p>

<p>
GPS brushes are only brush presets, so they are not stored in your brushes
menu.
</p>

<p>
The new brushes are stored in the Restore Options From… button at the bottom
of the Paint Brush tab. Everything else is easily accessible in their
respective tabs.
</p>
