
<p>
<a  href='/handbook/doku.php?id=workflow'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;position:absolute;top:0;left:0;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrowp.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

<p>
<a  href='/handbook/doku.php?id=apps:audacity'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;position:absolute;top:0;margin-left:2.5em;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrown.png' /></span><span class='plugin_button_text wikilink2'></span></span></a>
</p>

<h1 class="sectionedit1" id="application_catalogue">Application Catalogue</h1>
<div class="level1">

<p>
One of the most powerful aspects of using open source software is the proliferation of software. There is no comparison in the closed source world
because making lots of small, couture, personal applications just doesn&#039;t pay like big monolithic flagships do. So there can be no practical catalogue of all the useful open source applications; there are too many.
</p>

<p>
Your first job as an artist new to Slackware (after learning Linux) is to find out which application(s) you like for which task. You need not limit yourself to just one or two per task. It&#039;s acceptable to use one application for some task under certain conditions, and another for the same task under a different set of conditions.
</p>

<p>
It will be your impulse to identify the applications you used to use, and try to find clones of those. It&#039;s an unavoidable tactic, but time and time again it has disappointed users from all disciplines; applications are not built according to some mysterious universal specification. Applications are designed from the ground up according to the way that their programmers feel best. It may act completely different to what you are used to. The sooner you accept that you are embarking on a quest to learn <em>new</em> applications and not uncover the hidden “freeware” versions of the applications you learnt in school or on a job, the better!
</p>

<p>
It&#039;s also acceptable to use just one or two applications for everything you do.
There is no right or wrong way of doing this; the point is not to unravel the puzzle into an intended result, but to use the puzzle pieces to create whatever result suits you best.
</p>

<p>
This is possibly the greatest point of confusion to new Linux users: <strong>Linux is whatever you make it</strong>. 
</p>

<p>
At this point, most computerists have been trained to conform strictly to prescribed workflows using only name-brand tools. In spite of its widespread and often passionate userbase, Linux is not a social club that you join or a company that you work for nor a corporation from which you make purchases; it&#039;s an operating system that bends to your will. Explore the tools available to you, try them out until you feel comfortable with them, and then decide which one is for you.
</p>

</div>
<!-- EDIT1 SECTION "Application Catalogue" [243-2464] -->
<h2 class="sectionedit2" id="on_switching">On Switching</h2>
<div class="level2">

<p>
If a user has been trained on, for instance, Final Cut Pro and gets a job as, for instance, an Avid editor, the user is as good as a beginner.
</p>

<p>
If a user is a certified genius on Windows, that same user is at primary school level when placed in front of an Apple Mac. A user who can produce amazing animation in Adobe Flash is useless with Toon Boom, and a musician that knows Pro Tools
flails helplessly in Cakewalk.
</p>

<p>
Switching to open source solutions is no different.
</p>

</div>
<!-- EDIT2 SECTION "On Switching" [2465-2963] -->
<h2 class="sectionedit3" id="evaluating_software_like_a_pro">Evaluating Software Like a Pro</h2>
<div class="level2">

<p>
Do not assume that just because you know one closed-source application, you can pick up an open source “equivalent” and keep going from where you left off. You need to go back to the beginning, you&#039;ll need to learn about what the application is capable of doing, how it works, what file formats it agrees with and what file formats cause it problems, and so on.
</p>

<p>
It is painful to experience such setbacks. The good news is that while there is a ceiling in closed software, there is none in open source, meaning that even though you are destined to start out a beginner all over again with open source software. Once you have learnt to use it well, then you can continue learning, refining, perfecting, customising, and building upon that open foundation that you have established.
</p>

<p>
Open Source has no upper limit.
</p>

<p>
The appropriate steps in evaluating a software for production use are entirely up to you, but you should have a methodology to it. There is no excuse for launching an application, poking around at it for an hour, and then closing it in frustration with the declaration that it is unfit. Almost no new
application (open source or otherwise) is going to fit your current workflow, because your current workflow is designed around specific applications.
</p>

<p>
This is a sample evaluation process:
</p>

<p>
<strong>Requirements</strong>
</p>
<!-- EDIT4 PLUGIN_WRAP_START [0-] --><div class="wrap_indent plugin_wrap">
<p>
Make a generic, software-independent list of your actual workflow. Ask yourself what steps actually need to occur with a set of assets, and break this into several steps.
</p>
</div><!-- EDIT5 PLUGIN_WRAP_END [0-] -->
<p>
<strong>Target</strong>
</p>
<!-- EDIT6 PLUGIN_WRAP_START [0-] --><div class="wrap_indent plugin_wrap">
<p>
From this generic list, locate potential software that appear to perform each step. It may be that one monolithic software claims to do everything you need, or it might be that several applications cover a few items on your list, creating a pipeline.
</p>
</div><!-- EDIT7 PLUGIN_WRAP_END [0-] -->
<p>
<strong>Read the Docs</strong>
</p>
<!-- EDIT8 PLUGIN_WRAP_START [0-] --><div class="wrap_indent plugin_wrap">
<p>
Read the application&#039;s documentation. This is the key to the application&#039;s intended use. The application may, on a superficial level, resemble something familiar to you, but that does not mean that the application works the same as the one that is resembles. In fact, chances are good that it does not.
</p>

<p>
If you are serious about finding an alternative, then the burden is on you to understand how the software works. You cannot insist upon using software the wrong way, because that is how you have been trained to achieve a result, and then close the software and call it confusing, unintuitive, or insufficient. You are not using the software as intended. Do the research and make sure this is not how you are evaluating software.
</p>
</div><!-- EDIT9 PLUGIN_WRAP_END [0-] -->
<p>
<strong>Evaluate</strong>
</p>
<!-- EDIT10 PLUGIN_WRAP_START [0-] --><div class="wrap_indent plugin_wrap">
<p>
Armed with a few potential pipelines, you can now begin to evaluate the software that claims to solve your problem.
</p>

<p>
Read online documentation and tutorials of the software you intend to use. Get a feel for not just what the software claims to do, but how it achieves the results.
</p>

<p>
Practise using each application in test environments. Create a test project with realistic assets typical of what you would use in your production environment. Use the application that you are evaluating to create something out of those assets. Remember that you are a beginner in this environment, so the end result probably will not be as technically complex as something you would create in the environment you usually use.
</p>

<p>
This will be frustrating to you. Count on that. It&#039;s difficult, as a skilled craftsperson, to do something familiar to you, but with one hand metaphorically tied behind your back. However, you can also use this as an artistic exercise; take this opportunity to stop relying on the tools of your trade, and get back to experimentation and raw creativity. You might find it surprisingly refreshing.
</p>

<p>
When you encounter problems, post questions online for the software&#039;s author or support team. Usually, a software will have a forum or bug report link on its homepage; use it. For commercial software, you probably either had or still have resources for support; find the same resource for your open source tools.
</p>

<p>
You will have to look in different places than the sites you are already familiar with; you will not be able to get help with open source software on sites that cater exclusively to restricted software, and you won&#039;t find quality help on open source software on sites that cater primarily to restricted software. Go straight to the source, or email Slackermedia.
</p>

<p>
Don&#039;t be afraid to customise. As you learn, you may well find shortcuts or preference tweaks that make an application more comfortable for you. That&#039;s part of the power of open source, so use them!  If something annoys you, or if you find a quicker way to achieve something, customise applications, tweak the interface, change the keymaps. Do whatever you
 please. As long as you save the configuration files (written as invisible files in your home directory), you can carry your changes around with you from computer to computer (many applications can
 dynamically change where they look for config files, but if not then you can just install your config files and the applications will adapt).
</p>

<p>
Sometimes, new users are hesitant to do this for fear of learning an application “wrong”. In practise, if you find yourself using an un-customised version of some application, the brain tends to switch over to its lowest-common usability settings; your work might be slower
 without your own configuration, but you will be far from helpless.
</p>

<p>
Unless you have no standard operating environment, it&#039;s best to customise an application for efficiency.
</p>

<p>
Adapt, or do not adapt. In a perfect world, you would not have to adapt to anything new. The reality of computing is that you do adapt. You adapted, whether you knew it or not, to closed source software when you chose to do everything in the way it makes you do things (in other words, you used its file formats, ingested media, dealt with licensing, exported to finals, and so on, in the way that closed source software told you). Since many people learnt well-promoted and -marketed closed source software first, it does not feel like you are adapting to something, because you are instantiating habits and workflows that simply did not exist previously.
</p>

<p>
If an open source application is not working, try adapting a little. If you need to change file formats, or ingest media in a different way than what you think is obvious, or do different steps of your workflow in a different order, be willing to mix things up. Don&#039;t sacrifice quality, but do recognise that most of your habits have been built entirely upon one specific set of tools. Don&#039;t be too stubborn to recognise that there are more than one way of accomplishing something.
</p>
</div><!-- EDIT11 PLUGIN_WRAP_END [0-] -->
<p>
<strong>Reflect</strong>
</p>
<!-- EDIT12 PLUGIN_WRAP_START [0-] --><div class="wrap_indent plugin_wrap">
<p>
Once you have learned a software sufficiently to be critical of its results, decide whether or not it will work for you. If not, move to the next candidate.
</p>
</div><!-- EDIT13 PLUGIN_WRAP_END [0-] -->
<p>
<strong>Practise</strong>
</p>
<!-- EDIT14 PLUGIN_WRAP_START [0-] --><div class="wrap_indent plugin_wrap">
<p>
If the software will work for you, then the next perpetual task is to
 practise. You did not learn all that you know about closed source software
in a day or even a year. Switching to something entirely new and different
is going to take practise.
</p>
</div><!-- EDIT15 PLUGIN_WRAP_END [0-] -->
</div>
<!-- EDIT3 SECTION "Evaluating Software Like a Pro" [2964-10170] -->
<h2 class="sectionedit16" id="installing_the_applications">Installing the Applications</h2>
<div class="level2">

<p>
The rest of this handbook contains instructions on how to install and configure some
applications, and in some cases, an overview on how to use them. 
</p>

<p>
It is not all-inclusive; there are heaps of great applications out there, and this is mostly just a list of the apps that Slackermedia users have used and tested and, for that reason, recommend to others.
</p>

<p>
This is not a complete manual for each application; there are some tips on how to use the applications, and there are tips on how to integrate it with other important applications.
</p>

<p>
The following overview of applications provides a general sense for what is available for Linux. It should serve as a launchpad for further exploration, and as a list of known-good and robust applications that are in use in real-world production environments, some of which are a bedroom music studio and others are multi-million dollar production facilities.
</p>

<p>
Have fun!
</p>

</div>
<!-- EDIT16 SECTION "Installing the Applications" [10171-] -->