
<p>
<a  href='/handbook/doku.php?id=linuxaudio'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;position:absolute;top:0;left:0;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrowp.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

<p>
<a  href='/handbook/doku.php?id=slackbuilds'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;position:absolute;top:0;margin-left:2.5em;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrown.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

<h1 class="sectionedit1" id="understanding_how_applications_are_managed">Understanding How Applications are Managed</h1>
<div class="level1">

<p>
Forget [most] everything you knew about software installation from traditional desktops. This increasingly holds true regardless of <abbr title="Operating System">OS</abbr>, since other operating systems are moving toward managed installation like Linux has had for a decade, and everyone is moving toward contained installers. 
</p>

<p>
Whether you manage just one system or one hundred systems, it&#039;s important to understand how software is installed, un-installed, and upgraded on a Slackware system. Generically, this is referred to as “package management”. For large scale installs, there is administrative software (such as <a href="https://puppetlabs.com" class="urlextern" title="https://puppetlabs.com"  rel="nofollow">Puppet</a>) but it&#039;s still important to understand how it all happens on an instance-by-instance basis.
</p>

<p>
GNU and Linux systems have become known for having a progressive and unique method
of installing software, referred usually as the “repository” or “package
management” systems. <a href="http://debian.org" class="urlextern" title="http://debian.org"  rel="nofollow">Debian</a> and <a href="http://redhat.com" class="urlextern" title="http://redhat.com"  rel="nofollow">Red Hat</a> Linux(es) popularised this idea when they began using databases to keep track of all software installed on a computer. The database could be queried and compared to packages avalailable on distribution servers to discover newer versions of installed software.
</p>

<p>
Slackware uses its own, simpler version of package management, but the concept is the same, and indeed conceptually the problem being solved is the same across all operating systems: a user gets the base system for an <abbr title="Operating System">OS</abbr> but wants to load personal software on the computer. The question is, how can an <abbr title="Operating System">OS</abbr> keep itself up-to-date while also not breaking the applications that the user has installed on top of it all?
</p>

<p>
The method for this in traditional unix is to install software to a “local” directory in the operating system. Within this “local” directory, a user can maintain private versions of support libraries and applications, without depending on anything but the most basic and common libraries existing in the lower levels of the <abbr title="Operating System">OS</abbr>.
</p>

<p>
In practise, that can be redundant and quite a lot of work, so what happens normally is that the operating system either gets updated frequently, and all of the user&#039;s applications along with it, or the operating system sits mostly untouched for years at a time while the user works with what they have installed. Since major revisions of software which depend major renovations of underlying libraries don&#039;t actually happen all that often, there is stability and consistency.
</p>

<p>
Slackware (and longterm releases of other distributions) opts for the latter.
</p>

</div>
<!-- EDIT1 SECTION "Understanding How Applications are Managed" [245-2817] -->
<h2 class="sectionedit2" id="slackware_package_tools">Slackware Package Tools</h2>
<div class="level2">

<p>
Slackware provides, for all practical purposes, four primary methods of managing the software installed on a system:
</p>
<ol>
<li class="level1"><div class="li"><code>pkgtool</code> and related tools like <code>installpkg</code> and <code>removepkg</code>, <code>slackpkg</code>, and <code>rpm2tgz</code></div>
</li>
<li class="level1"><div class="li">Slackbuilds</div>
</li>
<li class="level1"><div class="li">Source code and <code>makepkg</code> (technically a part of the <code>pkgtool</code> set, but meant for compiling source code)</div>
</li>
<li class="level1"><div class="li">Binaries or custom packages</div>
</li>
</ol>

<p>
Each of these offers a variety of choices for how a user manages the software on a computer; none of them impose update schedules, automatic dependency installation and removal, or demand a complex system of database calls be learned.
</p>

</div>
<!-- EDIT2 SECTION "Slackware Package Tools" [2818-3471] -->
<h2 class="sectionedit3" id="pre-built_packages">Pre-Built Packages</h2>
<div class="level2">
<!-- EDIT4 PLUGIN_WRAP_START [0-] --><div class="wrap_info plugin_wrap">
<p>
<strong>Quickstart</strong>
</p>

<p>
Install a Slackware package:
</p>
<ol>
<li class="level1"><div class="li">Find a Slackware package from a trusted site such as <a href="http://studioware.org" class="urlextern" title="http://studioware.org"  rel="nofollow">http://studioware.org</a> or <a href="http://slackware.org.uk/people/alien/restricted_slackbuilds" class="urlextern" title="http://slackware.org.uk/people/alien/restricted_slackbuilds"  rel="nofollow">http://slackware.org.uk/people/alien/restricted_slackbuilds</a> and download it <em>and its the md5 file, if available</em> to your computer.</div>
</li>
<li class="level1"><div class="li">If an md5 sum was available, verify the authenticity of the package with <code>md5sum /path/to/package | cut -f1 -d“ ” &amp;&amp; cat /path/to/md5sum</code></div>
</li>
<li class="level1"><div class="li">Assuming the numbers match, open a terminal and type <code>su -c “installpkg /path/to/package”</code> to install.</div>
</li>
</ol>

<p>
Remove a Slackware package:
</p>
<ol>
<li class="level1"><div class="li"><code>su -c “removepkg /path/to/package”</code> un-installs the application, but not your personal data relating to that application (nor any configuration files that have changed since having been installed).</div>
</li>
</ol>

<p>
Look at the contents of a package:
</p>

<p>
<code>tar -tvf /path/to/package | more</code>
</p>
</div><!-- EDIT5 PLUGIN_WRAP_END [0-] -->
</div>
<!-- EDIT3 SECTION "Pre-Built Packages" [3472-4352] -->
<h3 class="sectionedit6" id="package_tools">Package Tools</h3>
<div class="level3">

<p>
The package tools that ship with Slackware are designed to help the user install, upgrade, and remove <em>pre-built</em> Slackware packages.
</p>

<p>
Slackware packages are ordinary compressed tar files. They contain, quite
simply, a collection of pre-built files that have been archived in a minimalised mirror image of a Slackware system; they usually have the file extension <code>.tgz</code>, <code>.tbz</code>, or <code>.txz</code>.
</p>
<!-- EDIT7 PLUGIN_WRAP_START [0-] --><div class="wrap_alert plugin_wrap">
<p>
Slackware packages are generic archives, but not all <code>.tgz</code>, <code>.tbz</code>, and <code>.txz</code> are Slackware packages! In other words, Slackware packages are a subset of archives; compressed tarballs are used to store all kinds of files, so just because you find a <code>.t?z</code> archive it doesn&#039;t mean that you can install it.
</p>

<p>
Most Slackware packages follow a conventional naming scheme like <code>appname-version-arch-tag.t?z</code> (for example, <code>planter-0.5.0-noarch-SMi.tgz</code> is a Slackware package, while <code>planter-master.tgz</code> is not).
</p>

<p>
If you are ever unsure, use <code>tar -tvf name-of-file.t?z</code> to look into the archive without opening it.
</p>
</div><!-- EDIT8 PLUGIN_WRAP_END [0-] -->
<p>
Those that are Slackware packages contain, generally speaking, these files:
</p>
<ul>
<li class="level1"><div class="li">slack-desc: A description of the application this package will install.</div>
</li>
<li class="level1"><div class="li">doinst.sh: A shell script doing post-install tasks, like adding support in one program for the application just installed.</div>
</li>
<li class="level1"><div class="li">/usr, /usr/share, and other folders into which the executable application itself exists and from which it will be copied out into the rest of the system.</div>
</li>
</ul>

<p>
A traditional package, therefore, is a mimicry of your Linux system; it
contains a few descriptive files or scripts to do a few specialized tasks, but
mainly it is simply an isolated <code>/usr</code>, <code>/etc</code>, and whatever else is required for
the application to run, with all the compiled files in place.
</p>

<p>
When a Slackware package gets installed, all of these files are imposed over your existing system. Once the files are copied from the package to your system, you can run the application.
</p>

<p>
Slackware provides tools to automate all aspects of installing, tracking, and removing packages:
</p>
<ul>
<li class="level1"><div class="li"><code>installpkg</code> installs and logs packages</div>
</li>
<li class="level1"><div class="li"><code>upgradepkg</code> upgrades packages and updates log entries</div>
</li>
<li class="level1"><div class="li"><code>removepkg</code> removes packages and package log entries</div>
</li>
<li class="level1"><div class="li"><code>pkgtool</code> a menu system for managing packages</div>
</li>
</ul>

<p>
<code>installpkg</code> is a simple front-end to the process of decompressing, copying files
from, and logging the contents of a Slackware package.
</p>
<pre class="code">$ su -c &#039;installpkg /media/cdrom/extra/foo/foo-*.txz&#039;</pre>

<p>
Once a package is installed, all of the files that have been placed on your system are noted in <code>/var/log/packages</code>. You may see a list of every package currently installed on your system:
</p>
<pre class="code">ls /var/log/packages | less</pre>

<p>
You can also see every file contained in each one of those packages:
</p>
<pre class="code">less /var/log/packages/foo</pre>

<p>
Using this information, two other scripts can upgrade packages, or remove packages.
</p>
<pre class="code">$ su -c &#039;upgradepkg /var/log/packages/foo-version.txz foo-newVersion.txz&#039;
$ su -c &#039;removepkg /var/log/packages/foo-version.txz&#039;</pre>

<p>
If you have a difficult time remembering commands, you can use <code>pkgtool</code>, a graphical tool that runs in the terminal. Its use is fairly self-explanatory; choose whether you want to install packages from a directory, remove packages that are already installed, or view a list of installed files associated with a package.
</p>

<p>
<a href="/handbook/lib/exe/detail.php?id=pkg&amp;media=pkgtool.png" class="media" title="pkgtool.png"><img src="/handbook/lib/exe/fetch.php?media=pkgtool.png" class="mediacenter" alt="" /></a>
</p>

<p>
Since Slackware itself uses Slackware packages to install itself in the first place, you can also run several initial install scripts again, should you need to re-configure.
</p>

</div>
<!-- EDIT6 SECTION "Package Tools" [4353-7970] -->
<h3 class="sectionedit9" id="slackpkg">Slackpkg</h3>
<div class="level3">

<p>
The first Slackware packages you&#039;ll deal with are the ones installed onto your
system during the normal installation process. You won&#039;t interact with these directly, but they are always available for re-installation, either from your install media or via the internet.
</p>

<p>
Aside from the default packages installed with a full install, there is an <code>/extra</code> directory containing additional packages. To install them from the install DVD, use <code>installpkg</code>:
</p>
<pre class="code"># installpkg /path/to/dvdrom/extra/foo-0.1.tgz</pre>

<p>
If you don&#039;t have the install media, use the internet.
</p>

<p>
To install a package from the internet, you <em>could</em> download the <code>.txz</code> file from a
Slackware mirror and then use <code>installpkg</code> or <code>pkgtool</code>, but there is a simple
script that can make the process easier, called <code>slackpkg</code>.
</p>

<p>
To configure <code>slackpkg</code> so that it knows where to look online for packages, open
<code>/etc/slackpkg/mirrors</code> (a text file) as root and find the mirror that is
associated with your Slackware version and that is geographically close to you.
Uncomment it by removing the leading hash mark. 
</p>

<p>
The list of mirrors offers both ftp and http access, but you must uncomment <em>only one</em>.
</p>
<!-- EDIT10 PLUGIN_WRAP_START [0-] --><div class="wrap_tip plugin_wrap">
<p>
In terms of <code>slackpkg</code>, there is no functional difference between ftp and http.
If you use a network that restricts, for instance, ftp traffic, then http would
have the obvious advantage for you.
</p>
</div><!-- EDIT11 PLUGIN_WRAP_END [0-] -->
<p>
Update the list of available packages by issuing the initial command 
<code>slackpkg update</code>; this updates the <em>list</em> of packages on the server, it does not upgrade any of your software.
</p>

<p>
The repository can be searched by using the command <code>slackpkg search foo</code> as root, and an application can be installed with <code>slackpkg install foo</code>. As usual, reading the manual page for <code>slackpkg</code> reveals a full listing of associated commands.
</p>

<p>
Once a package has been installed with <code>slackpkg</code>, it can be removed or upgraded
using <code>pkgtool</code> and the other package management commands.
</p>

<p>
Since a full install of Slackware contains nearly everything that <code>slackpkg</code> has
access to anyway, the most common use for <code>slackpkg</code> in Slackermedia will be for
security updates. You should perform a periodic update of slackpkg followed by
</p>
<pre class="code">$ su -c &#039;slackpkg upgrade-all&#039;</pre>

<p>
Look through the list of available updates, and update as you see fit. 
</p>
<!-- EDIT12 PLUGIN_WRAP_START [0-] --><div class="wrap_important plugin_wrap">
<p>
Only
essential security updates are distributed via slackpkg, so even in-production
machines are safe to patch.
</p>
</div><!-- EDIT13 PLUGIN_WRAP_END [0-] -->
</div>
<!-- EDIT9 SECTION "Slackpkg" [7971-10485] -->
<h2 class="sectionedit14" id="finding_additional_packages">Finding Additional Packages</h2>
<div class="level2">

<p>
If you installed the full Slackware install base, then the only additional
packages that slackpkg provides are applications found in the <code>/extra</code> and <code>/
testing</code> directories (also available on your install disc). Aside from these
directories, everything else on the server or disc has been installed on your
system.
</p>

</div>
<!-- EDIT14 SECTION "Finding Additional Packages" [10486-10847] -->
<h3 class="sectionedit15" id="distributors_of_slack_packages">Distributors of Slack Packages</h3>
<div class="level3">

<p>
Slackware packages can be found elsewhere online, but you should make sure you
trust the source of those packages, just as you would when considering
installing applications on any other operating system.
</p>

<p>
A few reliable places with good reputations:
</p>

<p>
<strong>Studioware</strong>
</p>
<!-- EDIT16 PLUGIN_WRAP_START [0-] --><div class="wrap_indent plugin_wrap">
<p>
<a href="http://studioware.org/packages" class="urlextern" title="http://studioware.org/packages"  rel="nofollow">http://studioware.org/packages</a> is full of current builds of all kinds of multimedia tools. There are a wealth of new production toys to be discovered here, so it will probably take you a few days to explore and test what you find.
</p>
</div><!-- EDIT17 PLUGIN_WRAP_END [0-] -->
<p>
<strong>AlienBob</strong>
</p>
<!-- EDIT18 PLUGIN_WRAP_START [0-] --><div class="wrap_indent plugin_wrap">
<p>
<a href="http://slackware.com/~alien/slackbuilds" class="urlextern" title="http://slackware.com/~alien/slackbuilds"  rel="nofollow">http://slackware.com/~alien/slackbuilds</a> is a repository of useful applications, including <code>Scribus</code>, the <code>OpenJDK</code> Java dev kit and runtime, the <code>Chromium</code> web browser, and the <code>Opus</code> audio codec. Not all of the applications he offers are always terribly up-to-date, and some are, so take that into consideration before deciding what you want to install from this server.
</p>

<p>
<a href="http://slackware.org.uk/people/alien/restricted_slackbuilds" class="urlextern" title="http://slackware.org.uk/people/alien/restricted_slackbuilds"  rel="nofollow">http://slackware.org.uk/people/alien/restricted_slackbuilds</a> is a repository of useful applications that include codecs or code that cannot be distributed on USA-based servers. Most notably this includes <code>VLC</code> and <code>HandBrake</code>. Not all of the applications he offers are up-to-date, and some are, so take that into consideration before deciding what you want to install from this server.
</p>
</div><!-- EDIT19 PLUGIN_WRAP_END [0-] -->
<p>
<strong>Slacky.eu</strong>
</p>
<!-- EDIT20 PLUGIN_WRAP_START [0-] --><div class="wrap_indent plugin_wrap">
<p>
<a href="http://slacky.eu" class="urlextern" title="http://slacky.eu"  rel="nofollow">http://slacky.eu</a> is a long-standing and vibrant community of Slackware users in Italy. The site has both 32-bit and 64-bit repositories with useful software spanning all categories.
</p>
</div><!-- EDIT21 PLUGIN_WRAP_END [0-] -->
<p>
<strong>Slackermedia</strong>
</p>
<!-- EDIT22 PLUGIN_WRAP_START [0-] --><div class="wrap_indent plugin_wrap">
<p>
<a href="http://slackermedia.info/slackbuilds" class="urlextern" title="http://slackermedia.info/slackbuilds"  rel="nofollow">http://slackermedia.info/slackbuilds</a> offers useful (and some not-so-useful) packages, including JSampler, butt audio streamer, and most importantly the Slackermedia-approved, everything-plus-the-kitchen-sink compile of ffmpeg.
</p>

<p>
Not everything is always up-to-date, but they are the versions of software that the author of Slackermedia is using.
</p>
</div><!-- EDIT23 PLUGIN_WRAP_END [0-] -->
</div>
<!-- EDIT15 SECTION "Distributors of Slack Packages" [10848-12846] -->
<h3 class="sectionedit24" id="rpm2tgz">rpm2tgz</h3>
<div class="level3">

<p>
The command <code>rpm2tgz</code>, which converts a pre-built package for <a href="http://redhat.com" class="urlextern" title="http://redhat.com"  rel="nofollow">Red Hat</a> or <a href="https://getfedora.org" class="urlextern" title="https://getfedora.org"  rel="nofollow">Fedora</a> Linux into a <code>slackpkg</code> (ie, a <code>.t?z</code> file) that can then be installed via <code>installpkg</code> or <code>pkgtool</code>. This is similar to finding a
pre-built <code>.tgz</code> on any given software&#039;s download page, except that rpm files are ubiquitous to Linux package formats and the likelihood of finding a <code>.rpm</code> file often exceeds the likelihood of happening across a Slackware package.
</p>

<p>
There are differences between how a Red Hat system is built and how Slackware is built, however, so there is some chance that the converted package will not work, but it&#039;s usually worth trying.
</p>

<p>
Reliable sites for RPM packages include:
</p>
<ul>
<li class="level1"><div class="li"><a href="http://rpmfusion.org" class="urlextern" title="http://rpmfusion.org"  rel="nofollow">http://rpmfusion.org</a></div>
</li>
<li class="level1"><div class="li"><a href="http://ccrma.stanford.edu/planetccrma/software/" class="urlextern" title="http://ccrma.stanford.edu/planetccrma/software/"  rel="nofollow">http://ccrma.stanford.edu/planetccrma/software/</a></div>
</li>
<li class="level1"><div class="li">Official Red Hat (and related) <a href="https://admin.fedoraproject.org/mirrormanager/" class="urlextern" title="https://admin.fedoraproject.org/mirrormanager/"  rel="nofollow">mirrors</a>. This maze can be difficult to navigate, so choose your architecture and then choose a nearby server to use; the packages are located from the webroot of the mirror: <code>pub/fedora/linux/releases/??/Everything/x86_64/os/Packages/</code> (where <code>??</code> is a version number, and the architecture is 64bit).</div>
</li>
</ul>

<p>
Once you&#039;ve downloaded the <code>.rpm</code> file, use <code>rpm2tgz</code> to convert it:
</p>
<pre class="code"># rpm2tgz foobar-x.x.xx.rpm</pre>

<p>
The result is a <code>.tgz</code> file, so after the conversion is finished the original
<code>.rpm</code> can be discarded and <code>pkgtool</code> used to install. Ensure that the computer contains the dependency code for the application to function; this means that you might need to install other software before installing the application you really want to use. For instance, the Red Hat documentation tool <code>publican</code> is distributed as an <code>.rpm</code> and it will install, but in order for it to actually work there are over twenty <code>perl</code> modules that must be installed first.
</p>
<!-- EDIT25 PLUGIN_WRAP_START [0-] --><div class="wrap_alert plugin_wrap">
<p>
The user should also trust the source of the package such that they can be sure
there is no broken, disabled, or malicious code present.
</p>
</div><!-- EDIT26 PLUGIN_WRAP_END [0-] -->
</div>
<!-- EDIT24 SECTION "rpm2tgz" [12847-14917] -->
<h2 class="sectionedit27" id="source_code">Source Code</h2>
<div class="level2">

<p>
Slackware users often prefer to compile the software they install themselves;
that is, they take the raw text files containing the application&#039;s raw code and
process it through the GNU <code>gcc</code> compiler, and then move the resulting binary (computer executable files) into their system. This has a wide variety of advantages:
</p>
<ul>
<li class="level1"><div class="li">It allows the user to control where the executable binary (the application) is installed.</div>
</li>
<li class="level1"><div class="li">It allows the user to enable or disable features of the application before the application is built.</div>
</li>
<li class="level1"><div class="li">It allows the user to optimize the application for a specific processor.</div>
</li>
<li class="level1"><div class="li">It allows the user to review the code that goes into the building of an application, should the user wish to do so.</div>
</li>
<li class="level1"><div class="li">It allows the user to change the code that goes into the building of an application, should the user wish to do so.</div>
</li>
<li class="level1"><div class="li">It ensures the availability of applications to all users on any GNU, Linux, or unix-like system; source code is universal in that if an application was written for a GNU Linux system then it will compile and run on any GNU Linux system regardless of distribution.</div>
</li>
</ul>

<p>
The general process of compiling is in theory simple. Obtaining it is much like obtaining any downloadable software; you go to a website or a code management site (like <a href="http://sourceforge.net/directory/os:linux/" class="urlextern" title="http://sourceforge.net/directory/os:linux/"  rel="nofollow">Sourceforge or [[https://github.com/notklaatu|Github</a> or <a href="https://gitlab.com/u/notklaatu" class="urlextern" title="https://gitlab.com/u/notklaatu"  rel="nofollow">Gitlab</a>) and download the source code of an application. Typically, free software is available in both a work-in-progress (“current” or “nightly”) form as well as a packaged “stable” release version. Slackermedia recommends, with few exceptions, downloading the stable version, which indicates that the code has been tested to some degree and that the programmers of the application feel confident enough in the code to package it into a <code>.zip</code> or <code>.tar.gz</code> or <code>.tar.bz2</code> archive, give it an official number and sometimes a release name, and offer it for download to the general non-programmer public.
</p>

<p>
Once the code has been downloaded, it is uncompressed, and a series of two or three commands are issued which starts GNU gcc, which compiles the code and then sends the binaries into the system (<em>viz.</em> it is “installed”).
</p>

</div>
<!-- EDIT27 SECTION "Source Code" [14918-17193] -->
<h3 class="sectionedit28" id="how_to_compile_software_from_source">How to Compile Software from Source</h3>
<div class="level3">

<p>
Before you compile from source code, you should ask yourself why you are
compiling from source code. Common reasons include:
</p>
<ul>
<li class="level1"><div class="li">You cannot find an existing Slack package or Slackbuild script for the application you are about to compile. There are also no <code>.rpm</code> versions available, or if there are, they do not install or work as required.</div>
</li>
<li class="level1"><div class="li">You need new features found only in a fresh release. You have tried to modify an existing Slackbuild script but it fails to compile the software for you, so you want to give it a go yourself.<br/>

    This can be difficult, because usually if an existing buildscript has been broken by a new release, then the code has either changed so drastically or else it (or its build system) are broken, and serious hacking will be required. Still, it&#039;s free to try.</div>
</li>
<li class="level1"><div class="li">You just want to build from source code.</div>
</li>
</ul>

<p>
There is not just one way to compile software. There is a prevalent way, but any programmer may choose a different method to manage how their software is compiled. The compilation itself is usually performed by the GNU C Compiler, <code>gcc</code>. The way that <code>gcc</code> knows
what steps to take during the compile is from instructions placed in a <code>Makefile</code>, or some configuration list; that is, a document written in a syntax specific to the compiler, which
informs the compiler what procedures and where to find supportive code to use while building the application. It may contain pointers to other code that is expected to already exists on the user&#039;s system, or to other parts of code within that application&#039;s project, and it may contain special instructions for installing the software after it has been built as well as instructions on how to un-install that application should the user decide it is no longer needed.
</p>
<!-- EDIT29 PLUGIN_WRAP_START [0-] --><div class="wrap_important plugin_wrap">
<p>
The source code downloaded may or may not include all of the code it actually
requires to compile and run. If, for example, Developer Foo has developed code
for a graphics application that requires heavily on Developer Bar&#039;s <code>opus</code> codec, then Developer Foo is obviously not going to distribute <code>libopus</code> along with the
Foo code, because <code>libopus</code> is maintained by Developer Bar. Even though <code>opus</code> is open source and may be able to be distributed, it arguably wouldn&#039;t make sense to bundle something that a user may already have installed.
</p>

<p>
It is up the user, therefore, to read the <code>README</code> file (or similar) packaged along with Developer Foo&#039;s application and find out what other code is required to be
present on the computer for Application Foo to work (this is called “dependency
resolution”) and what build system the project uses, and what steps must be
followed for the code to compile as expected.
</p>
</div><!-- EDIT30 PLUGIN_WRAP_END [0-] -->
<p>
The general steps in compiling code, abstracted away from any specific build
system, are:
</p>
<ol>
<li class="level1"><div class="li">Prepare the build scripts for the exact configuration of your system.</div>
</li>
<li class="level1"><div class="li">Start the compiler to build the code, and then link that code to libraries it needs in order to run.</div>
</li>
<li class="level1"><div class="li">Copy the new files to places that your operating system expects to find them. Icons are moved to the system icon directory, documentation to the system doc location, libraries to the system library path, executables to one of the system&#039;s application directories, and launchers to the system launcher location.</div>
</li>
</ol>

<p>
Things can go wrong, of course, so here are common problems that arise in even a simple build.
</p>

</div>

<h4 id="common_compilation_problems">Common Compilation Problems</h4>
<div class="level4">

<p>
<strong>configure, cmake, etc.</strong>
</p>
<!-- EDIT31 PLUGIN_WRAP_START [0-] --><div class="wrap_indent plugin_wrap">
<p>
By far the most common problem during the configuration step are missing libraries. If an application requires <code>libfoo</code> to compile (because the developer has borrowed some code from <code>libfoo</code>, so counts on that library being on your computer), and it cannot find it, then it is the job of the configuration script to alert you.
</p>

<p>
The solution is to install the missing libraries, and then run the make command again. If there is a make clean command, run it first to clear out any progress prior to the error.
</p>

<p>
Another potential solution is to look at configuration options (usually done by adding a <code>–help</code> flag to the configure command) to see if the missing library is indeed absolutely necessary. Sometimes it is possible to build without a library by using a flag like <code>–without-libfoo</code> or similar.
</p>

<p>
Of course, you would not want to do this arbitrarily; usually the correct solution is to install the missing library.
</p>
</div><!-- EDIT32 PLUGIN_WRAP_END [0-] -->
<p>
<strong>make, build</strong>
</p>
<!-- EDIT33 PLUGIN_WRAP_START [0-] --><div class="wrap_indent plugin_wrap">
<p>
A problem during the actual compiling of code can mean that either the configuration step made an error, or that there is an error in the code itself.
</p>

<p>
If the configuration step made an error, then the compiler is likely looking in the wrong location for libraries that it needs. This can usually be solved by either manually correcting configuration files, or by overriding configuration files with environment variables. Unless the compiler error tells you what to look for, or you can debug the code yourself, your best chance of fixing such a problem would be to do an Internet search on the error.
</p>

<p>
If there is a bug in the code that is preventing it from compiling, you can either fix it (if you are a skilled programmer) or you can do an Internet search on the error to see if anyone else has encountered and fixed the problem.
</p>
</div><!-- EDIT34 PLUGIN_WRAP_END [0-] -->
<p>
<strong>make install, install</strong>
</p>
<!-- EDIT35 PLUGIN_WRAP_START [0-] --><div class="wrap_indent plugin_wrap">
<p>
This step fails less often than earlier steps, since all it should be doing is copying files to your system. If it does fail, it is probably because you do not have permission to write files to system folders. Re-try the command with root privileges.
</p>

<p>
The problem with compiling and installing source code in this traditional way is that tracking what you have installed is nearly impossible. Any given application might install several libraries, icons, sets of documentation, and binary executables. This makes it extremely difficult to accurately and safely update components of your system when, for instance, an application requires you to update multiple libraries which in turn are being used by other applications which may be effected by the update, and so on.
</p>

<p>
For this reason, Slackware has a built-in method of wrapping up a compiled application as a custom-made Slack package: <code>makepkg</code>.
</p>
</div><!-- EDIT36 PLUGIN_WRAP_END [0-] -->
<p>
<strong>Makepkg</strong>
</p>

<p>
To use <code>makepkg</code>, you do need to understand what build system the developer is using so that you can redirect the install process (usually the final step, after the code has been compiled) to a directory of your choosing, rather than to the root of your system. Run <code>makepkg</code> on that directory, and you have a Slack package.
</p>

<p>
Here is an overview of common ways of defining a new installation directory:
</p>

<p>
<strong>Autotools</strong>
</p>
<!-- EDIT37 PLUGIN_WRAP_START [0-] --><div class="wrap_indent plugin_wrap">
<p>
<code>Autotools</code> is a collection of tools within the GNU build tools. Being the original freely-available build system in the world, it is by far the most common.
</p>

<p>
To redirect an install, you run the usual commands, with one small addition to the install command. Therefore the first two steps are the same as always:
</p>
<pre class="code">$ ./configure
$ make</pre>

<p>
The final step intercepts the default install path and forces <code>make</code> to treat a <code>DESTDIR</code> of your choosing as if it were the root of your filesystem:
</p>
<pre class="code">$ mkdir /tmp/pkg-foo; make install DESTDIR=/tmp/pkg-foo</pre>

<p>
Move into the DESTDIR and use makepkg to create your Slack package:
</p>
<pre class="code">$ cd /tmp/pkg-foo
$ su -c &#039;makepkg -l y -c n /tmp/foo-version-$(uname -m)_SMi.txz&#039;</pre>

<p>
Install the package with <code>installpkg</code>. A Slackware package can also be used on other Slackware machines, so you may wish to store it somewhere for later use or re-distribution.
</p>
</div><!-- EDIT38 PLUGIN_WRAP_END [0-] -->
<p>
<strong>Cmake</strong>
</p>

<p>
&lt;WRAP indent&gt;
<code>Cmake</code> is a build system that features a rich interactive <abbr title="Graphical User Interface">GUI</abbr> and a highly customisable build environment. In practise, the difference between <code>Cmake</code> and <code>Automake</code> is in the configuration step, so in practise using <code>makepkg</code> with it is the essentially the same as with <code>Autotools</code>.
</p>

<p>
The first two steps are the usual cmake commands:
</p>
<pre class="code">$ mkdir build ; cd build; cmake ..
$ make</pre>

<p>
The final step intercepts the default install path and forces <code>make</code> to treat a <code>DESTDIR</code> of your choosing as if it were the root of your filesystem:
</p>
<pre class="code">$ mkdir /tmp/pkg-foo; make install DESTDIR=/tmp/pkg-foo</pre>

<p>
Move into the DESTDIR and use makepkg to create your Slack package:
</p>
<pre class="code">$ cd /tmp/pkg-foo
$ su -c &#039;makepkg -l y -c n /tmp/foo-version-$(uname -m)_SMi.txz&#039;</pre>

<p>
Install it with <code>installpkg</code>. A Slackware package can also be used on other Slackware machines, so you may wish to store it somewhere for later use or re-distribution.
</p>

<p>
<strong>Python Distutils</strong>
</p>

<p>
<code>Distutils</code> is the default method for installing Python applications, since it is the distribution tool that ships with Python itself. Generally, it places all configuration and installation actions in a setup.py file. It is, however, highly customisable, so be sure to read any documentation about installation that the developer of the code provides.
</p>

<p>
To re-direct the destination of the installable files, use the <code>–root</code> flag when launching the setup script.
</p>
<pre class="code">$ python setup.py install --root=/tmp/pkg-foo</pre>

<p>
Move into the <code>DESTDIR</code> and use <code>makepkg</code> to create your Slack package:
</p>
<pre class="code">$ cd /tmp/pkg-foo
$ makepkg -l y -c n /tmp/foo-version-$(uname -m)_SMi.tgz</pre>

<p>
Install it with <code>installpkg</code>, and of course you can store this Slack package somewhere for later use or for re-distribution, if needed.
</p>

<p>
There are many more build systems out there, and there is even the remote possibility that entirely custom install commands or no install commands could turn up. In the event of non-standard build systems, you can read the documentation included with the code and attempt a build nevertheless. If you can&#039;t figure out how to redirect the install process, you can choose to install without creating a Slack package; theoretically, that will be harder to un-install or update, but it might be a trade-off worth making, depending on the application and how badly you want it. 
</p>

<p>
As a last resort, you can contact Slackermedia for assistance; we may be able to build a package for you. Generally, this can be done for free, since it&#039;s very likely that if you are attempting to build and use a multimedia application, then other Slackermedia users may also be interested in trying it. If it is critical that a package gets created promptly, or if the package proves difficult to build even for us, then we might have to provide you with a price quote in order to get the job done to your specifications or else politely admit defeat.
</p>

<p>
The good news is that many applications already have scripts that configure,
compile, and create a Slack package for you. These are called <strong>Slackbuilds</strong>
(because they are simple scripts that you run in order to automate the steps of
compiling). 
</p>

<p>
The SlackBuild system allows you to get the best of both of worlds: the ability to compile from raw source code and transparently take the intermediate step of creating a Slackware Package that will be logged in <code>/var/log/packages</code> along with everything else installed on your system, but without doing any of the leg work. Slackbuild scripts are published in many places, but the largest repository of them is <a href="http://slackbuilds.org" class="urlextern" title="http://slackbuilds.org"  rel="nofollow">http://slackbuilds.org</a>.
</p>

<p>
Read how to use <a href="/handbook/doku.php?id=slackbuilds" class="wikilink1" title="slackbuilds">SlackBuilds</a> in the next section.
</p>

<p>
<a  href='/handbook/doku.php?id=slackbuilds'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;float:right;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrown.png' /></span><span class='plugin_button_text wikilink1'></span></span></a><a  href='/handbook/doku.php?id=linuxaudio'><span class='plugin_button' style='border:0;background:none;width:0;float:right;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrowp.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

</div>
<!-- EDIT28 SECTION "How to Compile Software from Source" [17194-] -->