
<p>
This is but a small sample of Linux-related articles within the multimedia space. Since most readers do not read articles about their favourite artists to learn about the technical tools they use, the articles are not as prolific as they “should” be, but enough searching online renders a fair sample.
</p>
<ol>
<li class="level1"><div class="li"><a href="http://www.digitalproducer.com/article/DreamWorks-Animations-Kung-Fu-Panda-created-with-Linux-based-HP-workstations-415193" class="urlextern" title="http://www.digitalproducer.com/article/DreamWorks-Animations-Kung-Fu-Panda-created-with-Linux-based-HP-workstations-415193"  rel="nofollow">Dreamworks Interview</a></div>
</li>
<li class="level1"><div class="li">Pixar&#039;s <a href="http://www.muktware.com/2013/04/pixar-animation-studios-uses-red-hat-enterprise-linux/4271" class="urlextern" title="http://www.muktware.com/2013/04/pixar-animation-studios-uses-red-hat-enterprise-linux/4271"  rel="nofollow">OpenSubDiv Demo</a></div>
</li>
<li class="level1"><div class="li"><a href="http://renderman.pixar.com/resources/current/rps/installLinux.html" class="urlextern" title="http://renderman.pixar.com/resources/current/rps/installLinux.html"  rel="nofollow">Renderman Docs</a></div>
</li>
<li class="level1"><div class="li"><a href="http://www.olivier-ladeuix.com/blog/2013/04/28/pixar-animation-software" class="urlextern" title="http://www.olivier-ladeuix.com/blog/2013/04/28/pixar-animation-software"  rel="nofollow">Presto</a> animation software by Pixar</div>
</li>
<li class="level1"><div class="li"><a href="http://www.linuxjournal.com/magazine/emphasisthe-day-earth-stood-stillemphasis" class="urlextern" title="http://www.linuxjournal.com/magazine/emphasisthe-day-earth-stood-stillemphasis"  rel="nofollow">Linux Journal article about Weta</a></div>
</li>
<li class="level1"><div class="li"><a href="http://blog.dustinkirkland.com/2010/01/39000-core-ubuntu-cluster-renders.html" class="urlextern" title="http://blog.dustinkirkland.com/2010/01/39000-core-ubuntu-cluster-renders.html"  rel="nofollow">Avatar</a> renderwall</div>
</li>
<li class="level1"><div class="li"><a href="http://www.creativeplanetnetwork.com/news/news-articles/linux-hollywood/381003" class="urlextern" title="http://www.creativeplanetnetwork.com/news/news-articles/linux-hollywood/381003"  rel="nofollow">Creative Planet</a></div>
</li>
<li class="level1"><div class="li"><a href="http://asperasoft.com/customers/customer/view/Customer/show/weta-digital" class="urlextern" title="http://asperasoft.com/customers/customer/view/Customer/show/weta-digital"  rel="nofollow">Aspera</a></div>
</li>
<li class="level1"><div class="li"><a href="http://www.pcmag.com/article2/0,2817,1046864,00.asp" class="urlextern" title="http://www.pcmag.com/article2/0,2817,1046864,00.asp"  rel="nofollow">PC Magazine</a></div>
</li>
<li class="level1"><div class="li"><a href="http://archive09.linux.com/feature/22473" class="urlextern" title="http://archive09.linux.com/feature/22473"  rel="nofollow">Linux at Dreamworks</a> in 2002</div>
</li>
<li class="level1"><div class="li"><a href="http://www.openexr.com" class="urlextern" title="http://www.openexr.com"  rel="nofollow">OpenEXR</a> by ILM and Weta Digital]]</div>
</li>
<li class="level1"><div class="li"><a href="http://www.fxguide.com/featured/manuka-weta-digitals-new-renderer" class="urlextern" title="http://www.fxguide.com/featured/manuka-weta-digitals-new-renderer"  rel="nofollow">Manuka</a> by Weta Digital</div>
</li>
</ol>
