
<p>
<code>mono</code>
</p>
<ul>
<li class="level1"><div class="li">application names</div>
</li>
<li class="level1"><div class="li">commands</div>
</li>
<li class="level1"><div class="li">filename</div>
</li>
</ul>

<p>
** bold **
</p>
<ul>
<li class="level1"><div class="li">gui elements: labels, tabs, buttons, window_titles</div>
</li>
</ul>

<p>
<strong>caps</strong>
</p>
<ul>
<li class="level1"><div class="li"> LILO - by example <a href="http://lilo.alioth.debian.org/" class="urlextern" title="http://lilo.alioth.debian.org/"  rel="nofollow">http://lilo.alioth.debian.org/</a></div>
</li>
</ul>
