
<p>
These are the templates currently installed in your DokuWiki. You can select the template to be used in the <span class="curid"><a href="/handbook/doku.php?id=pkg&amp;do=admin&amp;page=config" class="wikilink1" title="pkg">Configuration Manager</a></span>.
</p>
