
<p>
<a  href='/handbook/doku.php?id=start'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;position:absolute;top:0;left:0;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrowp.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

<p>
<a  href='/handbook/doku.php?id=pre'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;position:absolute;top:0;margin-left:2.5em;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrown.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

<h1 class="sectionedit1" id="introduction">Introduction</h1>
<div class="level1">

<p>
Slackermedia is a book and Linux configuration guide. After reading, comprehending, and implementing the lessons in Slackermedia the book, a user will have a customized Slackware Linux distribution for multimedia production.
</p>

<p>
The idea is based in part upon the <a href="http://www.linuxfromscratch.org" class="urlextern" title="http://www.linuxfromscratch.org"  rel="nofollow">Linux-From-Scratch</a> project and is, with the utmost 
respect, the antithesis to <a href="http://ubuntustudio.org" class="urlextern" title="http://ubuntustudio.org"  rel="nofollow">Ubuntu Studio</a> and other
(quite good) “multimedia distros”.
</p>
<!-- EDIT2 PLUGIN_WRAP_START [0-] --><div class="wrap_tip plugin_wrap">
<p>
To be clear: there is no truth to the idea that there is “a better” distribution for specific tasks (with the exception of minimal installs versus full installs). You do not need a certain distribution of Linux to do multimedia and another to do office work and another to play games - not even to use Slackermedia. While it&#039;s best to use Slackware for Slackermedia (because it is written for Slackware), there is plenty of generic and conceptual information in this handbook that it is applicable to all Linux and BSD distributions.
</p>
</div><!-- EDIT3 PLUGIN_WRAP_END [0-] -->
</div>
<!-- EDIT1 SECTION "Introduction" [230-1276] -->
<h2 class="sectionedit4" id="where_s_the_installer_disc">Where&#039;s The Installer Disc?</h2>
<div class="level2">

<p>
Anyone who has looked into Linux will know that there are a lot of Linux
distributions available. Many of them are very good, with a lot of effort going
into their production and maintenance. It&#039;s because GNU Linux distributes its code freely that such a rich variety of operating environments are able to peacefully co-exist in a way that just never
happens in commercial proprietary software.
</p>

<p>
It can also be very confusing to a new user.
</p>

<p>
If you are a new user, all you need to know about Linux distributions is that there are basically two types: those that assume the user is a software developer and therefore requires constant updates to every library and header file, whilst others assume the user is a computer user in the traditional sense.
</p>

<p>
On the other hand, Slackware assumes nothing. It provides a solid base of proven software and lets the user manage updates, upgrades, and customisation. That is exactly what Slackermedia leverages.
</p>

<p>
But Slackermedia is not one of the discs you can download and install, reboot, and magically find that the multimedia environment of your dreams has been installed on your computer.
</p>

<p>
Slackermedia is not a CD or DVD or pre-fabricated distribution. In fact, part
of the idea behind Slackermedia is that a pre-fabricated environment will be
less efficient and less effective for you, the user.
</p>

</div>
<!-- EDIT4 SECTION "Where's The Installer Disc?" [1277-2680] -->
<h2 class="sectionedit5" id="so_what_is_slackermedia">So what is Slackermedia?</h2>
<div class="level2">

<p>
Slackermedia is a set of tutorials on how to build your own Slackware multimedia environment that will be tailored specifically for you and how you work.
</p>

<p>
Slackermedia exists for two reasons:
</p>
<ol>
<li class="level1"><div class="li">To build one&#039;s environment is to know one&#039;s environment.</div>
</li>
<li class="level1"><div class="li">Slackware is a stable, powerful, unix-like, well-supported, sensible, free and open operating system, ideal for the needs of a multimedia artist.</div>
</li>
</ol>

</div>
<!-- EDIT5 SECTION "So what is Slackermedia?" [2681-3138] -->
<h2 class="sectionedit6" id="what_s_wrong_with_multimedia_distros">What&#039;s Wrong With Multimedia Distros?</h2>
<div class="level2">

<p>
An important thing to realise is that there is no such thing as a “multimedia distro” any more than there is a distro for gaming, or office work, or software development. Regardless of how they brand themselves, Linux distributions can be reduced down to basically the same set of ingredients: a Linux kernel for hardware management, a mix of GNU and BSD system utilities, and any number of
independently developed software applications. Any further description of a Linux distribution is purely based on the intent of the people offering the thing for download.
</p>

<p>
So-called “Multimedia distros” like Ubuntu Studio, DyneBolic, Startcom, Musix,
and others serve as a good starting point if an artist is unfamiliar with the
artistic tools available for Linux. A good multimedia distribution ideally
comes pre-configured with all the usual media creation apps, so you can try
them out and determine which application best fits your style of work and
creative process.
</p>

<p>
For some artists, however, a pre-built distribution can actually get in the
way. Since these ready-made distributions often throw in every
multimedia-related application they can possibly find on their sponsor&#039;s
server, they often end up having 8 different video editors, 4 audio editors, 6
DAWs, an odds-and-ends collection of small utilities, no paint applications, an
out-of-date animation package, and no sense of how any of these disparate parts
are supposed to work together.
</p>

<p>
Slackermedia tries to be a “workflow” distro. It teaches the user how to build
their own environment, how to leverage the inherently modular Linux system, and
how all the different parts work together.
</p>

<p>
And most importantly, it lets the user get their artwork done.
</p>

<p>
After building and using Slackermedia, you will better understand the unix
philosophy. You will understand how it applies not to just computing, but to
large multimedia projects, and you might even come to a better understanding of
your craft.
</p>

<p>
In short, for some people, no distribution will ever be a perfect fit unless
the user has custom-designed it.
</p>

</div>
<!-- EDIT6 SECTION "What's Wrong With Multimedia Distros?" [3139-5289] -->
<h2 class="sectionedit7" id="why_slackware">Why Slackware?</h2>
<div class="level2">

<p>
Building a multimedia system on any <abbr title="Operating System">OS</abbr> is a precarious task; the goal is always to maximize flexibility, have every tool available to the user with as much integration as possible, have the latest features, a good understanding the
tools of the trade, and a solid system that is stable and powerful.
</p>

<p>
Linux makes an ideal platform for multimedia based on many of those requirements. It is inherently flexible, and if configured correctly it can be
everything the user needs in the exact way that the user prefers. The base system is the famously flexible, and yet stable and powerful.
</p>

<p>
It is for this very reason that Linux is the preferred operating environment for visual effects companies. The movie industry is not generally verbose about what goes on behind-the-scenes, especially when it&#039;s highly technical, but it
doesn&#039;t take much investigation <sup><a href="#fn__1" id="fnt__1" class="fn_top">1)</a></sup> to learn that Linux is the primary platform for companies that are inventing their own custom solutions in a marketplace otherwise threatened by lookalike off-the-shelf plugins.
</p>

<p>
Any Linux distribution will do for multimedia, but this book is tailored for Slackware specifically, so it uses Slackware&#039;s custom system management tools. In theory, advanced users could adapt all of the tips in this book to fit any other distribution, but this handbook prefers Slackware. There are a few advantages to Slackware over other varieties of Linux:
</p>
<ul>
<li class="level1"><div class="li">Stability. Slackware prizes stability over jumping to the latest-and-greatest features. Historically, for instance, Slackware has not included new technologies like HAL, Pulse Audio, udev, or systemd, until they have proven to be reliable, finished products. To users itching for the neatest, latest features, this may appear an inconvenience, but for mission-critical machines it is far better to wait on flashy new features than have beta-quality technology cause unforeseen delays in the workflow.
</div>
</li>
<li class="level1"><div class="li">Longterm Support. Upgrading an operating system is a disruptive process. Mission-critical environments tend to speak of upgrades in, at the very least, five year blocks. While commercial operating systems and the more competitively-minded Linux distributions encourage annual upgrades, Slackware releases only once every three or four years, with security patches being offered for at least 5 years thereafter.
</div>
</li>
<li class="level1"><div class="li">Manual Updates. Many computer users are very accustomed to their computer blinking an icon at them every week or month, urging them to accept a series of updates to their operating system. Most users accept these alerts blindly and let their <abbr title="Operating System">OS</abbr> be updated right out from under them. Sometimes this adds new features and new security patches; other times, it breaks a critical component of an intricate workflow.<br/>

<br/>

For mission-critical systems, auto-updating is not a user-friendly feature, it is bothersome at best, and at worst it&#039;s an unknown variable that could all-too easily bring production to a halt.
</div>
</li>
<li class="level1"><div class="li">Unix-like functionality. GNU and Linux, the two basic components of what is colloquially called “Linux”, were modeled on AT&amp;T&#039;s UNIX operating system, and more broadly on the “unix philosophy” as demonstrated in the book <a href="http://www.amazon.com/Linux-Unix-Philosophy-Mike-Gancarz/dp/1555582737" class="urlextern" title="http://www.amazon.com/Linux-Unix-Philosophy-Mike-Gancarz/dp/1555582737"  rel="nofollow">Linux and the Unix Philosophy</a> by Mike Gancarz. Ideas such as re-using other people&#039;s work, keeping things modular, stringing together existing small applications to functionally achieve larger ones are all part of the “unixy” way of doing things. Slackware strives to be as true to UNIX as possible. In fact, its mission statement from the <a href="http://www.slackware.com/info" class="urlextern" title="http://www.slackware.com/info"  rel="nofollow">http://www.slackware.com/info</a> website is:<br/>

<br/>

The Slackware Philosophy: since its first beta release in April of 1993, the Slackware Linux Project has aimed at producing the most “UNIX-like”
 Linux distribution out there. Slackware complies with the published Linux standards, such as the Linux File System Standard. We have always considered simplicity and stability paramount, and as a result Slackware has become one of the most popular, stable, and friendly distributions available.
</div>
</li>
<li class="level1"><div class="li">Control. In Slackware, the user has control over almost every aspect of the system. While other distributions have successfully made some things very easy and almost invisible to the user, such as adding packages via friendly package managers like <code>RPM</code> and <code>yum</code> or <code>apt-*</code> and <code>aptitude</code>, the user also loses a degree of control over the way applications are compiled, what options applications have enabled, where applications and libraries get installed in the system, what gets added and removed upon the installation and removal of packages, and so on<sup><a href="#fn__2" id="fnt__2" class="fn_top">2)</a></sup>.<br/>

<br/>

Slackware leaves all such control firmly with the user, and for this reason the resulting system is precisely the sort of system the user needs.</div>
</li>
</ul>

</div>
<!-- EDIT7 SECTION "Why Slackware?" [5290-10224] -->
<h2 class="sectionedit8" id="prerequisites">Prerequisites</h2>
<div class="level2">

<p>
This book attempts to make no assumption about the reader&#039;s experience level, and ideally the Slackermedia tutorials will be able to be used by everyone. Realistically, however, in order to use this book a user will probably need:
</p>
<ul>
<li class="level1"><div class="li">Familiarity with Linux and unix. The more familiar you are, the easier the process will be. In other words, this book isn&#039;t an introduction to Linux, but an introduction and explanation of multimedia content creation on Linux. If you do
not already know Slackware Linux, then start with an <a href="http://docs.slackware.com" class="urlextern" title="http://docs.slackware.com"  rel="nofollow">introductory guide</a> first, then graduate to this one.
</div>
</li>
<li class="level1"><div class="li">Some familiarity with compiling source code is helpful but not strictly necessary. Slackermedia advises the user to compile from source on a number of important programs, but if the user&#039;s needs are simple - or the user wishes to start out simple - then manually compiling from source may never be necessary. Additionally, the use of SlackBuilds makes the process easier than ever.
</div>
</li>
<li class="level1"><div class="li">It is recommended that the user be comfortable with installing and configuring Slackware. While Slackware is not difficult, it does allow for quite a bit of customization and configuration. If the user does not feel comfortable doing this (ie, if the user has only ever run a distribution that largely installs and configures itself, like Debian, Mageia, Suse, and so on), then before Slackermedia is attempted, some degree of comfort with Slackware should be attained. A good way to do this is by reading Slackware Documentation.<br/>

<br/>

The latest official documentation for Slackware is <a href="http://docs.slackware.com" class="urlextern" title="http://docs.slackware.com"  rel="nofollow">http://docs.slackware.com</a>.<br/>

<br/>

If you have not already, then you should also read the <a href="http://store.slackware.com" class="urlextern" title="http://store.slackware.com"  rel="nofollow">Slackware Essentials</a> (generally known as the “Slackbook”). It&#039;s admittedly a little out of date, but because Slackware has changed so very little at the system-level, it holds up surprisingly well.
</div>
</li>
<li class="level1"><div class="li">Familiarity with Linux multimedia applications. It will be difficult to custom design a multimedia distribution if the user does not know what applications they want to install. While Slackermedia gives plenty of good examples and suggestions, it is heavily biased toward what the author knows best and the applications that the author uses most. If a user knows that they prefer Ardour to Qtractor, for instance, then the user should implement an Ardour-based Slackermedia design; if the user doesn&#039;t know one from the other, then the user may not be getting the best solution for their needs.<br/>

<br/>

Remember that Slackermedia is not a recipe or a prescription; don&#039;t get distracted by the specific set of tools if you know of something better. Learn how to set these tools up, how to get them to work with one another, and then build your own solution. That is the <a href="/handbook/doku.php?id=ref:mantra" class="wikilink1" title="ref:mantra">Slackermedia way</a>.<br/>

<br/>

If you do not know the multimedia applications available, install more than you think you need, and then spend time getting familiar with all of your options. Take them for a test drive, try them each out in production, and over time you will be able to trim down and simplify your Slackermedia
 installation process.<br/>
</div>
</li>
</ul>

<p>
All in all, the experienced user will find Slackermedia pretty simple to set up
and start using. A new user will need to take it slower and allow for a learning curve, but don&#039;t let that discourage you. Every new tool has a
learning curve, and the lessons you learn while setting up a Slackware media machine will help you understand Linux of every flavour, as well as computers in general.
</p>

<p>
<a  href='/handbook/doku.php?id=pre'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;float:right;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrown.png' /></span><span class='plugin_button_text wikilink1'></span></span></a><a  href='/handbook/doku.php?id=start'><span class='plugin_button' style='border:0;background:none;width:0;float:right;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrowp.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

</div>
<!-- EDIT8 SECTION "Prerequisites" [10225-] --><div class="footnotes">
<div class="fn"><sup><a href="#fnt__1" id="fn__1" class="fn_bot">1)</a></sup> 
<a href="/handbook/doku.php?id=ref:references" class="wikilink1" title="ref:references">Examples</a></div>
<div class="fn"><sup><a href="#fnt__2" id="fn__2" class="fn_bot">2)</a></sup> 
The user never really loses control in open source, since the code is free.</div>
</div>
