
<p>
<a  href='/handbook/doku.php?id=kernel'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;position:absolute;top:0;left:0;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrowp.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

<p>
<a  href='/handbook/doku.php?id=workflow'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;position:absolute;top:0;margin-left:2.5em;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrown.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

<h1 class="sectionedit1" id="studio_sound">Studio Sound</h1>
<div class="level1">

<p>
If you are working with pro audio applications, then you&#039;ll be working with JACK, the low latency sound system for Linux with robust sound routing capabilities so that the internals of your computer are a fully stocked recording studio with an endless supply of virtual cables and patchbays. 
</p>

<p>
Sound good? of course it does. But a peculiarity about JACK is that it seizes control of your sound card in order to ensure near-realtime performance; this means that the normal sound system that <em>usually</em> drives audio on a Linux desktop cannot access the same sound card.
</p>

<p>
In other words, if you are running applications through JACK in order to gain near-realtime performance and otherwise impossible audio routing capability, when you launch an applications that does not or cannot use JACK, that application will not have sound.
</p>

<p>
There are three options to deal with this. Regardless of which you choose, you must install <code>alsa-plugins</code>. This plugin pack is not included in the Slackermedia queue files because for to maximise its usefulness, you should have <code>ffmpeg</code>, <code>JACK</code>, and (optionally, if you use it) <code>speex</code> installed before building and installing <code>alsa-plugins</code>.
</p>

<p>
If you have these installed, then it is safe to install <code>alsa-plugins</code>. It is available from <a href="http://slackbuilds.org" class="urlextern" title="http://slackbuilds.org"  rel="nofollow">http://slackbuilds.org</a>.
</p>

</div>
<!-- EDIT1 SECTION "Studio Sound" [237-1573] -->
<h2 class="sectionedit2" id="alsa_jack_plugin">ALSA JACK Plugin</h2>
<div class="level2">

<p>
The first method, outlined on <a href="http://jackaudio.org/faq/routing_alsa.html" class="urlextern" title="http://jackaudio.org/faq/routing_alsa.html"  rel="nofollow">http://jackaudio.org/faq/routing_alsa.html</a>, is to create a dummy ALSA “loopback” device that can be used from within JACK. This means that while JACK is running, a non-JACK application can still play through your system sound cards by piping its way through JACK via an ALSA tunnel, of sorts.
</p>
<!-- EDIT3 PLUGIN_WRAP_START [0-] --><div class="wrap_tip plugin_wrap">
<p>
If you are not a full-time musician, this is probably the best solution for you, as it balances ease-of-setup plus flexible functionality.
</p>
</div><!-- EDIT4 PLUGIN_WRAP_END [0-] -->
<p>
To set up the bridge device, edit (creating it if it does not already exist) the file <code>~/.asoundrc</code>:
</p>
<pre class="code">pcm.rawjack {
    type jack
    playback_ports {
        0 system:playback_1
        1 system:playback_2
    }
    capture_ports {
        0 system:capture_1
        1 system:capture_2
    }
}

pcm.jack {
    type plug
    slave { pcm &quot;rawjack&quot; }
    hint {
    description &quot;JACK Audio Tunneling Kit&quot;
    }
}</pre>

<p>
The first PCM definition defines a virtual audio device called <code>pcm.rawjack</code> that has 2 input channels and two output channels. Each channel definition consists of a number (starting from 0, as computers do), and a JACK port to which it connects. This port, which we arbitrarily call <code>rawjack</code>, requires that the sample rate, sample format, and all other attributes, match the system&#039;s JACK settings; it is, essentially, a mirror of ALSA, or an ALSA portal.
</p>

<p>
The purpose of this definition is to define a sound “jack”, that is, something we can plug into other ports. It is a signal <em>sender</em> (whether the signal is sound being output from an application, or a sound being received via input such as a microphone.
</p>

<p>
We add a second PCM definition for a device called <code>pcm.jack</code>. This uses our <code>rawjack</code> device but also converts between audio data formats.
</p>

<p>
Log out and log back in (or reboot if you prefer) and from now on, you can set the output device of any ALSA application to <code>pcm.jack</code> if you are using an ALSA-only application whilst running JACk.
</p>

<p>
Test this with this command:
</p>
<pre class="code">aplay -D pcm.jack \
/usr/share/sounds/alsa/Front_Center.wav</pre>

<p>
You can set the ALSA output in non-JACK applications in that application&#039;s <strong>Preferences</strong> or <strong>Settings</strong> menu. For example, to configure <code>VLC</code> to pipe its output to the ALSA/JACK bridge:
</p>

<p>
<a href="/handbook/lib/exe/detail.php?id=sound&amp;media=vlcjack.png" class="media" title="vlcjack.png"><img src="/handbook/lib/exe/fetch.php?media=vlcjack.png" class="mediacenter" alt="" /></a>
</p>

<p>
To make all ALSA applications use this device by default, edit <code>~/.asoundrc</code> and add this block of code:
</p>
<pre class="code">pcm.!default {
    type plug
    slave { pcm &quot;rawjack&quot; }
}</pre>

<p>
If you do this, you must remove other definitions of <code>pcm.!default</code>. There should only be one default. 
</p>
<!-- EDIT5 PLUGIN_WRAP_START [0-] --><div class="wrap_alert plugin_wrap">
<p>
This solution will create some latency: the ALSA JACK plugin has to use a buffer between the data being sent by the application and JACK itself to avoid clicks and dropouts. 
</p>

<p>
Assuming that you are using non-JACK applications as auxiliary applications to your pro audio work, the latency likely will not matter. However, if you are doing something unique in which your ALSA application is an integral part of your realtime work, then this is not the best solution for you.
</p>
</div><!-- EDIT6 PLUGIN_WRAP_END [0-] -->
</div>
<!-- EDIT2 SECTION "ALSA JACK Plugin" [1574-4688] -->
<h2 class="sectionedit7" id="always-on_jack_daemon">Always-On JACK Daemon</h2>
<div class="level2">

<p>
The second option is to run JACK all the time, no matter what. This is a more complex setup but it has your computer being an active JACK session all the time, meaning that you can route or hijack any sound to or from any device or application at a moment&#039;s notice.
</p>
<!-- EDIT8 PLUGIN_WRAP_START [0-] --><div class="wrap_tip plugin_wrap">
<p>
If you are a full-time musician, then this most likely the best solution for you, but for ease of setup you may want to try the first solution to begin with and try this more complex one if it proves to be insufficient.
</p>
</div><!-- EDIT9 PLUGIN_WRAP_END [0-] -->
<p>
This method was outlined first on the JACK website, but is expanded and explained by AlienBob on his website, <a href="http://alien.slackbook.org/blog/setting-up-jack-audio-in-slackware/" class="urlextern" title="http://alien.slackbook.org/blog/setting-up-jack-audio-in-slackware/"  rel="nofollow">http://alien.slackbook.org/blog/setting-up-jack-audio-in-slackware/</a>. See his original post for more information and a few more options.
</p>

<p>
Like the first method, this requires a dummy ALSA device to handle non-JACK applications. For that to work, load the <code>snd-aloop</code> module:
</p>
<pre class="code">$ su -c &#039;/sbin/modprobe snd-aloop&#039;</pre>

<p>
So that this is loaded at boot by default, add it to the file <code>/etc/rc.d/rc.local</code>
</p>
<pre class="code">$ su -c &#039;echo snd-aloop &gt;&gt; /etc/rc.d/rc.local&#039;</pre>

<p>
And create a configuration file for it to define how many channels you require from your dummy device. If you are on a surround sound system, then you probably need 7 or 8 (8 is the default), but if you mix only in stereo then you can reduce the number of channels:
</p>
<pre class="code">su -c &#039;echo \
&quot;options snd-aloop pcm_substreams=2&quot; &gt; \
/etc/modprobe.d/alsaloop.conf</pre>

</div>
<!-- EDIT7 SECTION "Always-On JACK Daemon" [4689-6190] -->
<h3 class="sectionedit10" id="alsa_configuration">ALSA Configuration</h3>
<div class="level3">

<p>
In order for ALSA to tunnel its way through JACK, you must create a custom <code>~/.asoundrc</code> file. If one exists, back it up and create this one. If needed, you can integrate your old changes into this one (but more than likely it will be JACK that you customise for system-wide audio, from here on out).
</p>
<pre class="code"># hardware 0,0 : used for ALSA playback

pcm.loophw00 {
  type hw
  card Loopback
  device 0
  subdevice 0
  format S32_LE
  rate 48000
}

# hardware 0,1 : used for ALSA capture
pcm.loophw01 {
  type hw
  card Loopback
  device 0
  subdevice 1
  format S32_LE
  rate 48000
}

# playback PCM device: using loopback subdevice 0,0

pcm.amix {
  type dmix
  ipc_key 196101
  slave {
    pcm &quot;loophw00&quot;
    buffer_size 8192
    period_size 4096
    periods 2
  }
}

# capture PCM device: using loopback subdevice 0,1
pcm.asnoop {
  type dsnoop
  ipc_key 196102
  slave {
   pcm loophw01
   period_size 4096
   periods 2
  }
}

# software volume

pcm.asoftvol {
  type softvol
  slave.pcm &quot;amix&quot;
  control { name PCM }
  min_dB -51.0
  max_dB   0.0
}


# duplex dev combining PCM devs defined above

pcm.aduplex {
  type asym
  playback.pcm &quot;asoftvol&quot;
  capture.pcm &quot;loophw01&quot;
  hint {
    description &quot;ALSA-JACK Bridge&quot;
  }
}

# Mixer controls

ctl.amix {
    type hw
    card Loopback
}

ctl.asnoop {
    type hw
    card Loopback
}

ctl.aduplex {
    type hw
    card Loopback
}


# for jack alsa_out: looped-back signal
pcm.ploop {
  type hw
  card Loopback
  device 1
  subdevice 1
  format S32_LE
  rate 48000
}


# for jack alsa_in: looped-back signal
pcm.cloop {
  type hw
  card Loopback
  device 1
  subdevice 0
  format S32_LE
  rate 48000
}


# default device

pcm.!default {
  type plug
  slave.pcm &quot;aduplex&quot;
}</pre>

<p>
When you save that file, its content will re-define your ALSA configuration <em>immediately</em>. KDE may complain about hardware that was added or went missing; it is safe to ignore these warnings.
</p>

<p>
This new configuration creates a new full-duplex PCM device called <code>pcm.aduplex</code> with a description of “ALSA-JACK Bridge”. Set your ALSA devices to use this as their output.
</p>

<p>
Additionally, a PCM device for capturing input (<code>pcm.cloop</code>) and for playback (<code>pcm.ploop</code>) are created; these also will be connected to JACK. Your ALSA applications pipe their audio into one end of the loopback device, and JACK interprets the signal as incoming audio and plays it on your speakers.
</p>

<p>
Test your new setup&#039;s configuration with this command:
</p>
<!-- EDIT11 PLUGIN_WRAP_START [0-] --><div class="wrap_alert plugin_wrap">
<p>
You will not hear anything at this point, since JACK has yet to be configured. However, you should also <em>not</em> receive an error back, so that is what you are testing for.
</p>
</div><!-- EDIT12 PLUGIN_WRAP_END [0-] --><pre class="code">aplay -D pcm.jack \
/usr/share/sounds/alsa/Front_Center.wav</pre>

<p>
Assuming you get no error back, the ALSA side of the equation is set up. Now it&#039;s time to configure JACK.
</p>

</div>
<!-- EDIT10 SECTION "ALSA Configuration" [6191-9073] -->
<h3 class="sectionedit13" id="jack_configuration">JACK Configuration</h3>
<div class="level3">

<p>
Your JACK settings must match up with your ALSA settings, particularly the sample rate. Typical sample rates are <code>44100</code> and <code>48000</code> (or <code>96000</code> if you have very high-end gear). The example <code>.asoundrc</code> sets the sample rate to <code>48000</code> across the board, so if you use any value other than that, change it in <code>~/.asoundrc</code>.
</p>

<p>
The command to start JACK can be saved in <code>~/.jackdrc</code> so that whenever JACK is started, it knows exactly what state it should load.
</p>

<p>
For the hardware device name, check <code>aplay</code>:
</p>
<pre class="code">aplay -l | grep card</pre>

<p>
A suitable command for this example setup:
</p>
<pre class="code">/usr/bin/jackd -r -m -dalsa -r48000 -p1024 -n2 -m -H -D -Chw:SB -Phw:SB</pre>

<p>
Now JACK will start with the correct settings, but there&#039;s nothing to tell ALSA and JACK how to interact. This can be solved with AlienBob&#039;s custom connection script, which you should place in /usr/local/bin:
</p>
<pre class="code">#!/bin/sh
# script loop2jack, located in /usr/local/bin
#
# Start jack if it is not already running:
/usr/bin/jack_control start

# loop client creation

/usr/bin/alsa_out -j ploop -dploop -q 1 2&gt;&amp;1 1&gt; /dev/null &amp;
/usr/bin/alsa_in -j  cloop -dcloop -q 1 2&gt;&amp;1 1&gt; /dev/null &amp;

# give it some time before connecting to system ports
sleep 1

# cloop ports -&gt; jack output ports
/usr/bin/jack_connect cloop:capture_1 system:playback_1
/usr/bin/jack_connect cloop:capture_2 system:playback_2

# system microphone to &quot;ploop&quot; ports
/usr/bin/jack_connect system:capture_1 ploop:playback_1
/usr/bin/jack_connect system:capture_2 ploop:playback_2

# done
exit 0</pre>

<p>
Make the script exectuable:
</p>
<pre class="code">chmod +x /usr/local/bin/loop2jack</pre>

<p>
And add it to <code>~/.xprofile</code> (create this file if it does not already exist). If you do not boot into a graphical environment by default, add it to <code>~/.profile</code>.
</p>
<pre class="code">$ echo /usr/local/bin/loop2jack &gt; \
~/.xprofile</pre>

<p>
Under this method, running JACK is <em>required</em>. If JACK is not running, you will hear nothing from your speakers because ALSA is set by default to route itself through JACK, rather than directly to your hardware.
</p>
<!-- EDIT14 PLUGIN_WRAP_START [0-] --><div class="wrap_important plugin_wrap">
<p>
The system-wide ALSA configuration file <code>/etc/asound.conf</code> should not but <em>could</em>, in theory, interfere with this setup. Your own <code>~/.asoundrc</code> definitions are only prepended to <code>asound.conf</code> and do not replace them.
</p>
</div><!-- EDIT15 PLUGIN_WRAP_END [0-] -->
</div>
<!-- EDIT13 SECTION "JACK Configuration" [9074-11442] -->
<h2 class="sectionedit16" id="jack_enabled_apps">JACK Enabled Apps</h2>
<div class="level2">

<p>
The simplest solution, in terms of effort, is to just use JACK-enabled applications whilst you are running an active JACK session. It seems almost too simple, but in practise, depending on your workflow, it ends up being fairly realistic.
</p>

<p>
The typical workflow for using a JACK-enabled application is that you decide that you want to use a set of pro audio apps to compose or edit sound. This probably means that you&#039;re not doing “normal” audio things as well; in other words, you probably don&#039;t have music playing in a media player, or a movie playing, you&#039;re probably not on a VOIP call, and so on. You&#039;re making music or editing sound, so by the nature of the work, you are using <em>only</em> JACK-enabled pro audio applications.
</p>

<p>
If the need should arise to launch an application that might not normally be JACK-enabled, there is the option to simply use an application that <em>is</em> JACK-enabled. For instance, if you are working in pro audio, but you need to launch a music player to compare sounds or review a demo track or listen to a temp track, then rather than using a player that can only play via ALSA (the default sound system), use a media player that can use JACK.
</p>

<p>
This method is technologically the easiest method, although it does require effort to find JACK-enabled alternatives to the normal tools that you might have become accustomed to using outside of JACK. And in some cases, it might not be pragmatic; for instance, quickly firing up <code>Firefox</code> to grab a Creative Commons sample from the internet becomes a much more complex thing than it should be if you can&#039;t preview the sound without quitting your DAW, your effect rack, synths, and stopping JACK.
</p>

<p>
<a  href='/handbook/doku.php?id=workflow'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;float:right;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrown.png' /></span><span class='plugin_button_text wikilink1'></span></span></a><a  href='/handbook/doku.php?id=kernel'><span class='plugin_button' style='border:0;background:none;width:0;float:right;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrowp.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

</div>
<!-- EDIT16 SECTION "JACK Enabled Apps" [11443-] -->