
<p>
<a  href='/handbook/doku.php?id=dep'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;position:absolute;top:0;left:0;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrowp.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

<p>
<a  href='/handbook/doku.php?id=app'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;position:absolute;top:0;margin-left:2.5em;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrown.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

<h1 class="sectionedit1" id="multimedia_workflow_on_gnu_linux">Multimedia Workflow on GNU Linux</h1>
<div class="level1">

<p>
Slackermedia is a blank canvas. There is not <em>one</em> “right” way to create and use your Slackermedia system. While Slackermedia does divide packages into broad sets, there is no pre-set that says “install this if you want to make music” or
“install this if you want to make videos” and so on. The quandry that a new user faces is knowing what major applications to install to meet their artistic needs.
</p>

<p>
In other words, this chapter contains a bunch of advice, which, as the cliché goes, is the one free thing in this world that no one really wants. You don&#039;t really want to read this chapter; you want to get on with using Slackermedia. However, unless you&#039;ve got experience as a production co-ordinator, this chapter will probably do you some good. Think of it as the green vegetables of Slackermedia and give it a read not because it&#039;s all that good, but because it&#039;s good for you.
</p>

</div>
<!-- EDIT1 SECTION "Multimedia Workflow on GNU Linux" [230-1165] -->
<h3 class="sectionedit2" id="what_is_a_workflow">What is a Workflow?</h3>
<div class="level3">

<p>
Different disciplines have different methods of creating content, and different people work in unique ways. However, there are common elements from any production to another, and the basic methodology of getting a production from idea to finished product is called the “workflow”.
</p>

<p>
The term “workflow” refers to the entire process of production, not just what happens in the computer system being used on the project. However, since so
much of modern production happens on a computer, the computer workflow is a often a determining factor in how the rest of the production will happen. It is important, therefore, to understand certain unique aspects of the Free Software
workflow.
</p>

</div>

<h4 id="monolithic_vs_modular">Monolithic vs Modular</h4>
<div class="level4">

<p>
Much of the GNU workflow is defined by its inherent modularity. This is very different than the popular tendency to consolidate broad functionality into one “one-stop shop” application. They are two different philosophies that are not really exclusive of one another; it makes sense to keep different tasks confined to specialized applications because this divides work among many applications and makes troubleshooting much easier, but it also makes sense to have an application designed to a specific goal to also include capabilities to complete all the steps required to achieve that goal.
</p>

<p>
For instance, why include video ingestion and conversion components in a non-linear video editing application when it would make more sense to offer specific importing applications for each different kind of video that an editor might need to import?
</p>

<p>
On the other hand, including basic video effects in a non-linear editor makes sense, because basic effects are common, and they can require frequent adjustment, and their inclusion saves the need for a round-trip out to another application. 
</p>

<p>
Same goes for photographic applications; if a photographer works in realistic photos, then watercolour emulation and fancy effects are just so much bloat.
</p>

<p>
As you can see, there are many times when the modular approach makes more sense than the monolithic. There is an immediate convenience sometimes with the monolithic; depending on how well-structured your workflow is, you may find yourself confounded when you suddenly have to find a new application to do a task that you&#039;d never had to do before. While in a monolithic application, the solution to that may be found in a sub-menu of the sub-menu of a menu, in the modular approach you may be faced with no hint or indication of where to turn. 
</p>

<p>
However, these are mere growing pains that are eliminated once you&#039;ve found the solution; they tend to happen only once: the first time you are faced with the issue that requires a new solution. And in the mean time, you have no need to deal with bloated software with more menus and features than you can ever hope to either understand or use.
</p>

</div>
<!-- EDIT2 SECTION "What is a Workflow?" [1166-4047] -->
<h2 class="sectionedit3" id="finding_a_new_workflow">Finding a New Workflow</h2>
<div class="level2">

<p>
It&#039;s important that you approach your workflow carefully and deliberately when setting up your multimedia studio. Simply throwing together a collection of applications that are tagged as “multimedia” or “graphics” or “audio” is not
the correct solution in GNU Linux any more than it is on blackbox vendor software. The artists knows best what they need from a computer, so the
artist should determine what should be on the computer in order to get the work done.
</p>

<p>
If you have never served as a producer (or in software terms, “project manager”) before, then this concept may be new to you, so we will review it
here.
</p>
<ol>
<li class="level1"><div class="li">List all of the major tasks you are expecting to do on the computer system. Use general, broad terms here, such as “edit video”, “retouch photos”, “motion graphics”, “clean up audio”, and so on.</div>
</li>
<li class="level1"><div class="li">Do a second pass of this list for the specific steps involved in each major task you wrote down for the first step. For example, a video editor might list: log footage, review all footage with video player with variable speed control and spreadsheet for notes, organize, organize by scene number and take number, edit, sync sound and color correction tools, print to full quality, re-edit, rinse and repeat. A separate list might expand this to include motion graphics: acquire specs fom director, create assets, animate, basic render for approval,beauty render for delivery, integration into final edit. A third list might detail the audio needs, a fourth the visual effects, and so on.</div>
</li>
<li class="level1"><div class="li">Do a third pass of your list(s) and assign known software applications to each task, at least prospectively.</div>
</li>
<li class="level1"><div class="li">Do some research to learn what application will address each list item.</div>
</li>
<li class="level1"><div class="li">Make sure that everything you need to do can effectively be achieved with what is available to you. Be prepared for many different applications to surface in the Free Software world; due to the modular nature of its design, it&#039;s only natural that there will be a software application just capture video from a deck, or a separate application from your graphic design application just to change color space and compression settings, and so on.</div>
</li>
<li class="level1"><div class="li">Take the time to <em>learn</em> the new software. Switching to a new <abbr title="Operating System">OS</abbr> (Linux or otherwise) in mid-production or when there are deadlines on the horizon is a <strong>bad idea</strong>. You are changing the tools and the operating system underneath those tools; you need time to spend in the new applications in order to learn them.</div>
</li>
<li class="level1"><div class="li">With the help of Slackermedia, build your Slackware GNU Linux system according to the requirements you have specified in your list.</div>
</li>
</ol>

</div>
<!-- EDIT3 SECTION "Finding a New Workflow" [4048-6677] -->
<h2 class="sectionedit4" id="sample_workflows">Sample Workflows</h2>
<div class="level2">
<!-- EDIT5 PLUGIN_WRAP_START [0-] --><div class="wrap_info plugin_wrap">
<p>
<strong><abbr title="Too long; didn&#039;t read">TL;DR</abbr></strong><br/>

 Not sure how to start with all your new applications? There are sample workflow ideas available at <a href="http://slackermedia.info/workflows" class="urlextern" title="http://slackermedia.info/workflows"  rel="nofollow">http://slackermedia.info/workflows</a>
</p>
</div><!-- EDIT6 PLUGIN_WRAP_END [0-] -->
<p>
Habits are notoriously hard to break. If ever that was true, it&#039;s true in computing. Computer history is rife with deprecated technology being forcibly prolonged well past their natural life spans. As users, we tend to cling to not just the application that we know best, but even the <em>way</em> we do specific tasks. After all, why would anyone willfully use a new application where it takes them a minute to complete a task when their old familiar application could do it in ten seconds?
</p>

<p>
Of course, the answer is that new technology is an investment. At first, learning even the landscape of multimedia on Linux will slow your productivity, to say nothing of learning each new application that you adopt. However, to use it is to learn it, and once you have learnt the applications, your productivity does not just reach the same level as before, but skyrockets past anything you thought possible, and in many new directions.
</p>

<p>
That said, the initial steps are confusing, since even if you know what applications are available for you to use, you probably don&#039;t know which ones will actually work for you.
</p>

<p>
While Slackermedia itself will help you find many great multimedia applications, and the very contents of <a href="http://slackbuilds.org" class="urlextern" title="http://slackbuilds.org"  rel="nofollow">http://slackbuilds.org</a> and <a href="http://studioware.org" class="urlextern" title="http://studioware.org"  rel="nofollow">http://studioware.org</a> will suggest applications to try, there are also package lists for multimedia distributions like <a href="https://wiki.ubuntu.com/UbuntuStudio/PackageList" class="urlextern" title="https://wiki.ubuntu.com/UbuntuStudio/PackageList"  rel="nofollow">Ubuntu Studio</a>, which will at least give you ideas of applications that you should investigate and try for yourself.
</p>

<p>
Certainly. the ultimate answer to “what applications should I use?” is best answered by using applications. Try the ones that appeal to you, whether from recommendations and reviews, or by screenshots, or from examples of works completed within those applications. 
</p>

<p>
The harder question to answer is <em>how it all fits together</em>. 
</p>

<p>
As with building Slackermedia itself, there&#039;s no right way to <em>use</em> the applications within your studio. However, having no idea of what is possible is a lot different than having a clear picture and choosing to modify it; before you can get creative with how applications fit together to help you create great art, you need to know how they&#039;re meant to fit together. 
</p>

<p>
To this end, there are sample workflow ideas available at <a href="http://slackermedia.info/workflows" class="urlextern" title="http://slackermedia.info/workflows"  rel="nofollow">http://slackermedia.info/workflows</a>.
</p>
<!-- EDIT7 PLUGIN_WRAP_START [0-] --><div class="wrap_download plugin_wrap">
<p>
Download the <a href="https://wiki.ubuntu.com/UbuntuStudio/PackageList" class="urlextern" title="https://wiki.ubuntu.com/UbuntuStudio/PackageList"  rel="nofollow">PDF versions</a> of sample workflows for offline viewing.
</p>
</div><!-- EDIT8 PLUGIN_WRAP_END [0-] -->
</div>
<!-- EDIT4 SECTION "Sample Workflows" [6678-9364] -->
<h2 class="sectionedit9" id="gathering_raw_materials">Gathering Raw Materials</h2>
<div class="level2">

<p>
Some vendors bundle their closed source applications along with gigabytes and gigabytes of extra content for their customers to use. While many of these kinds of assets you should be able to continue to use (after all, a font is a font, and a graphic is a graphic), if you don&#039;t have them then you aren&#039;t going to get them with an operating system and application set with no budget to bundle such things. However, the Internet is hard at work to solve this.
</p>
<ul>
<li class="level1"><div class="li">The Slackermedia project gathered supporters from around the globe to do an initial crawl of the Internet to find free raw materials (such as fonts, clip art, sound banks, and more). The content can be downloaded from Slackermedia.info website as <a href="http://slackermedia.info/downloads" class="urlextern" title="http://slackermedia.info/downloads"  rel="nofollow">The Great Linux Multimedia Sprints</a>.</div>
</li>
<li class="level1"><div class="li"><a href="/handbook/doku.php?id=freesound.org" class="wikilink2" title="freesound.org" rel="nofollow">Freesound.org</a> offers Creative Commons (including <a href="http://creativecommons.org/publicdomain/zero/1.0/" class="urlextern" title="http://creativecommons.org/publicdomain/zero/1.0/"  rel="nofollow">CC0</a>) licensed sounds for foley, musical loops, atmospheres and environments, and much more.</div>
</li>
<li class="level1"><div class="li">Get free artwork covering a wide variety of styles and topics at <a href="http://openclipart.org" class="urlextern" title="http://openclipart.org"  rel="nofollow">http://openclipart.org</a></div>
</li>
<li class="level1"><div class="li">Creative Commons hosts a search engine filter that searches the entire internet for works in the open culture commons at <a href="http://search.creativecommons.org" class="urlextern" title="http://search.creativecommons.org"  rel="nofollow">http://search.creativecommons.org</a></div>
</li>
</ul>

</div>
<!-- EDIT9 SECTION "Gathering Raw Materials" [9365-10647] -->
<h2 class="sectionedit10" id="learning_everything">Learning Everything</h2>
<div class="level2">

<p>
The biggest block to a successful artistic career is the fear to learn something new, whether it&#039;s a new medium, a new industry, a new way of working, new personal insight, or new technology. If you want to expand your artistic acumen and take control of your artistic process, then dive in, get serious, and learn what you need to learn. Whatever it leads to, you won&#039;t be sorry that you did.
</p>

<p>
<a  href='/handbook/doku.php?id=app'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;float:right;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrown.png' /></span><span class='plugin_button_text wikilink1'></span></span></a><a  href='/handbook/doku.php?id=dep'><span class='plugin_button' style='border:0;background:none;width:0;float:right;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrowp.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

</div>
<!-- EDIT10 SECTION "Learning Everything" [10648-] -->