
<p>
<a  href='/handbook/doku.php?id=dep'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;position:absolute;top:0;left:0;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrowp.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

<p>
<a  href='/handbook/doku.php?id=sound'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;position:absolute;top:0;margin-left:2.5em;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrown.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

<h1 class="sectionedit1" id="low_latency_kernel">Low Latency Kernel</h1>
<div class="level1">
<!-- EDIT2 PLUGIN_WRAP_START [0-] --><div class="wrap_info plugin_wrap">
<p>
<strong><abbr title="Too long; didn&#039;t read">TL;DR</abbr></strong> <br/>

Give applications permission to not play nice with others: <code>/sbin/setcap cap<em>ipc</em>lock,cap<em>sys</em>nice=ep /path/to/greedy/application</code>
</p>
</div><!-- EDIT3 PLUGIN_WRAP_END [0-] -->
<p>
A computer&#039;s CPU does <em>a lot</em>, cycling constantly through series of loops and commands and probes and checks and refreshes and updates so consistently that sys admin even today talk in terms of “CPU cycles” when estimating the “cost” of a computationally intensive project. Regardless of what you do artistically on your computer, yours is no exception: the CPU is in high demand every second, and not everything demanding its attention can be tended to at the same time. For this reason, the driver of the CPU (the “kernel”) queues all tasks needing attention, delegates priorities to each one, and then executes chunks of each waiting task according to priority. This happens millions times per second.
</p>

<p>
For most everyday computing, the Linux kernel&#039;s somewhat conservative policy of what is important and what can wait another millisecond or two before getting worked on is perfect; onscreen effects get displayed smoothly, music plays seamlessly, the desktop clock keeps ticking, and no one is ever aware that user tasks are secretly being preempted for boring low-level computer tasks.
</p>

<p>
One place that this does not do well is professional audio, or more specifically, professional audio <em>with realtime effects</em> or <em>realtime recording</em>. Most other artistic tasks (even video effects) are perfectly acceptable on default settings, but pro audio requires high priority in order to playback smoothly without clicks, stutters, or breaks (called “xruns”). Technically speaking, this means that audio must gain the permission to preempt the usual priorities of running tasks as needed. Normally, this is not allowed on a Linux system, but as of kernel version 2.6.38.4 (so any 3.x or higher kernel) the ability to whitelist preemption was written into the <abbr title="Operating System">OS</abbr>.
</p>

<p>
As long as you are running a Linux kernel versioned 3 or higher, you have a preemptive kernel already and there is no need to look for a special “low latency” kernel. You are, however, required to whitelist the applications that you want to allow to preempt the kernel&#039;s better judgement.
</p>

</div>
<!-- EDIT1 SECTION "Low Latency Kernel" [231-2487] -->
<h2 class="sectionedit4" id="whitelisting">Whitelisting</h2>
<div class="level2">

<p>
If you are doing pro (or hobbyist at the pro-level, or anything other than <code>Audacity</code>), then you need to manually whitelist any application dealing in low latency audio. 
</p>
<!-- EDIT5 PLUGIN_WRAP_START [0-] --><div class="wrap_tip plugin_wrap">
<p>
In casual conversations, the term “realtime” tends to mean near-instant processing of sound such that there is no <em>noticeable</em> delay. However, this is different from what a computer sees as realtime, so the term is abused. To keep “realtime” and “low latency” distinct from one another, Slackermedia uses “low latency” to describe what most people consider “close enough” to realtime audio as necessary, and “realtime” to only mean actual realtime processing, such as what might be needed in an active, in-production recording studio or the stock market.
</p>
</div><!-- EDIT6 PLUGIN_WRAP_END [0-] -->
<p>
To whitelist an application, use the <code>setcap</code> command as root. The first sensible application to whitelist is the one driving all of the pro audio tools in the first place: the JACK daemon,<code>jackd</code>:
</p>
<pre class="code">su -c &#039;/sbin/setcap cap_ipc_lock,cap_sys_nice=ep /path/to/jackd&#039;</pre>

<p>
After <code>jackd</code> has been whitelisted, whitelist the other pro audio applications that you use:
</p>
<ul>
<li class="level1"><div class="li">Stand-alone synths, especially if they have inbuilt effect processors.</div>
</li>
<li class="level1"><div class="li">The DAW(s) that you use.</div>
</li>
<li class="level1"><div class="li">Loopers, beatboxes, drum machines, sequencers.</div>
</li>
</ul>

<p>
You do not need to worry about getting everything all at once; if something needs to be <em>less nice</em> with other processes, you&#039;ll hear it. You can whitelist it as needed, and the change will be immediate.
</p>

</div>
<!-- EDIT4 SECTION "Whitelisting" [2488-4007] -->
<h1 class="sectionedit7" id="realtime_kernel">Realtime Kernel</h1>
<div class="level1">

<p>
Most people casually express a desire for a “realtime” kernel when they actually mean a low latency kernel, but sometimes realtime is actually necessary. For instance, multiple tracks with multiple overdub takes might require realtime response in order for the musician to keep tempo. If you find that low latency is not sufficient, you can build your own kernel with true realtime capabilities. 
</p>

<p>
To build a realtime kernel, download two things;
</p>
<ol>
<li class="level1"><div class="li">The kernel source code</div>
</li>
<li class="level1"><div class="li">Realtime patches for the source code</div>
</li>
</ol>

</div>
<!-- EDIT7 SECTION "Realtime Kernel" [4008-4554] -->
<h2 class="sectionedit8" id="patching_the_kernel">Patching the Kernel</h2>
<div class="level2">
<!-- EDIT9 PLUGIN_WRAP_START [0-] --><div class="wrap_info plugin_wrap">
<p>
<strong><abbr title="Too long; didn&#039;t read">TL;DR</abbr></strong> <br/>

You only need to do this if you have a real need for literal realtime performance. This will make no difference to you if you are not using applications that take advantage of realtime capabilities, so don&#039;t bother doing this under the illusion that it will make your system faster for graphics editing or gaming.
</p>
</div><!-- EDIT10 PLUGIN_WRAP_END [0-] -->
<p>
The code to provide the Linux kernel with true realtime performance is maintained separately from the main kernel code itself. It is available from <a href="https://www.kernel.org/pub/linux/kernel/projects/rt" class="urlextern" title="https://www.kernel.org/pub/linux/kernel/projects/rt"  rel="nofollow">https://www.kernel.org/pub/linux/kernel/projects/rt</a>, so take a look at the list of supported kernel versions and then download the latest stable version kernel that matches up with the available patches.
</p>

<p>
In other words, if the latest version number listed in the patches folder online is <strong>4.0</strong>, then go into that folder and look at what patches are available. The patch files are labelled with the version of the kernel they support, so if there is a file, for instance, called <code>patch-4.0.4-rt1.patch.xz</code> then download <em>that</em> patch file <em>and</em> the <strong>4.0.4</strong> kernel.
</p>
<!-- EDIT11 PLUGIN_WRAP_START [0-] --><div class="wrap_alert plugin_wrap">
<p>
Do not download the <strong>patches</strong> file (plural), but the <strong>patch</strong> file (singular). The “patches” file contains all the patches in separate documents, and will fail.
</p>
</div><!-- EDIT12 PLUGIN_WRAP_END [0-] -->
<p>
To download the kernel source code, go to <a href="http://kernel.org" class="urlextern" title="http://kernel.org"  rel="nofollow">http://kernel.org</a> and download it. Alternately, you can download it using a shell based browser like <code>wget</code>:
</p>
<pre class="code">$ wget http://kernel.org/pub/linux/kernel/vX.Y/linux-X.Y.ZZ.tar.bz2
$ wget https://kernel.org/pub/linux/kernel/projects/rt/X.Y/patch-X.Y.ZZ-rt1.patch.xz</pre>

<p>
You should now have two files:
</p>
<ol>
<li class="level1"><div class="li">A single patch file for realtime.</div>
</li>
<li class="level1"><div class="li">The Linux kernel source code.</div>
</li>
</ol>

<p>
Extract the kernel source and change into its directory:
</p>
<pre class="code"># tar xvf linux-X.Y.ZZ.tar.bz2 -C /usr/src/linux-X.YY.ZZ
# cd /usr/src/linux-X.YY.ZZ</pre>

<p>
And then apply the realtime patch:
</p>
<pre class="code"># xzcat ../patch-X.Y.ZZ-rt1.tar.xz | patch -p1</pre>

<p>
You will see a few screen-fulls of text and eventually get a BASH prompt back.
</p>

<p>
Now you can compile the new kernel.
</p>

</div>
<!-- EDIT8 SECTION "Patching the Kernel" [4555-6653] -->
<h2 class="sectionedit13" id="compiling_the_linux_kernel">Compiling the Linux Kernel</h2>
<div class="level2">

<p>
Configuring a kernel from scratch is a big job. It&#039;s arguably worth doing, but it requires solid knowledge about the hardware in your computer, down to the individual components. You only have to do the configuration once per computer, since you can inherit old configs and just add to them in the case of a new kernel.
</p>

<p>
Better yet, you can take advantage of the hard work that Slackware&#039;s maintainer, Patrick Volkerding, has done and inherit <em>his</em> configuration.
</p>

<p>
To do that, copy  the Slackware kernel config file into the kernel sources folder.
Find the kernel config files in <code>/media/{cdrom}/testing/source/linux-X.X.XX.X-configs</code> or on any Slackware mirror; for example, <code><a href="ftp://ftp.slackware.com/pub/slackware/slackware-XX/testing/source/linux-X.X.XX.X-configs/" class="urlextern" title="ftp://ftp.slackware.com/pub/slackware/slackware-XX/testing/source/linux-X.X.XX.X-configs/"  rel="nofollow">ftp://ftp.slackware.com/pub/slackware/slackware-XX/testing/source/linux-X.X.XX.X-configs/</a></code>.
</p>

<p>
Presuming an SMP-capable CPU (you would know if your CPU is not SMP-capable), you will notice that there are two configuration files; the <code>generic</code> kernel configuration and the <code>huge</code> kernel configuration. By default, you are using the <code>huge</code> config, but this doesn&#039;t mean you have to keep using it. If you feel that your hardware is well-supported by the Linux kernel, then you may wish to try operating on a more lightweight kernel. You can always re-compile to a huge kernel if it turns out to be necessary.
</p>
<pre class="code"># cp /media/cdrom/testing/source\
/linux-X.X.XX.X-configs/config-generic-smp-X.X.XX.X-smp \
/path/to/linux-X.X.XX.X/.config</pre>

</div>
<!-- EDIT13 SECTION "Compiling the Linux Kernel" [6654-8127] -->
<h3 class="sectionedit14" id="menuconfig">Menuconfig</h3>
<div class="level3">

<p>
Launch <code>menuconfig</code>, an ncurses-based, menu-driven list of possible options for your new kernel. The menu can be overwhelming, but as it starts off with the default Slackware configuration, there will not be much you need to change, but for the realtime options. 
</p>

<p>
Most of the realtime options can be found in the <strong>Processor type and features</strong> menu.
</p>

<p>
Most default configurations here are sane, but confirm that the configuration is set to:
</p>
<ul>
<li class="level1"><div class="li">enable <code>CONFIG<em>PREEMPT</em>RT</code></div>
</li>
<li class="level1"><div class="li">activate the <code>High-Resolution-Timer Option</code></div>
</li>
<li class="level1"><div class="li">generally disable power management such as <code>ACPI</code> and <code>APM</code>. Not all <code>ACPI</code> options are bad, but cutting out as many as possible is best. The <code>pm<em>timer<code> option is required for a clock source; to activate </code>pm</em>timer</code>, activate <code>ACPI_SUPPORT</code> in <code>menuconfig</code> but deactivate all other sub modules like <code>fan</code>, <code>processor</code> or <code>button</code>.</div>
</li>
</ul>

<p>
Additionally, verify that your filesystem is supported in the configuration. Without the ability to read your harddrive, the kernel will not be able to load your operating system. 
</p>
<ol>
<li class="level1"><div class="li">Go into the <code>File System</code> menu.</div>
</li>
<li class="level1"><div class="li">Activate the filesystem support you need, not as a module, but as code to compile into the kernel.</div>
</li>
</ol>
<!-- EDIT15 PLUGIN_WRAP_START [0-] --><div class="wrap_tip plugin_wrap">
<p>
If you do not know what filesystem you are using, open another terminal and <code>cat /etc/fstab</code>. The filesystem (such as ext2, ext3, ext4, reiserfs, xfs, or jfs) is listed next to the partition label (/dev/sdX). If you are very advanced and are using two different types of filesystems for different partitions, then it is safest to include them both in your kernel.
</p>
</div><!-- EDIT16 PLUGIN_WRAP_END [0-] -->
</div>
<!-- EDIT14 SECTION "Menuconfig" [8128-9740] -->
<h3 class="sectionedit17" id="building_and_installing_the_kernel">Building and Installing the Kernel</h3>
<div class="level3">

<p>
With your new configuration file saved, compile the kernel and its modules.
</p>
<pre class="code"># make bzImage
# make modules</pre>

<p>
Take a coffee break and come back when the compile is finished.
</p>

<p>
Once built, back up your current kernel image (you may need to boot back into it, if your attempt at building your own has failed).
</p>
<pre class="code"># mv /boot/vmlinuz /boot/vmlinuz.stock
# mv /boot/System.map /boot/System.map.stock</pre>

<p>
And then move the new compressed kernel image (bzImage) and system map into your boot directory.
</p>
<pre class="code"># cat arch/x86_64/boot/bzImage &gt; /boot/vmlinuz
# cp System.map /boot/System.map</pre>

<p>
And finally install the kernel modules (the drivers):
</p>
<pre class="code"># make modules_install</pre>

<p>
When this finishes, do <strong>not</strong> reboot.
</p>

</div>
<!-- EDIT17 SECTION "Building and Installing the Kernel" [9741-10535] -->
<h2 class="sectionedit18" id="lilo">Lilo</h2>
<div class="level2">

<p>
The new realtime kernel is now in place and its modules are installed, but the bootloader (the part of the system that gets loaded after the computer has been powered on but before an <abbr title="Operating System">OS</abbr> has been selected) needs to know where the new kernel is, and to use it. It also should be told where the last known good kernel is located so that if your new kernel fails for whatever reason, you can still boot your computer!
</p>

<p>
Using <code>kdesu</code> to grant you root privileges within your graphical environment (or you can work in the terminal if you are comfortable with terminal-based text editors), edit <code>lilo.conf</code> in the text editor of your choice; 
</p>
<pre class="code">$ kdesu emacs /etc/lilo.conf</pre>

<p>
In you text editor, duplicate the current entry, but change the label to reflect that it will boot the realtime kernel, and change the vmlinuz reference in the stock kernel so that it points to vmlinux.stock rather than vmlinuz. In the end, you will have entries quite similar to this: 
</p>
<pre class="code">image = /boot/vmlinuz
root = /dev/sda1
label = slackermedia
read-only

image = /boot/vmlinuz.stock
root = /dev/sda1
label = slackware
read-only</pre>
<!-- EDIT19 PLUGIN_WRAP_START [0-] --><div class="wrap_tip plugin_wrap">
<p>
You may also change the delay that it takes for LILO to choose its default entry. By default, Slackware provides you two minutes (1200 milliseconds). Depending on your needs, a time of 30 or 60 milliseconds (that is, 3 or 6 seconds) may be sufficient.\
</p>
</div><!-- EDIT20 PLUGIN_WRAP_END [0-] -->
<p>
Update the bootloader with its new configuration:
</p>
<pre class="code"># lilo</pre>

<p>
Reboot the machine with your new realtime kernel.
</p>

<p>
It should boot as quickly as or quicker than (depending on how much customization you did in <code>menuconfig</code>) the stock Slackware kernel.
</p>

<p>
To verify that you have the correct kernel running after a successful boot, check the <code>dmesg</code> output for the strings “Real-Time Preemption Support / Ingo Molnar”:
</p>
<pre class="code"># dmesg | grep -i preemption</pre>

<p>
If the new kernel does not boot as expected, then it will most certainly provide errors during the boot process. Take note of the errors, reboot to with the stock kernel, and research what the errors mean. 
</p>
<!-- EDIT21 PLUGIN_WRAP_START [0-] --><div class="wrap_alert plugin_wrap">
<p>
Always remember to run lilo after doing a new kernel installation! 
</p>
</div><!-- EDIT22 PLUGIN_WRAP_END [0-] -->
<p>
Typical errors are that you have left some important code to be built as modules rather than building them into the kernel. Often, this is the filesystem, so verify that you have the proper filesystem(s) included.
</p>

<p>
Another possibility is that you have removed some vital component of the kernel altogether in an effort to reduce its size. Research the issue, go back to the source code (in <code>/usr/src/linux-XX.YY.ZZ</code>) and run (as root) <code>make clean ; make menuconfig</code> and include what you had previously taken out of the kernel.
</p>

<p>
If you had installed Slackware with the <code>huge</code> kernel and are trying to use the <code>generic</code> configuration, then it&#039;s possible that you do need the <code>huge</code> kernel after all, meaning you&#039;ll need to download the <code>huge</code> configuration file and make that into the config file and compile again.
</p>

<p>
<a  href='/handbook/doku.php?id=sound'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;float:right;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrown.png' /></span><span class='plugin_button_text wikilink1'></span></span></a><a  href='/handbook/doku.php?id=dep'><span class='plugin_button' style='border:0;background:none;width:0;float:right;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrowp.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

</div>
<!-- EDIT18 SECTION "Lilo" [10536-] -->