
<h1 class="sectionedit1" id="quickstart">Quickstart</h1>
<div class="level1">

<p>
You should read the handbook. But if you just need a refresher, or you&#039;re very confident in your abilities to build your own digital studio, here is the quickstart guide!
</p>
<ol>
<li class="level1"><div class="li">Foo</div>
</li>
<li class="level1"><div class="li">Bar</div>
</li>
<li class="level1"><div class="li">Baz</div>
</li>
<li class="level1"><div class="li">Quux</div>
</li>
</ol>

</div>
