
<h1 class="sectionedit1" id="the_slackermedia_way">The Slackermedia Way</h1>
<div class="level1">

<p>
Also called
</p>
<ul>
<li class="level1"><div class="li">The Subgenius of Slackermedia</div>
</li>
<li class="level1"><div class="li">The Slackmedia Mantra</div>
</li>
<li class="level1"><div class="li">Liturgy of the Slacker Multimediatician</div>
</li>
</ul>

<p>
“Understand your system, how your tools work, and how your tools work together, and then build your own solution.”
</p>

<p>
Or, more succinctly put:
</p>

<p>
“Don&#039;t just eat that hamburger, eat the HELL out of it!”<sup><a href="#fn__1" id="fnt__1" class="fn_top">1)</a></sup>
</p>

</div>
<div class="footnotes">
<div class="fn"><sup><a href="#fnt__1" id="fn__1" class="fn_bot">1)</a></sup> 
J.R. “Bob” Dobbs</div>
</div>
