
<p>
Chapter 1.  Darktable
</p>

<p>
Strengths
</p>

<p>
Photo Management
</p>
<pre class="code">Digital photography has left most people with thousands of photos that they
never look at because they cannot begin to organise them all. Darktable is
a sensible organisational environment. Yes, you could just organise photos
in your file manager, but Darktable makes more sense.</pre>

<p>
Non-Destructive Editing
</p>
<pre class="code">Darktable creates a stack of filters through which you may view and export
your images. Filters can be modified or removed independently of the source
image and of one another.</pre>

<p>
Weaknesses
</p>

<p>
Complex
</p>
<pre class="code">This is an application filled with advanced, professional-level
photographic features, so it takes time to learn it entirely and to master
it.</pre>

<p>
Non-Destructive Editing
</p>
<pre class="code">The non-destructive, non-linear workflow is not for everyone. There are
those who prefer to make a manual backup of an image, and then experiment
with effects and hands-on bitmap tools. Darktable is not the best solution
for that style of work.</pre>

<p>
See Also
</p>

<p>
Digikam
GIMP
Shotwell
</p>

<p>
Darktable takes a new approach to the digital darkroom paradigm. Digikam and 
GIMP, for example, both make changes to the data that you load into them; when
you change the colour balance of a photograph, these applications re-write
pixels to reflect the change (assuming you save the image; otherwise it&#039;s done
in RAM only). If you want multiple versions of the same image, such as a colour
version of a photograph as well as a black-and-white version, then you must
copy the source data and maintain, literally, two files (or two layers in one
file, at best). Darktable uses filters only.
</p>

<p>
Think of Darktable as a lens that you place over a photograph; one filter might
make a colour photograph black-and-white, while another might make the colours
brighter and more vivid. One filter might sharpen an image and another might
diffuse or blur it. In fact, a Darktable lens can also rotate or crop, balance
colours, stylize, and much more.
</p>

<p>
Because the filters are filters, they do not change the source file itself. You
can re-order the filters, modify their properties, remove a few, and so on, all
without the need to undo the filters that you already applied. The workflow is
non-linear because the data from the source photo is exactly the same through
the entire process.
</p>

<p>
There is a build script available on Slackbuilds.org which should suit most
people&#039;s needs.
</p>
