
<p>
<a  href='/handbook/doku.php?id=user'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;position:absolute;top:0;left:0;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrowp.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

<p>
<a  href='/handbook/doku.php?id=pkg'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;position:absolute;top:0;margin-left:2.5em;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrown.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

<h1 class="sectionedit1" id="understanding_linux_audio">Understanding Linux Audio</h1>
<div class="level1">

<p>
Traditional Linux (such as Slackware, and as opposed to something more progressive like <a href="http://redhat.com" class="urlextern" title="http://redhat.com"  rel="nofollow">Red Hat</a> and <a href="http://getfedora.org" class="urlextern" title="http://getfedora.org"  rel="nofollow">Fedora</a>) deals with audio in its own unique way. This can be confusing to new users, or to experienced users who have never thought about it. It confuses people because almost no where in the audio schema is there a one-to-one mapping; you must think of audio processing in the computer as a series of rivers or streams, flowing from one or two sources internally, branching off one other for adjustment, and then re-joining at the end to deliver sound in the physical world.
</p>

<p>
The background and history of <em>how</em> and <em>why</em> is unimportant to actually using it, so this is a pragmatic overview of how and why Linux audio does what it does, and what you need to understand about it in order to control it. 
</p>

<p>
You should read this even if you boot into Slackware and find that your sound just works.
</p>

</div>
<!-- EDIT1 SECTION "Understanding Linux Audio" [231-1218] -->
<h2 class="sectionedit2" id="identify_physical_devices">1. Identify Physical Devices</h2>
<div class="level2">

<p>
The first step in forming a meaningful bond with the audio system of your computer is to do a full system scan of its audio devices. This sounds like it is a complicated technical process, but actually it&#039;s entirely non-technical:
</p>
<ol>
<li class="level1"><div class="li">Sit down in front of your computer.</div>
</li>
<li class="level1"><div class="li">Unplug any peripherals (the display notwithstanding).</div>
</li>
<li class="level1"><div class="li">Take an assessment of each physical audio port.</div>
</li>
</ol>

<p>
<strong>Laptops</strong>
</p>
<!-- EDIT3 PLUGIN_WRAP_START [0-] --><div class="wrap_indent plugin_wrap">
<p>
On laptops, the first thing you will probably notice is a headphone port and a microphone line-in. These are analogue audio ports.
</p>

<p>
Sometimes, unfortunately, a laptop design combines the headphone OUT port and the microphone IN jack. This not only cheats you out of versatility but it gets very confusing on the software side, so take special note of it should you have such a combined port.
</p>

<p>
Most laptops have, in addition to the audio ports that you see right away, inbuilt input and output: that is, a microphone (usually intended for use with a web cam) and speakers.
</p>

<p>
And finally, many laptops have HDMI or other digital audio outputs. You may or may not intend to use these, but you will need to account for them in software, so take note.
</p>
</div><!-- EDIT4 PLUGIN_WRAP_END [0-] -->
<p>
<strong>Desktops</strong>
</p>
<!-- EDIT5 PLUGIN_WRAP_START [0-] --><div class="wrap_indent plugin_wrap">
<p>
On desktops and workstations, there are usually ports on the front and rear panels. For instance, you might find a headphone port and a microphone line-in for easy access in the front panel, and then six or seven more analogue audio ports in the back, usually meant to provide some degree of surround sound (or at least a left, right, and center channel).
</p>

<p>
Additionally, your desktop may have an HDMI port or other digital audio output. You may or may not intend to use these, but you will need to account for them in software, so take note.
</p>
</div><!-- EDIT6 PLUGIN_WRAP_END [0-] -->
</div>
<!-- EDIT2 SECTION "1. Identify Physical Devices" [1219-3002] -->
<h2 class="sectionedit7" id="identify_sound_cards">2. Identify Sound Cards</h2>
<div class="level2">
<!-- EDIT8 PLUGIN_WRAP_START [0-] --><div class="wrap_info plugin_wrap">
<p>
<strong><abbr title="Too long; didn&#039;t read">TL;DR</abbr></strong> <br/>

Check your sound cards with <code>aplay -l</code>. The first one listed is where your sound goes to by default.
</p>
</div><!-- EDIT9 PLUGIN_WRAP_END [0-] -->
<p>
Now that you know the tributaries, you must go further up the river, as it were, to find the sources of the sound that is distributed to all of the different physical ports. Your computer may have 5 or 6 physical ports for sound devices, but usually all of those ports are wired back a single sound card (which are not always a separate card from your motherboard, so opening the computer and looking at internal components is not always as obvious as you might think).
</p>

<p>
To find out just how many sound cards you have, open a terminal a use <code>aplay</code> (for outputs) and <code>arecord</code> (for inputs) to find out how ALSA (Advanced Linux Sound Architecture) views your hardware:
</p>
<pre class="code">bash-4.2# aplay -l
List of PLAYBACK Hardware Devices

card 0: SB [HDA ATI SB], device 0: ALC887-VD Analog [ALC887-VD Analog]
  Subdevices: 0/1
  Subdevice #0: subdevice #0
card 0: SB [HDA ATI SB], device 1: ALC887-VD Digital [ALC887-VD Digital]
  Subdevices: 1/1
  Subdevice #0: subdevice #0
card 1: NVidia [HDA NVidia], device 3: HDMI 0 [HDMI 0]
  Subdevices: 1/1
  Subdevice #0: subdevice #0
card 1: NVidia [HDA NVidia], device 7: HDMI 1 [HDMI 1]
  Subdevices: 1/1
  Subdevice #0: subdevice #0</pre>

<p>
From this sample output, we learn that this computer has two physical cards, feeding four different groups of ports. In this example, we can deduce that the first card, <code>card0</code>, is the motherboard, analogue sound system that feeds the analogue headphone and speaker ports. We can further deduce that the second card, <code>card1</code>, refers to the graphics card, not only because it is clearly labelled as NVidia but also because it is labelled as being HDMI.
</p>

</div>
<!-- EDIT7 SECTION "2. Identify Sound Cards" [3003-4819] -->
<h3 class="sectionedit10" id="list_order_is_significant">List Order is Significant</h3>
<div class="level3">
<!-- EDIT11 PLUGIN_WRAP_START [0-] --><div class="wrap_info plugin_wrap">
<p>
<strong><abbr title="Too long; didn&#039;t read">TL;DR</abbr></strong> <br/>

Change default sound card settings with a <code>.asoundrc</code> config file.
</p>
</div><!-- EDIT12 PLUGIN_WRAP_END [0-] -->
<p>
The list being provided here is not arbitrary or just the order in which your computer has detected the audio devices. The first listed card (<code>card0</code>) is marked as the default destination for audio. That seems fine, as long as your audio is working as expected, but it becomes problematic if your desired default happens to be different (for instance, if you want to use HDMI for all your audio).
</p>

<p>
If you need to change the order of sound card dominance, create the file <code>.asoundrc</code> file in your home directory and tell your audio system to use a different card as its default.
</p>

<p>
Here is an example of an <code>.asoundrc</code> file that promotes <strong>the second card</strong> to be the <strong>default</strong> device: 
</p>
<pre class="code">defaults.ctl.card 1
defaults.pcm.card 1
defaults.timer.card 1

pcm.!default {
type hw
card 1
device 0
}

ctl.!default {
type hw
card 1
device 0
}

pcm.dsp {
type plug
slave.pcm &quot;dmix&quot;
}</pre>

<p>
Log out of your desktop session and log back in (or reboot if you prefer) and now the default sound output has shifted.
</p>

</div>
<!-- EDIT10 SECTION "List Order is Significant" [4820-5976] -->
<h2 class="sectionedit13" id="map_sound_devices_to_their_controls">3. Map Sound Devices to their Controls</h2>
<div class="level2">

<p>
At this point, you have identified the sound cards in your system, and you have set which card is the default card. Now it&#039;s time to look at the software sound controls provided to you on your Linux desktop so that you know which control to use to raise, lower, and mute sound.
</p>

<p>
If you are used to a system that provides you one over-all volume control for everything, then the Linux desktop sound controls are bound to confound you. On a laptop, you might find that even with a mere three output ports (speakers, headphones, and digital) spread across two cards, you still have upwards of six different playback controls. On a desktop, those numbers each go up exponentially.
</p>

<p>
The reason for this, again, is that there is no 1:1 map between sound ports and the software that uses them. For example, one headphone and one stereo speaker output affords the opportunity to control <em>at least</em> (1) the headphone volume, (2) the speaker volume, and (3) all output (both the headphone and speaker) together: three controls for two physical outputs (that&#039;s without considering users who want left and right channels on separate controls). Take that example and apply it to a surround sound setup, and you begin to see the complexity of what is offered to a user.
</p>

<p>
Since Slackermedia cannot know your requirements, it&#039;s up to you to determine your ideal control scheme, but the first step is to understand which volume slider controls which sound port. The most efficient way to investigate this is <code>alsamixer</code>, which, unlike <code>Kmix</code> displays, for better or for worse (and for this use, it&#039;s better) every possible volume slider all in one screen.
</p>

<p>
<a href="/handbook/lib/exe/fetch.php?media=alsamixer.png" class="media" title="alsamixer.png"><img src="/handbook/lib/exe/fetch.php?w=666&amp;tok=a94398&amp;media=alsamixer.png" class="mediacenter" alt="" width="666" /></a>
</p>

<p>
To begin, set up your speakers as you intend to use them, and have headphones (or something with a 1/8“ (3.5mm) audio jack) on hand. Press <code>F6</code> on your keyboard to select the audio card you want to control and select the appropriate card.
</p>

<p>
<a href="/handbook/lib/exe/fetch.php?media=alsamixerselect.png" class="media" title="alsamixerselect.png"><img src="/handbook/lib/exe/fetch.php?w=666&amp;tok=b75a8e&amp;media=alsamixerselect.png" class="mediacenter" alt="" width="666" /></a>
</p>

<p>
Launch <code>System Settings</code> from the <code>K-Menu</code> and navigate to the <code>Multimedia</code> panel. In the <code>Multimedia</code> panel, promote the card that you want to use as default to the top of the list on the right, and click the <code>Test</code> button at the bottom of the panel. The <code>Test</code> button plays a sound that should be audible when you raise the volume of the appropriate device.
</p>

<p>
<a href="/handbook/lib/exe/detail.php?id=linuxaudio&amp;media=multimediaav.png" class="media" title="multimediaav.png"><img src="/handbook/lib/exe/fetch.php?media=multimediaav.png" class="mediacenter" alt="" /></a>
</p>
<!-- EDIT14 PLUGIN_WRAP_START [0-] --><div class="wrap_important plugin_wrap">
<p>
If you are not sure what device to promote to the top, check the output of <code>aplay -l</code> again. In this example, notice that the default analog <code>card0</code> listed by <code>aplay -l</code> is  <code>ALC887-VD Analog</code>, and the port promoted in the <code>Multimedia</code> panel is the same.
</p>
</div><!-- EDIT15 PLUGIN_WRAP_END [0-] -->
<p>
Using the <code>left</code> and <code>right</code> arrow keys to navigate to each control, the <code>up</code> and <code>down</code> arrow keys to raise or lower the volume, and the <code>m</code> key to mute or unmute the device, see which volume slider effects which device. 
</p>

</div>
<!-- EDIT13 SECTION "3. Map Sound Devices to their Controls" [5977-8913] -->
<h3 class="sectionedit16" id="goal">Goal</h3>
<div class="level3">

<p>
Your goal is to determine what volume slider (by name) affects each sound output that you intend to use on a regular basis, as well as what volume slider controls <em>groups</em> of devices (ie, unless you are a DJ, you may never have a need for separate volume control for speakers and headphones).
</p>
<!-- EDIT17 PLUGIN_WRAP_START [0-] --><div class="wrap_alert plugin_wrap">
<p>
It seems obvious, but is easily forgotten in the moment: when you find a volume slider that affects a device, leave the volume <strong>up</strong>, or else you will have lowered the sound stream and it will seem like no other slider works.
</p>
</div><!-- EDIT18 PLUGIN_WRAP_END [0-] -->
<p>
Press the <code>F4</code> key to switch from Playback (output) to Capture (input), and repeat the same process to determine controls for your input devices (microphones).
</p>

</div>
<!-- EDIT16 SECTION "Goal" [8914-9638] -->
<h3 class="sectionedit19" id="combined_port_exceptions">Combined Port Exceptions</h3>
<div class="level3">

<p>
If you found, when you were assessing the physical ports, an audio port that served both as an output and input ports, you must pay special attention to the mute status of the capture device; if the capture device is <strong>muted</strong>, then the audio port will <strong>not</strong> work as a capture device but it <em>will</em> work as a playback device. If it only is muted as a playback device, then it will not work for output, but the input will work. In other words, you will <em>think</em> that you have unmuted the port, but you will forget that you have unmuted it for one purpose and not the other.
</p>

</div>
<!-- EDIT19 SECTION "Combined Port Exceptions" [9639-10252] -->
<h2 class="sectionedit20" id="set_up_kmix">4. Set Up Kmix</h2>
<div class="level2">

<p>
At this point, you have identified the ports-to-controls on your system, so you could potentially stop here. However, <code>alsamixer</code> may not be convenient for you, so if you prefer total desktop integration, configure the <code>Kmix</code> application in your system tray.
</p>

<p>
<a href="/handbook/lib/exe/detail.php?id=linuxaudio&amp;media=kmixsystray.jpg" class="media" title="kmixsystray.jpg"><img src="/handbook/lib/exe/fetch.php?media=kmixsystray.jpg" class="mediacenter" title="kmixsystray.jpg" alt="kmixsystray.jpg" /></a>
</p>

<p>
To configure <code>Kmix</code>, click the speaker icon in your system tray and then click the <code>Mixer</code> button at the bottom of the drop down panel.
</p>

<p>
<a href="/handbook/lib/exe/detail.php?id=linuxaudio&amp;media=kmixexample.png" class="media" title="kmixexample.png"><img src="/handbook/lib/exe/fetch.php?media=kmixexample.png" class="mediacenter" alt="" /></a>
</p>

<p>
When the default configuration of Kmix appears, click the spanner button in the lower right corner of the window. 
</p>

<p>
<a href="/handbook/lib/exe/detail.php?id=linuxaudio&amp;media=kmixlist.png" class="media" title="kmixlist.png"><img src="/handbook/lib/exe/fetch.php?media=kmixlist.png" class="mediacenter" alt="" /></a>
</p>

<p>
In the list of available devices that appears, move over any controls (the names should match those from <code>alsamixer</code>) to which you want quick access. Verify that they work as expected.
</p>

<p>
To select what control you want to use as the systemwide master volume level, click on the <strong>Settings</strong> menu and select the <strong>Select Master Channel</strong> option. Set the master channel to whatever volume slider it is (usually it is labeled <code>Master</code> or <code>PCM</code>) that controls all devices, or if you have other needs, then set it to whatever device you want immediate, default control over.
</p>

<p>
<a href="/handbook/lib/exe/detail.php?id=linuxaudio&amp;media=kmixfinal.png" class="media" title="kmixfinal.png"><img src="/handbook/lib/exe/fetch.php?media=kmixfinal.png" class="mediacenter" alt="" /></a>
</p>

<p>
If you only want one volume slider to control you entire system&#039;s sound, then use only the <strong>Master</strong> channel slider in the <code>Kmix</code> interface. Doing this does not mean you have no control over other devices, it only means that you will have instant access to the master channel control.
</p>

</div>
<!-- EDIT20 SECTION "4. Set Up Kmix" [10253-11754] -->
<h3 class="sectionedit21" id="capture">Capture</h3>
<div class="level3">

<p>
If you use the microphone on your system frequently, then add the appropriate Capture channel to <code>Kmix</code> as well.
</p>
<!-- EDIT22 PLUGIN_WRAP_START [0-] --><div class="wrap_alert plugin_wrap">
<p>
Take care not to leave the capture device in an unmuted state; many recordings have been compromised because a user has left both their inbuilt microphone and their outboard microphone active.
</p>
</div><!-- EDIT23 PLUGIN_WRAP_END [0-] -->
</div>
<!-- EDIT21 SECTION "Capture" [11755-12105] -->
<h2 class="sectionedit24" id="outboard_gear">Outboard Gear</h2>
<div class="level2">

<p>
You now have a configured system, and hopefully you understand your computer&#039;s sound system better than ever. If you use outboard gear, like a sound interface or a USB microphone, then those will just appear in <code>Kmix</code> as additional streams to control. From <code>Kmix</code>, you&#039;ll be able to mute, add and lower levels, and the presence of the devices will be fairly obvious since they are additional peripherals to the self-contained system that you have just analysed.
</p>

<p>
The KDE desktop itself will warn you when outboard devices cannot be found. These warnings are safe to ignore, or to deactivate. Outboard gear is dynamically handled,
</p>

<p>
<a  href='/handbook/doku.php?id=pkg'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;float:right;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrown.png' /></span><span class='plugin_button_text wikilink1'></span></span></a><a  href='/handbook/doku.php?id=user'><span class='plugin_button' style='border:0;background:none;width:0;float:right;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrowp.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

</div>
<!-- EDIT24 SECTION "Outboard Gear" [12106-] -->