
<p>
<a  href='/handbook/doku.php?id=start'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;position:absolute;top:0;left:0;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrowp.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

<p>
<a  href='/handbook/doku.php?id=intro'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;position:absolute;top:0;margin-left:2.5em;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrown.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

<h1 class="sectionedit1" id="slackermedia_handbook">Slackermedia Handbook</h1>
<div class="level1">

<p>
Slackermedia is documentation providing the information you need to create a full multimedia studio running on Slackware Linux. Its philosophy is to use only the best and most stable multimedia content creation tools that Linux has to offer. This not a beta testing exercise or a development platform; unproven technology need not apply. This is building a studio so you can forget about the tools and get down to creating cool stuff.
</p>

</div>
<!-- EDIT1 SECTION "Slackermedia Handbook" [231-713] -->
<h2 class="sectionedit2" id="the_online_edition">The Online Edition</h2>
<div class="level2">

<p>
Previous versions of Slackermedia were published as books or ebooks; this all-new handbook is intended to be an ongoing up-to-date look at the process of building and using Slackware as a multimedia production environment.
</p>

</div>
<!-- EDIT2 SECTION "The Online Edition" [714-981] -->
<h2 class="sectionedit3" id="typographical_conventions">Typographical Conventions</h2>
<div class="level2">

<p>
This text attempts to follow common conventions in technical documentation. Most of it will be intuitive, but to be clear:
</p>

<p>
<code>Monotype</code>
</p>
<ul>
<li class="level1"><div class="li">application names</div>
</li>
<li class="level1"><div class="li">commands</div>
</li>
<li class="level1"><div class="li">filename</div>
</li>
</ul>

<p>
<strong>Boldface</strong>
</p>
<ul>
<li class="level1"><div class="li">gui elements: labels, tabs, buttons, window_titles</div>
</li>
<li class="level1"><div class="li">Keywords, jargon, or important phrases</div>
</li>
</ul>

<p>
<em>Italics</em>
</p>
<ul>
<li class="level1"><div class="li">Emphasis</div>
</li>
</ul>

<p>
<strong>Alerts</strong>
</p>
<!-- EDIT4 PLUGIN_WRAP_START [0-] --><div class="wrap_alert plugin_wrap">
<p>
Alert box
</p>
</div><!-- EDIT5 PLUGIN_WRAP_END [0-] -->
<p>
Important information that, if ignored, will cause something to fail. 
</p>

<p>
<strong>Important</strong>
</p>
<!-- EDIT6 PLUGIN_WRAP_START [0-] --><div class="wrap_important plugin_wrap">
<p>
Important box
</p>
</div><!-- EDIT7 PLUGIN_WRAP_END [0-] -->
<p>
Information that could confuse new users, but that will probably be common knowledge to experts. Pay special attention to these notices to level up.
</p>

<p>
<strong>Tip</strong>
</p>
<!-- EDIT8 PLUGIN_WRAP_START [0-] --><div class="wrap_tip plugin_wrap">
<p>
Tip box
</p>
</div><!-- EDIT9 PLUGIN_WRAP_END [0-] -->
<p>
Optional information that often represents what the authors and other users of Slackermedia do, but may or may not be useful to you, depending on your personal style.
</p>

<p>
<strong><abbr title="Too long; didn&#039;t read">TL;DR</abbr></strong>
</p>
<!-- EDIT10 PLUGIN_WRAP_START [0-] --><div class="wrap_info plugin_wrap">
<p>
Too Long; Didn&#039;t Read
</p>
</div><!-- EDIT11 PLUGIN_WRAP_END [0-] -->
<p>
For the impatient. These boxes sum up the contents of a chapter or section. If you only need a reminder of what to do, go straight to these boxes. If you are a new user, these can be useful summaries, but you should still read <em>everything</em>.
</p>

<p>
<a  href='/handbook/doku.php?id=intro'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;float:right;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrown.png' /></span><span class='plugin_button_text wikilink1'></span></span></a><a  href='/handbook/doku.php?id=start'><span class='plugin_button' style='border:0;background:none;width:0;float:right;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrowp.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

</div>
<!-- EDIT3 SECTION "Typographical Conventions" [982-] -->