
<p>
<a  href='/handbook/doku.php?id=install'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;position:absolute;top:0;left:0;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrowp.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

<p>
<a  href='/handbook/doku.php?id=linuxaudio'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;position:absolute;top:0;margin-left:2.5em;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrown.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

<h1 class="sectionedit1" id="user_space">User Space</h1>
<div class="level1">

<p>
After the installation has finished and you have rebooted. Login to the new
system as root with the password that you set, and set about configuring your
new system.
</p>

<p>
First, so that you can get into a graphical environment to do this job, create
at least one user (assuming that you are the only user on your system, you need
only create one). Slackware ships with the script <code>adduser</code> for creating new
users, making the process interactive. In fact, as of Slackware 13, <code>adduser</code>
even offers to place a new user in the appropriate groups that will enable the
user to access important multimedia components such as audio, video, optical
media, and so on, so take it up on that offer.
</p>

<p>
<code>adduser</code> allows you to customise the <strong>UID</strong> (User ID) of the user you create. If you use other GNU or BSD systems, you probably want to make your UID and
username the same on your Slackermedia system as on your other systems, simply
to avoid small but annoying permission problems when using external drives.
</p>

<p>
After creating a user, start a graphical environment:
</p>
<pre class="code"># kdm; exit</pre>

<p>
At the graphical prompt, log in as the user you just created.
</p>

</div>
<!-- EDIT1 SECTION "User Space" [240-1415] -->
<h2 class="sectionedit2" id="boot_to_desktop_by_default">Boot to Desktop by Default</h2>
<div class="level2">

<p>
Since not all Slackware users actually use a graphical environment, Slackware
boots to a text console by default. You can keep this behaviour, issuing the
command
</p>
<pre class="code"># kdm; exit</pre>

<p>
every time you want to use your computer (if you have nosey housemates, there
is admittedly nothing quite as intimidating as a computer that looks like it&#039;s
broken every time it boots), or you can alter one configuration file and have
Slackware start up a desktop by default.
</p>

<p>
To change the boot behaviour, open a terminal and change the <strong>initlevel</strong> from 3
(text console, or TTY, mode) to a 4 (the mode which launches a <abbr title="Graphical User Interface">GUI</abbr> login
screen) with this <code>sed</code> command:
</p>
<pre class="code">$ su -c &#039;sed -i &quot;s%init:3%init:4%&quot; /etc/inittab&#039;</pre>

<p>
From now on, when you boot up Slackware, the desktop login prompt will be
launched automatically after the usual boot process is complete.
</p>

</div>
<!-- EDIT2 SECTION "Boot to Desktop by Default" [1416-2321] -->
<h2 class="sectionedit3" id="login_to_the_desktop_automatically">Login to the Desktop Automatically</h2>
<div class="level2">

<p>
The KDE desktop makes allowances for automatic login, so that you are able to
boot your computer and be dropped straight into your desktop rather than having
to log in each time.
</p>
<!-- EDIT4 PLUGIN_WRAP_START [0-] --><div class="wrap_alert plugin_wrap">
<p>
This may be a security risk! If you are the only user of your computer in your
house or studio, then auto login is a nice convenience. However, if there are
other users on site, you should keep the requirement to login. You may trust
someone with your life, but that does not mean that they cannot make mistakes
with your data. An accidental deletion of a file, or a change in configuration,
could mean huge setbacks in your work.<br/>

<br/>

Do not put your mates (or your data) in such a position. For your sake and
theirs, make users login to their own accounts. Linux is the original
multi-user operating system, so you can make your co-workers or friends
accounts of their own such that they can use the computer without accidentally
changing your production environment.
</p>
</div><!-- EDIT5 PLUGIN_WRAP_END [0-] -->
<p>
To enable auto login, open <code>System Settings</code> and
navigate to the <strong>Login Screen</strong> panel.
</p>

<p>
In the <strong>Login Screen</strong> panel, click the <strong>Convenience</strong> tab and place a check mark in
the <strong>Enable Auto-Login</strong> option. Select your username from the dropdown menu, and
click the <strong>Apply</strong> button in the lower right corner of the window.
</p>

</div>
<!-- EDIT3 SECTION "Login to the Desktop Automatically" [2322-3673] -->
<h2 class="sectionedit6" id="kde_desktop_configuration">KDE Desktop Configuration</h2>
<div class="level2">

<p>
The KDE desktop has a long history on Linux, and is venerated by many as the
most configurable, most functional, and most integrated desktop available. The
configuration options are staggering, so if anything does not work the way you expect, it can probably be changed.
</p>

<p>
Mostly, there is little or no danger in customising your desktop. Adding in heaps of additional plugins and add-ons from the internet should be done
cautiously (simply for the sake of stability) but otherwise, if you see an option for something within KDE, then it&#039;s probably safe to try it.
</p>

<p>
Experienced KDE users will certainly already have their own config files that they port from one computer to another. KDE is so customisable, in fact, that it can sometimes be overwhelming, so if you are a new user, slowly build up a set of configurations as you use it. Here are some common points of interest:
</p>

</div>
<!-- EDIT6 SECTION "KDE Desktop Configuration" [3674-4590] -->
<h3 class="sectionedit7" id="single_and_double_clicks">Single and Double Clicks</h3>
<div class="level3">

<p>
By default, a single-click opens up files or folders on the KDE desktop. For many KDE users, this is a small yet powerful method of speeding up the user&#039;s interactions with the desktop (after all, the most common interaction you have with a file or folder is to open it, so why not make that the default action?) but for new users, it can be confusing.
</p>

<p>
<a href="/handbook/lib/exe/detail.php?id=user&amp;media=dolphinclicks.jpg" class="media" title="dolphinclicks.jpg"><img src="/handbook/lib/exe/fetch.php?media=dolphinclicks.jpg" class="mediacenter" title="dolphinclicks.jpg" alt="dolphinclicks.jpg" /></a>
</p>

<p>
Change this behaviour by launching the <a href="http://dolphin.kde.org" class="urlextern" title="http://dolphin.kde.org"  rel="nofollow">Dolphin</a> file manager and opening the Configure Dolphin menu item. In the Navigation panel, select the Double-click to open files and folders option.
</p>

</div>
<!-- EDIT7 SECTION "Single and Double Clicks" [4591-5221] -->
<h3 class="sectionedit8" id="icon_previews">Icon Previews</h3>
<div class="level3">

<p>
Also in the Dolphin configuration window, in the <strong>General</strong> panel, are configuration options for whether or not you want Dolphin to remember the view settings on a per-folder basis (this is common on other desktops, but having it enabled does increase the amount of metadata being written about each location you visit), when you want to be asked for confirmation, and more.
</p>

<p>
<a href="/handbook/lib/exe/detail.php?id=user&amp;media=dolphinclicks.jpg" class="media" title="dolphinclicks.jpg"><img src="/handbook/lib/exe/fetch.php?media=dolphinclicks.jpg" class="mediacenter" title="dolphinclicks.jpg" alt="dolphinclicks.jpg" /></a>
</p>

<p>
In the <strong>Previews</strong> tab, choose what kind of files you want to have dynamically updated thumbnails or previews. Video files, photos, and images can get thumbnailed, websites can be rendered in miniature, fonts displayed, and much more.
</p>

</div>
<!-- EDIT8 SECTION "Icon Previews" [5222-5886] -->
<h3 class="sectionedit9" id="tooltip_overkill">Tooltip Overkill</h3>
<div class="level3">

<p>
KDE tends to be very verbose in its tooltips, which might be useful for new users, but after some time in KDE they become a lot less useful. If at any point you need to turn tooltips off, you can do so in two places.
</p>

<p>
In the Dolphin configuration window, in the lower half of the <strong>General</strong> panel. Deactivate the option to <strong>Show Tooltips</strong> to disable tooltips within the file management workflow (which tends to be at least half of what anyone does in a traditional desktop).<br/>

</p>

<p>
Open <code>System Settings</code> and click the <strong>Workspace Behaviour</strong> icon. In the <strong>Workspace Behaviour</strong> panel, navigate to the <strong>Workspace</strong> tab and deactivate the <strong>Show informational Tips</strong>.
</p>

<p>
Generally, it can be said of KDE that if you are ever in doubt, <em>right-click</em>; there are a profound number of options and built-in functions. Explore the desktop, explore configuration menus, and explore <strong>System Settings</strong> further and try out some of the customisations until you have configured KDE the way you feel most comfortable with it. KDE is designed to be changed, so do what you must so that your desktop stays out of your way, and helps you get things done.
</p>

</div>
<!-- EDIT9 SECTION "Tooltip Overkill" [5887-7058] -->
<h3 class="sectionedit10" id="gui_root_actions">GUI Root Actions</h3>
<div class="level3">

<p>
Some actions during every day maintenance will require root (or “administrative”) permission. Usually, the way to “become root” is to either log out of the desktop and log back in as root, or, more commonly, open a terminal and sign in as root and proceed with administrative tasks in a text console. If you are managing multiple Slackermedia machines and your users do not need (or should not have) admin rights on their own boxen, then this model works quite well,
</p>

<p>
If you are both the admin and the user of your own machine, you might find it inconvenient to have no way of escalating your own privileges when you need to, for instance, edit a system configuration file, or place a file in a system location. The need to do this
is a lot less common than you might imagine; if you are the only user, then
really everything you install or put onto the computer, at least within the <abbr title="Graphical User Interface">GUI</abbr>
environment, can be placed into your home directory. But it does come up every
now and again, so it&#039;s a nice feature to have.
</p>

<p>
To enable a wide variety of root actions within KDE, install the <a href="http://kde-apps.org/content/show.php/Root+Actions+Servicemenu?content=48411" class="urlextern" title="http://kde-apps.org/content/show.php/Root+Actions+Servicemenu?content=48411"  rel="nofollow">Root Actions</a>.
</p>

<p>
This add-on includes quick access to editing files as root, changing permissions of files as root, opening a folder as root, and much more.
</p>

</div>

<h4 id="manual_alternative">Manual Alternative</h4>
<div class="level4">

<p>
If you do not want to install the Root Actions add-on for whatever reason, you can build your own simple version of many of the actions with <code>kdesu</code>:
</p>
<ol>
<li class="level1"><div class="li">Right-click on the <strong>K Menu</strong> and select <strong>Edit Menu</strong>.</div>
</li>
<li class="level1"><div class="li">In the list on the left of the window, select the System category.</div>
</li>
<li class="level1"><div class="li">Locate the Dolphin entry and click on it to select it.</div>
</li>
<li class="level1"><div class="li">Click the <strong>Copy</strong> button in the top toolbar, and then the <strong>Paste</strong> button. You have now duplicated the entry for <strong>Dolphin</strong>.</div>
</li>
<li class="level1"><div class="li">Select the duplicate entry for <strong>Dolphin</strong>. In the text fields on the right, provide a unique name, such as <code>DolphinRoot</code> (or similar). In the <strong>Command</strong> field, enter the text <code>kdesu dolphin –bg #A86766 %i –caption &#039;Root Window&#039; %u</code></div>
</li>
<li class="level1"><div class="li">Save your changes.</div>
</li>
</ol>

<p>
In your <strong>K Menu</strong>, there will now be a new entry for <strong>DolphinRoot</strong>, which will open a DolphinRoot window as the root user. It will also paint the background of the window red, so that you are reminded that the window is dangerous and has absolutely no safety mechanism between you and a mistakenly deleted file or folder. You may adjust the colour in the menu editor, but do make it unique so that you do not mistakenly leave a root window open.
</p>

<p>
Build similar actions for other common root tasks (such as opening a terminal as root and editing a text file as root) in the same way.
</p>

</div>
<!-- EDIT10 SECTION "GUI Root Actions" [7059-9757] -->
<h2 class="sectionedit11" id="titlebar-only_dragging">Titlebar-Only Dragging</h2>
<div class="level2">

<p>
By default, KDE windows allow you to grab onto them from any number of points within the window. This can be marvelously efficient with many, if not most, applications but with multimedia applications that require nothing but random clicks and drags, it can be maddening to accidentally move your entire application window when all you meant to do is move a playhead or a brush.
</p>

<p>
Turn this behaviour off in <code>System Settings</code> > <strong>Application Appearance</strong>. In the <strong>Style</strong> category on the left, and activate the <strong>Applications</strong> tab. Click the <strong>Configure</strong> button.
</p>

<p>
<a href="/handbook/lib/exe/detail.php?id=user&amp;media=styleconfigure.png" class="media" title="styleconfigure.png"><img src="/handbook/lib/exe/fetch.php?media=styleconfigure.png" class="mediacenter" alt="" /></a>
</p>

<p>
In the <strong>Configure</strong> window, activate the <strong>General</strong> tab and click the <strong>Show Advanced Configuration Options</strong> button.
</p>

<p>
Set <strong>Windows drag mode</strong> to <strong>Drag windows from titlebar only</strong> and click the <strong>OK</strong> button to apply.
</p>

</div>
<!-- EDIT11 SECTION "Titlebar-Only Dragging" [9758-10613] -->
<h2 class="sectionedit12" id="gtk_and_qt_theming">GTK and Qt Theming</h2>
<div class="level2">

<p>
Since the applications used on a diverse Linux system come from many different programmers and programming toolkits, an application&#039;s basic look sometimes varies quite a lot from the rest of the user&#039;s environment. While this is unavoidable and actually desirable in some cases (Blender&#039;s interface, for instance, one would not try to mask), sometimes a more unified look and feel helps make the system feel more integrated.
</p>

<p>
The reason this happens is not arbitrary; programming is a lot of work, so people develop toolkits and frameworks that consist of a set of widgets (window panels, buttons, menus, dialogue boxes, and so on) for other programmers to use in their applications. Otherwise, every time any programmer wanted to make an application, everything would have to start from scratch, and probably most every application would look different.
</p>

<p>
Broadly speaking, the two most popular toolkits for graphical applications on Linux are GTK (used by Mozilla <code>Firefox</code>, <code>Thunderbird</code>, <code>Ardour</code>, a number of soft synths, and many
more) and Qt (used by the entirety of KDE itself, <code>VLC</code>, <code>Qtractor</code>, as well as by closed source applications like Maya, Nuke, Mari, and many others).
</p>

<p>
To tie together two of the most common user interface toolkits, GTK and Qt, there is a theme engine called <code>gtk-qt-engine</code>, which feeds into KDE&#039;s <code>System Settings</code>, as well as a separate front-end application <code>gtk-chtheme</code> (use one or the other: <code>System Settings</code> or <code>gtk-chtheme</code>; there is no need to use both since they each accomplish the same thing). These tools allow the user to change the GTK theme to something more attractive than the basic box forms of raw GTK widgets.
</p>

<p>
KDE&#039;s set of Qt widgets and styles can be configured by launching KDE&#039;s <code>System Settings</code>, in the <strong>Workspace Appearance</strong> and <strong>Application Appearance</strong> panels.
</p>
<ul>
<li class="level1"><div class="li">In the <strong>Workspace Appearance</strong> panel, configure and even download new window title bars (“window decoration”), the position of buttons on the title, mouse cursor theme, and more.</div>
</li>
<li class="level1"><div class="li">In the <strong>Application Appearance</strong> panel, click on the <strong>Style</strong> category on the left and try the different widget styles on the right.</div>
</li>
</ul>

<p>
These control the native KDE look and feel, created with the Qt toolset. If you open a non-Qt application, however, you would notice that some of your style choices will not apply to them. These, typically, are GTK applications.
</p>

<p>
Some themes exist both for Qt and GTK, while others were only developed for one or the other. One of the most common cross-toolkit themes is <code>Cleanlooks</code>, so if you want applications to be similar in appearance, a unified theme, that&#039;s a good choice.
</p>

<p>
Additional themes are available from <a href="http://slackbuilds.org" class="urlextern" title="http://slackbuilds.org"  rel="nofollow">http://slackbuilds.org</a> (use “theme” as a search term). Whether you are looking for new and modern themes or that classic UNIX desktop look from the early days of Pixar and ILM, you are sure to find plenty to try.
</p>

<p>
To set the GTK theme, you must install the <code>gtk-qt-engine</code>. You can do this manually, or just wait until you do all of your Slackermedia installs, since it is an included dependency in the Slackermedia install list.
</p>

<p>
After you do install it, just launch <code>System Settings</code> and click the <strong>GTK+ Appearance</strong> icon. Set the theme and also activate the <strong>Firefox Scrollbar Fix</strong>.
</p>

<p>
Theming the Linux desktop is both easy and, as with everything in Linux, entirely open. If your art leans toward graphic design or UX, then the Linux desktop is the canvas of your dreams; there is nothing you cannot theme. The thing to remember is that the GTK and Qt toolkits each require their own themes, so anything you do, you must do twice in order to gain full integration.
</p>

<p>
Of course there are more toolkits than just GTK and Qt, but this is true of any operating system. As long as you theme for GTK and Qt, you&#039;ll get 90% of your environment, and the applications that remain are what they are: unique.
</p>

<p>
An entire book could be written on how malleable the Linux environment is in the hands of each user. The subject is worth pursuing, both on a purely aesthetic level as well as the rich set of scripting languages and every-day hacks that even non-programmers can make to improve their workflow.
</p>

<p>
The whole point of GNU Linux is to take back control of the computer, so don&#039;t be shy. Take control, ask hard questions about why an activity takes an hour when it could be done in five minutes, and develop your own shortcuts, cheats, and hacks. And if you come up with anything especially useful, share it online!
</p>

<p>
<a  href='/handbook/doku.php?id=linuxaudio'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;float:right;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrown.png' /></span><span class='plugin_button_text wikilink1'></span></span></a><a  href='/handbook/doku.php?id=install'><span class='plugin_button' style='border:0;background:none;width:0;float:right;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrowp.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

</div>
<!-- EDIT12 SECTION "GTK and Qt Theming" [10614-] -->