
<p>
<a  href='/handbook/doku.php?id=pkg'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;position:absolute;top:0;left:0;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrowp.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

<p>
<a  href='/handbook/doku.php?id=dep'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;position:absolute;top:0;margin-left:2.5em;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrown.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

<h1 class="sectionedit1" id="slackbuilds">SlackBuilds</h1>
<div class="level1">

<p>
One of the hallmarks of Slackware is its SlackBuild system, a powerful yet easy-to-understand (and, incidentally, easy-to-learn, if you are interested) method of scripting how an application is built. The SlackBuild system enables the user to script exactly how applications are compiled so that the same SlackBuild can be used on a variety of computers (useful in a production studio with multiple installs). SlackBuilds result in <code>.tgz</code> or <code>.txz</code> files, so managing the applications after they have been compiled is as easy as
using <code>pkgtool</code>.
</p>

<p>
There is a <em>unixy</em> beauty to this system in that there is nothing distribution-specific to it, and nothing redundant about it. It consists simply of a shell script which can be easily hosted on minimal storage, quickly downloaded, and used by anyone. The system has proven so powerful that, for Slackware 11.0, a group of Slackware users established a community around it, which can be found at <a href="http://slackbuilds.org" class="urlextern" title="http://slackbuilds.org"  rel="nofollow">http://slackbuilds.org</a>. An advantage to this site is that hundreds of applications have had scripts built for them, which are all fully editable by
the individual user so that the compiling options are exactly the way the user wants them. Each user can then either maintain their private repository of customized SlackBuilds or simply continue to use the Slackbuilds.org (<em>SBo</em> for short) versions. All of the scripts are reviewed and tested by the SBo administrators but can also be reviewed in advance by the user for security and functionality.
</p>

<p>
The SlackBuilds.org community is extremely active, with script writers frequently updating available versions of their favourite applications. To keep up to date with what SlackBuild.org has to offer, subscribe to the <a href="http://lists.slackbuilds.org/mailman/listinfo/slackbuilds-users" class="urlextern" title="http://lists.slackbuilds.org/mailman/listinfo/slackbuilds-users"  rel="nofollow">SlackBuild user</a> mailing list.
</p>

</div>
<!-- EDIT1 SECTION "SlackBuilds" [229-2078] -->
<h2 class="sectionedit2" id="slackbuild_quickstart">SlackBuild Quickstart</h2>
<div class="level2">

<p>
To use a Slackbuild:
</p>
<ol>
<li class="level1"><div class="li">Open a web browser</div>
</li>
<li class="level1"><div class="li">Search for, or navigate to, the tarball of the SlackBuild files and download it.</div>
</li>
<li class="level1"><div class="li">On your local machine, navigate to the downloaded file and untar it: <code>tar -xzvf foo-sbo.tar.gz</code></div>
</li>
<li class="level1"><div class="li">Read the <code>README</code> and <code>*.info</code> files to confirm that you have all the dependencies installed. If you do not, repeat these steps for each dependency, and install each in the order they are required.</div>
</li>
<li class="level1"><div class="li">Download the source code. A Slackbuild script is just that: a script. It does not contain the source code for the application. The source code must be downloaded from the source code&#039;s website.</div>
<ol>
<li class="level2"><div class="li">If there is a stable version of the source code that is more recent than what the Slackbuild was written for, you may change the <code>$VERSION</code> setting in the Slackbuild script to match the new version number.</div>
</li>
</ol>
</li>
<li class="level1"><div class="li">Move the source code tarball into the SlackBuild directory: <code>mv foo-src.tar.gz foo-sbo/</code></div>
</li>
<li class="level1"><div class="li">Change directory into the SlackBuild directory.</div>
</li>
<li class="level1"><div class="li">Make the SlackBuild script to be executable: <code>chmod +x foo.SlackBuild</code></div>
</li>
<li class="level1"><div class="li">Run the SlackBuild, as root: <code>su -c “./foo.SlackBuild” </code></div>
</li>
<li class="level1"><div class="li">Install the resulting package: <code>su -c “installpkg /tmp/foo_sbo.tgz” </code></div>
</li>
</ol>

</div>
<!-- EDIT2 SECTION "SlackBuild Quickstart" [2079-3317] -->
<h2 class="sectionedit3" id="using_sbopkg">Using Sbopkg</h2>
<div class="level2">

<p>
Prior to the release of Slackware 12.1, a frontend to Slackbuilds.org called <code>sbopkg</code> was released. <code>Sbopkg</code> is a command-line and dialog-based tool to mirror the SlackBuilds.org repository and to operate on the local copy or to operate on a user&#039;s own repository of SlackBuild scripts. Sbopkg allows the user to browse the local copy, read associated <code>ChangeLogs</code>, view pertinent <code>README</code> files, read and modify the SlackBuild script itself, the <code>.info</code> file, and the <code>slack-desc</code> files. <code>Sbopkg</code> also allows the user to select packages to build and will even download the source code for the user, check the <code>md5sum</code>, and build a Slackware package. It will also optionally install the package onto the system.
</p>

<p>
<code>Sbopkg</code> does not check or resolve dependencies. It does not automatically install packages. It does not track what has been installed. In other words, this is in no way <code>apt-get</code> or <code>rpm</code> for Slackware; it is a local front-end for <a href="http://slackbuilds.org" class="urlextern" title="http://slackbuilds.org"  rel="nofollow">http://slackbuilds.org</a> and does not duplicate or overlap the function of <code>pkgtool</code> or the responsibilities of the user as the primary manager of the system.
</p>

<p>
To obtain <code>sbopkg</code>, visit <a href="http://sbopkg.org" class="urlextern" title="http://sbopkg.org"  rel="nofollow">http://sbopkg.org</a> and download the Slackware package. Then, open a terminal and use either <code>pkgtool</code> or <code>installpkg</code>:
</p>
<pre class="code">$ su -c &#039;installpkg sbopkg-VERSION-noarch_1-cng.tgz&#039;</pre>

<p>
Among the files installed along with <code>sbopkg</code> is <code>/etc/sbopkg/sbopkg.conf</code>,
which contains all pertinent configuration options for sbopkg. You might want to review it, but it is safe to use the default settings. To start <code>sbopkg</code>, launch it as root by typing <code>su -lc sbopkg</code> (the <code>-l</code> obtains the root environment, which some packages require).
</p>
<div class="thumb2 tcenter" style="width:588px"><div class="thumbinner"><a href="/handbook/lib/exe/detail.php?id=slackbuilds&amp;media=sbopkg.png" class="media" title="sbopkg.png"><img src="/handbook/lib/exe/fetch.php?media=sbopkg.png" class="mediabox2" alt="" /></a><div class="thumbcaption">The sbopkg interface.</div></div></div>
<p>
Upon first launch, <code>sbopkg</code> creates, as defined in the <code>sbopkg.conf</code> file:
</p>
<ul>
<li class="level1"><div class="li">A local copy of the scripts available from <a href="http://slackbuilds.org" class="urlextern" title="http://slackbuilds.org"  rel="nofollow">http://slackbuilds.org</a>, by default located in <code>/var/lib/sbopkg/SBo/x</code> (where x is the latest stable release of Slackware)</div>
</li>
<li class="level1"><div class="li">A log in <code>/var/log/sbopkg</code></div>
</li>
<li class="level1"><div class="li">A queue directory in <code>/var/sbopkg/queues</code></div>
</li>
<li class="level1"><div class="li">A cache in <code>/var/cache/sbopkg</code></div>
</li>
<li class="level1"><div class="li">A local <code>tmp</code> directory called <code>/tmp/sbopkg</code></div>
</li>
</ul>

<p>
After sbopkg has launched, the user is delivered to an ncurses (a simple <abbr title="Graphical User Interface">GUI</abbr> drawn in the shell) interface; use the <code>Up</code> and <code>Down</code> arrow keys to navigate through the main menu, and the <code>Right</code> and <code>Left</code> arrow keys to select which button on the bottom of the menu (<code>OK</code>, <code>Cancel</code>, <code>Back</code>, etc). The <code>Return</code> key, as you might expect, makes a selection.
</p>

<p>
The first step with <code>sbopkg</code> is to sync with the remote server; this is the top
selection in the <code>sbopkg</code> main menu. This copies all available scripts from
SlackBuilds.org and saves them into directories corresponding with the
categories defined by SlackBuilds.org (academic, accessibility, audio, etc).
This allows the user to browse the mirrored repository in <code>sbopkg</code> whether or not
the user is online, and also modify the scripts before using them to install
software.
</p>

<p>
After the initial rsync, the user can view the SlackBuilds.org ChangeLog, which
documents the most recent updates applied to the SlackBuild repository, whether
these are bug fixes in the scripts or updated packages.
</p>

<p>
Finding a package to install is done with the <code>Browse</code> menu selection, or the 
<code>Search</code> selection. <code>Browse</code> shows a list of top-level categories as
defined by SlackBuilds.org; use the <code>Return</code> key to select a category and browse
through the packages. Pressing <code>Return</code> again displays the details about a
package. To return to the list of packages or to the list of categories, use the Right arrow to select the Back button on the bottom row of the <code>sbopkg</code> interface, and press <code>Return</code> or type <code>Alt B</code>. 
</p>
<!-- EDIT4 PLUGIN_WRAP_START [0-] --><div class="wrap_tip plugin_wrap">
<p>
The convention of using the <code>Up</code> and <code>Down</code> arrow keys for the top menu of <code>sbopkg</code> and the <code>Right</code> and <code>Left</code> arrows for the bottom row is used throughout <code>sbopkg</code>, except in textbox dialogs where the arrows scroll the text.
</p>
</div><!-- EDIT5 PLUGIN_WRAP_END [0-] -->
<p>
The search function in <code>sbopkg</code> works as would be expected: hit <code>Return</code> on <strong>Search</strong> and type in term you are searching for into the search field. Searches are case-insensitive and wildcarded; if a search is performed for the term “ink”
then <code>sbopkg</code> will return “link-grammar”, “inkscape”, “libnfnetlink”, “elinks”,
“wink”, and so on. Common <code>BASH</code> wildcard characters are also supported, such that a
search for “?ink*” returns the same list minus “inkscape”, which has no
character prior to “ink”.
</p>

</div>
<!-- EDIT3 SECTION "Using Sbopkg" [3318-7882] -->
<h3 class="sectionedit6" id="building_and_installing_with_sbopkg">Building and Installing with Sbopkg</h3>
<div class="level3">

<p>
<code>Sbopkg</code> can build and install software. These are two separate processes. If you
elect to only build software, the resulting Slackware package (the <code>.tgz</code> file) is
left in <code>/tmp</code> by default. This location is controlled by the <code>OUTPUT</code> variable in
the <code>sbopkg.conf</code> file. It can then be installed via <code>pkgtool</code> or <code>installpkg</code>, or taken to other machines of the same architecture and installed on those, or simply
stored for later use. Alternatively, <code>sbopkg</code> can be set to install the software
after it has been compiled.
</p>

<p>
Building and/or installing can be done from different places; the <code>Build</code> item is the final menu item on each individual package menu of un-built packages, and it is invoked with the <code>Process Queue</code> item in the <code>Queue</code> sub-menus. <code>Sbopkg</code> will
prompt the user to perform only a build of the software or a build-and-install. 
</p>

<p>
Slackermedia recommends build-and-install for single or small groups of users in which compile time is not an issue; for building larger install bases, it may be more efficient to build once and install the resulting binary rather than having each computer compile it individually.
</p>

<p>
To build or install a package via <code>sbopkg</code>, the first step should always be to view the <code>README</code> file. This displays a brief description of the application about to be installed, any options that may be passed to the SlackBuild, and any applications upon which the application depends (required dependencies can always be found on SlackBuilds.org). <code>Sbopkg</code> does not automatically resolve dependencies so it is up to the user to ensure that all listed dependencies are installed on the system before proceeding. 
</p>

<p>
Assuming that there are no dependencies, view the <code>.info</code> file, which is a SlackBuilds.org-specific file of metadata which lists the canonical program name, the version for which the SlackBuild script was written, the project&#039;s homepage, the exact link where the source code for the program can be downloaded, and the md5sum of that downloadable package.
</p>

<p>
You can also view and edit the build script itself, if you have the knowledge to do so. 
</p>

<p>
A list of all SlackBuild packages installed on the user&#039;s system may be viewed
via the Packages menu selection, which looks at <code>/var/log/sbopkg</code> and displays
the packages installed whose tags match the currently active repo&#039;s tags (by
default, _SBo). Similarly, selecting the Update menu item will compare
installed packages to those available in the local mirror and identify any
packages that have updates available.
</p>

</div>
<!-- EDIT6 SECTION "Building and Installing with Sbopkg" [7883-10477] -->
<h3 class="sectionedit7" id="the_sbopkg_queue">The Sbopkg Queue</h3>
<div class="level3">

<p>
One of the most powerful features of <code>sbopkg</code> is its queue, which makes it possible for a user to create a list of packages to have installed in a particular order and feed that list to <code>sbopkg</code> for batch builds and batch installs. Slackermedia makes extensive use of queue files to co-ordinate which packages should be installed as a basis for a good multimedia system. 
</p>

<p>
To load and process a queue file, launch <code>sbopkg</code> and select <code>Queue</code>. The <code>Queue</code> menu contains items to view the current queue, where you can modify a queue, load an existing queue, save a queue, rename or delete existing queues, add all installed packages to the queue (for creating package templates to enable restoration of the current package list or to transfer to another machine), and to process the current queue.
</p>

<p>
A queue is created from the sbopkg <abbr title="Graphical User Interface">GUI</abbr> by finding a package via either Browse or Search and selecting Add to Queue. This adds the package to a temporary
session-only queue file.
</p>

<p>
A typical use for this would be, for instance, when installing <code>Inkscape</code>. Doing a search for “inkscape” reveals that there is a SlackBuild available, but that it depends on a number of other packages such as <code>pangomm</code>, <code>cairomm</code>, and others. Adding <code>Inkscape</code> to the queue allows the user to then go seek out SlackBuild packages for its dependencies and either install them one by one, or add them to the queue as well. If they are added to the queue, then the queue exists, essentially, in reverse order (that is, the dependencies need to be compiled before the application that depends upon them). Fix this in the <code>Sort Queue</code> submenu by either manually rearranging the order of the queue, or have <code>sbopkg</code> reverse it for you. A simple reversal of the queue sometimes does work, but it may be insufficient since a dependency of one application may have its own dependencies which may require manual re-ordering to do sub-sorts in the queue. 
</p>
<!-- EDIT8 PLUGIN_WRAP_START [0-] --><div class="wrap_tip plugin_wrap">
<p>
As is usually the case with Slackware, there is nothing being done here that you cannot do yourself. If you find the <code>sbopkg</code> interface limiting, you may create queue files manually in any text editor and load the file into <code>sbopkg</code>.
</p>
</div><!-- EDIT9 PLUGIN_WRAP_END [0-] -->
<p>
The Queue menu is accessed from the main <code>sbopkg</code> menu by selecting <code>Queue</code>. From within the <code>Queue</code> screen, you can view the current queue (dynamically created by the
user during an <code>sbopkg</code> session). Also in the <code>Queue</code> screen:
</p>
<ul>
<li class="level1"><div class="li"><code>Sort</code> re-orders the list of applications in the queue.</div>
</li>
<li class="level1"><div class="li"><code>Remove</code> deletes items from the queue.</div>
</li>
<li class="level1"><div class="li"><code>Save</code> the current session&#039;s queue to <code>/var/lib/sbopkg</code>for later use.</div>
</li>
</ul>

<p>
To load a saved queue file into <code>sbopkg</code>, select <code>Queue</code> → <code>Load</code> and check
the desired queuefile(s) in the list. 
</p>

<p>
To run a queue file, select <code>Process Queue</code> from the <code>Queue</code> menu.
</p>

<p>
For example, if you have downloaded a queue file from Slackermedia, then to load it into <code>sbopkg</code>, you can invoke <code>sbopkg</code> as <code>QUEUEDIR=/path/to/dir/containing<em>the</em>queuefile sbopkg</code> and it will appear in the <code>Load</code> list. The queue file would then be loaded into <code>sbopkg</code> and you can view it, modify it, remove or reorder applications, and finally process it.
</p>

</div>
<!-- EDIT7 SECTION "The Sbopkg Queue" [10478-13698] -->
<h3 class="sectionedit10" id="advanced_uses_of_sbopkg">Advanced Uses of sbopkg</h3>
<div class="level3">

<p>
<code>Sbopkg</code> can be used directly from the command line. 
</p>

<p>
Find its usage and options with <code>sbopkg -h</code>, or read about it in detail with <code>man sbopkg</code>. The most direct and simple command is (to use the earlier example):
</p>
<pre class="code">su -lc &quot;sbopkg -i foo&quot;</pre>

<p>
This searches for an application or queue file called “foo” and install it (if it is an application) or the programmes listed in it (if it is a queue file).
</p>

<p>
If both an application and a queue file exists with the same name, you&#039;ll be prompted to specify which you meant. If a queue file is intended, using and specifying the <code>.sqf</code> extension to avoid the prompt.
</p>

<p>
If you know the name of an application and feel confident that you you have met all its dependencies (or can meet them all within the same command), using <code>sbopkg</code> as a command is the easier and simpler than loading the graphical environment.
</p>

<p>
Other command line options include causing <code>sbopkg</code> to rsync to slackbuilds.org, building without installing, diverse search options, viewing changelogs, and so on.
</p>

<p>
It is also possible to maintain a local repository of customized SlackBuilds rather than, or in addition to, synchronizing with SlackBuilds.org. The local repository is stored in <code>/var/lib/sbopkg/local</code> by default and can be made active by either selecting it from <code>Utilities</code> → <code>Repository</code> or by invoking <code>sbopkg</code> as:
</p>
<pre class="code">sbopkg -V local</pre>

<p>
Additionally, the location of the <code>sbopkg</code> repository can be defined in the <code>/etc/sbopkg/sbopkg.conf</code> file. If necessary, you may also pass the <code>-d</code> flag to specify an alternate directory for SlackBuilds repositories or by maintaining two configuration files, since <code>sbopkg</code> can be passed an alternate configuration file (with <code>sbopkg -f foo.conf</code>) on the command line.
</p>

</div>
<!-- EDIT10 SECTION "Advanced Uses of sbopkg" [13699-15519] -->
<h2 class="sectionedit11" id="sport">sport</h2>
<div class="level2">

<p>
<code>Sport</code>, the “Slackware Port” system, is Slackermedia&#039;s shell frontend to <a href="http://slackbuilds.org" class="urlextern" title="http://slackbuilds.org"  rel="nofollow">http://slackbuilds.org</a>. It is meant to be simpler and less interactive than <code>sbopkg</code>,
and it instead emulates the BSD ports system, or the <code>emerge</code> system from Gentoo.
</p>
<div class="thumb2 tcenter" style="width:657px"><div class="thumbinner"><a href="/handbook/lib/exe/detail.php?id=slackbuilds&amp;media=sport.png" class="media" title="sport.png"><img src="/handbook/lib/exe/fetch.php?media=sport.png" class="mediabox2" alt="" /></a><div class="thumbcaption">The sport interface.</div></div></div>
<p>
Like other Slackware package installation applications, <code>sport</code> is not a package manager as you would find in <a href="http://debian.org" class="urlextern" title="http://debian.org"  rel="nofollow">Debian</a> or <a href="http://redhat.com" class="urlextern" title="http://redhat.com"  rel="nofollow">Red Hat</a>. However, it does help you search through your collection of SlackBuilds, read relevant files about each SlackBuild, and then execute the build and install processes.
</p>
<!-- EDIT12 PLUGIN_WRAP_START [0-] --><div class="wrap_tip plugin_wrap">
<p>
Since the most prolific and uniform collection of SlackBuilds is <a href="http://slackbuilds.org" class="urlextern" title="http://slackbuilds.org"  rel="nofollow">http://slackbuilds.org</a>, and since Slackermedia is so heavily reliant upon SlackBuilds.org, <code>sport</code> is largely modeled after the structure of SBo, although it is not restricted to it and technically will work with any collection of builds (such as your own personal collection of modified builds, or those of trusted associates).
</p>
</div><!-- EDIT13 PLUGIN_WRAP_END [0-] -->
<p>
To install <code>sport</code>, download its source code and use <code>sport</code> to install <code>sport</code> (yes, you use <code>sport</code> to install itself):
</p>
<pre class="code">$ git clone https://gitlab.com/slackport/sport.git sport.git
$ cd sport.git
$ su -lc &#039;./sport install .&#039;</pre>

</div>
<!-- EDIT11 SECTION "sport" [15520-16845] -->
<h3 class="sectionedit14" id="setup">Setup</h3>
<div class="level3">

<p>
To use <code>sport</code>, you must have a local repository of SlackBuilds. Since Slackermedia relies heavily upon slackbuilds.org, it is worth while to pull the entire listing of SlackBuild scripts from the site:
</p>
<pre class="code">$ su -c &#039;mkdir -p /usr/ports&#039;
$ su -c &#039;rsync -av rsync://slackbuilds.org /slackbuilds/$(awk &#039;{print $2}&#039; /etc/slackware-version)/ /usr/ports/&#039;</pre>

<p>
If you want to use <code>sport</code> and <code>sbopkg</code> on the same system, consider using the same location that <code>sbopkg</code> uses (or else use the <code>sport</code> location for <code>sbopkg</code>). An example of the former:
</p>
<pre class="code">$ su -c &#039;mkdir -p /var/lib/sbopkg/SBo/$(awk &#039;{print $2}&#039;
$ su -c &#039;rsync -av rsync://slackbuilds.org/slackbuilds/$(awk &#039;{print $2}&#039; /etc/slackware-version) /var/lib/sbopkg/SBo/xx.x/&#039;</pre>

<p>
Before you can use <code>sport</code>, verify the location of your local SlackBuild repository. Open <code>/etc/sport.conf</code> and edit the <code>SBOPATH</code> and <code>MASTER</code> variables. For example, assuming <code>xx.x</code> is your version of Slackware:
</p>
<pre class="code"> 
SBOPATH=/usr/ports

MASTER=&quot;rsync://slackbuilds.org/slackbuilds/xx.x&quot;</pre>

<p>
There are a few different ways to use <code>sport</code>, but it was written with BSD Ports in mind, so its intended workflow mimics the way that the <a href="https://www.freebsd.org/doc/en_US.ISO8859-1/books/handbook/" class="urlextern" title="https://www.freebsd.org/doc/en_US.ISO8859-1/books/handbook/"  rel="nofollow">BSD Handbook</a> guides users through the intended usage of their Ports system.
</p>

<p>
In general, the workflow would be:
</p>
<ol>
<li class="level1"><div class="li">Search for a term or package name that you want to install</div>
</li>
<li class="level1"><div class="li">Read about the package you find in order to learn about what libraries and other applications it depends on, as well as any important build notes</div>
</li>
<li class="level1"><div class="li">Download, build, install</div>
</li>
</ol>

<p>
These tasks are each individual commands within the <code>sport</code> toolset. For each flag, you can use every common convention for switches. For example, these all do the same thing:
</p>
<ul>
<li class="level1"><div class="li"><code>sport –search foo</code></div>
</li>
<li class="level1"><div class="li"><code>sport search foo</code></div>
</li>
<li class="level1"><div class="li"><code>sport s foo</code></div>
</li>
<li class="level1"><div class="li"><code>sport -s foo</code></div>
</li>
</ul>

</div>
<!-- EDIT14 SECTION "Setup" [16846-18764] -->
<h3 class="sectionedit15" id="sport_walkthrough">Sport Walkthrough</h3>
<div class="level3">

<p>
The first step in the workflow is to find what you want to install. If you only have an idea of what you want, then you&#039;ll want to search for matches to some keyword:
</p>
<pre class="code"># sport search foo
network/emacs-foo.tar.gz ... emacs-foo (imaginary emacs mode)
network/foo.tar.gz ... foo (fake network tool)
audio/kfooplayer.tar.gz ... kfooplayer (fake audio tool)</pre>

<p>
The search function of <code>sport</code> performs a fuzzy search on any term you provide. A search for “foo” therefore returns the category and packages names for both the stand-alone <code>foo</code> and, in this example, the <code>emacs-foo</code>. It also returns a string in which “foo” appears; as in <code>kfooplayer</code>.
</p>
<!-- EDIT16 PLUGIN_WRAP_START [0-] --><div class="wrap_tip plugin_wrap">
<p>
If you only want to browse through your SlackBuilds tree without having to think up search terms, cd into <code>/usr/ports</code> (or whatever you have set <code>SBOPATH</code> to) and browse its contents.
</p>
</div><!-- EDIT17 PLUGIN_WRAP_END [0-] -->
<p>
From this point on, <code>sport</code> interaction is <em>not</em> fuzzy as the <code>search</code> is; use the proper name of the application from here on:
</p>

<p>
If you find something of interest but want to see if you already have it installed, use <code>sport check</code>:
</p>
<pre class="code"># sport check foo</pre>

<p>
If nothing is returned, then you do not have that application installed.
</p>

<p>
The next step in the typical workflow is to read about the package you are about to install, so that you know about any important build configuration
options, or dependencies that you should install first. Use <code>sport cat</code> to see all relevant notes in a SlackBuild. 
</p>
<pre class="code">$ sport c foo</pre>

<p>
If you have changed directories into your SlackBuild tree and are in the same directory as the SlackBuild file, you can cheat and provide the path to the package with a dot-slash:
</p>
<pre class="code">$ sport cat ./foo</pre>

<p>
Or if you are in the SlackBuild&#039;s directory, just use a dot.
</p>
<pre class="code">$ sport cat .</pre>

<p>
This displays the <code>README</code> and the .info files of the package, so that you can see what the application claims to do, and what dependencies are recommended and required.
</p>

<p>
If the package you want to install has dependencies, you should resolve those dependencies before continuing. Unlike the BSD Ports and Gentoo emerge systems, <code>sport</code> does not resolve dependencies for you. That way, if you have already have a package or a SlackBuild for a dependency (or you prefer to compile it yourself), you can use it instead of whatever an automated “package manager”
happens to find lying around.
</p>
<!-- EDIT18 PLUGIN_WRAP_START [0-] --><div class="wrap_important plugin_wrap">
<p>
<em>Resolving dependencies</em> may sound mysterious but all it means is that you will have to install some additional system libraries or smaller applications before you install the application you are trying to obtain. To resolve the dependencies of <code>foo</code>, you would take note of the libraries it requires (<code>bar</code> and <code>baz</code>) and then use <code>sport</code> to install each one before then installing <code>foo</code> itself.
</p>
</div><!-- EDIT19 PLUGIN_WRAP_END [0-] -->
<p>
Once you have resolved all dependencies, you are ready to build the package. There are two commands you can use; <code>sport install</code> will build the package and install it onto your system (leaving a copy of the finished Slack package in the default build location for SBo packages: <code>/tmp</code>), while <code>sport install –build-only</code> just compiles the code but does <em>not</em> install the package.
</p>
<pre class="code">$ su -lc &#039;sport install foo&#039;</pre>

<p>
Again, if you are in the directory containing the SlackBuild you want to install, you can cheat and provide the path to the package with a dot, meaning
that the build script is in the current directory:
</p>
<pre class="code">su -lc &#039;sport -i .&#039;</pre>

<p>
If you are fastidious about disk space or keeping a tidy SlackBuilds tree, use <code>sport clean foo</code> to remove the directory containing the source code and
SlackBuild. It of course leaves any compressed copy of your SlackBuild directory (the SlackBuild.org structure).
</p>
<!-- EDIT20 PLUGIN_WRAP_START [0-] --><div class="wrap_alert plugin_wrap">
<p>
If you are <em>not</em> using the SlackBuild.org tree, then you should either keep your originals as compressed .tar.gz archives or you should either modify or not use the clean command.
</p>
</div><!-- EDIT21 PLUGIN_WRAP_END [0-] -->
<p>
<code>sport</code> may be used from anywhere in your filesystem, or you can use it as you “crawl” through your SlackBuild tree. It&#039;s a handy and flexible tool that can help make the potentially repetitious process of downloading, compiling, and installing software easier.
</p>

</div>
<!-- EDIT15 SECTION "Sport Walkthrough" [18765-23064] -->
<h3 class="sectionedit22" id="advanced_sport_usage">Advanced Sport Usage</h3>
<div class="level3">

<p>
Since <code>sport</code> is just a BASH script, you can use the usual BASH conventions to add flexibility to your commands.
</p>

<p>
To pass build options through <code>sport</code>, provide the option (usually defined in the <code>README</code> of the SlackBuild).
</p>
<pre class="code"># WIDGETS=yes sport install foo</pre>

<p>
To pass make flags through sport, use <code>MAKEOPTS</code>.
</p>
<pre class="code"># MAKEOPTS=&#039;-j8&#039; sport install foo</pre>

<p>
If you need to do some special kind of install (such as an <code>upgradepkg</code> rather than an <code>installpkg</code>) then preface your <code>sport -i</code> command with the <code>INSTALLER</code> environment variable:
</p>
<pre class="code"># INSTALLER=upgradepkg sport i .</pre>

<p>
Or something more complex:
</p>
<pre class="code"># INSTALLER=&quot;upgradepkg --install-new&quot; sport -i foo </pre>

<p>
And so on.
</p>

</div>
<!-- EDIT22 SECTION "Advanced Sport Usage" [23065-23828] -->
<h3 class="sectionedit23" id="queue_files">Queue Files</h3>
<div class="level3">

<p>
<code>Sport</code> supports batch, or queue, files.
</p>

<p>
For your initial Slackermedia install actions, you will use a Slackermedia <a href="http://slackermedia.info/downloads" class="urlextern" title="http://slackermedia.info/downloads"  rel="nofollow">queue file</a> but you can also create and
maintain your own queue files. To create your own queue, just echo the package names into a plain text file, newline delimited, in the order you wish for them to be installed.
</p>
<!-- EDIT24 PLUGIN_WRAP_START [0-] --><div class="wrap_alert plugin_wrap">
<p>
In the event of two packages sharing the same name, use both the category and package name. Usually, just the package name will do, as the SlackBuild maintainers try to keep all names unique.
</p>
</div><!-- EDIT25 PLUGIN_WRAP_END [0-] -->
<p>
Here is an example of a simple queue file for the imaginary package <code>foo</code>:
</p>
<pre class="code">baz
bar
foo</pre>

<p>
Save these three lines as <code>foo.list</code> (or any filename; <code>sport</code> does not require any specific extension as long as the file is plain text) and then have <code>sport</code> process it using standard BASH re-direction:
</p>
<pre class="code"># sport $( &lt; foo.list)</pre>

<p>
<code>Sport</code> is not a complex application, but it is quite flexible; for even more details on using <code>sport</code>, view the man and info pages bundled with it. 
</p>

<p>
<a  href='/handbook/doku.php?id=dep'><span class='plugin_button' style='border:0;background:none;width:0;display:inline-block;float:right;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrown.png' /></span><span class='plugin_button_text wikilink1'></span></span></a><a  href='/handbook/doku.php?id=pkg'><span class='plugin_button' style='border:0;background:none;width:0;float:right;'><span class='plugin_button_image'><img src='/handbook/lib/exe/fetch.php?media=arrowp.png' /></span><span class='plugin_button_text wikilink1'></span></span></a>
</p>

</div>
<!-- EDIT23 SECTION "Queue Files" [23829-] -->